<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>数组的定义、初始化及特点详解</title>
<meta name="keywords" content="数组,的,定义,、,初始化,及其,特点,详解,数组," />
<meta name="description" content="数组（Array），就是把有限个数据类型一样的元素按顺序放在一起，用一个变量命名，然后通过编号可以按顺序访问指定位置的元素的一个有序集合。 其实简单来说，就是为了方便而把" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>数组的定义、初始化及特点详解</h1>
			<div id="arc-body">数组（Array），就是把有限个数据类型一样的元素按顺序放在一起，用一个变量命名，然后通过编号可以按顺序访问指定位置的元素的一个有序集合。<br />
<br />
其实简单来说，就是为了方便而把这些元素放在一起。我们通过编号去获取每个元素，这个编号叫作<span style="color:#008000;">下标</span>或者<span style="color:#008000;">索引（Index）</span>，一般的语言是从 0 开始的。<br />
<br />
我们常说的数组一般指一维数组，当然还有多维数组，虽然多维数组并不常用。<br />
<br />
多维的实现其实是数组的某些元素本身也是一个数组，这里以一个标准的二维数组为例进行介绍。其实，二维数组相当于每个元素的长度都一样的一个一维数组（也就是我们常说的数组），和数学中的矩阵类似。<br />
<br />
在很多弱语言中，并不要求每个元素的长度都一样，可以某些元素是数组（长度可以不一样），某些元素不是数组，甚至每个元素的数据类型都不同。这里讲的二维数组指的是标准的二维数组。<br />
<p class="info-box">
	<span style="color:#b22222;">注：</span><span style="color:#008000;">弱类型语言</span>也叫作<span style="color:#008000;">弱类型定义语言</span>，简称<span style="color:#008000;">弱语言</span>。弱语言一般对语言的标准没有特别的要求。比如在 JavaScript 中用 var 声明变量，不会指定该变量是哪种类型。强语言对编写规则比较有要求，所以不容易出现问题，很多开发工具都会帮助检查其基本规则。</p>
在了解了什么是数组之后，我们来看下数组的存储结构。<br />
<h2>
	数组的存储结构</h2>
首先我们来看下一维数组的存储结构，如图 1 所示。
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/180922/1-1P9221334443U.jpg" /><br />
	图 1 数组的存储结构</div>
<br />
其实，我们先要确定一个值，也就是数组的长度；然后，系统会根据我们声明的数据类型开辟一些空间（当然，每种数据类型需要开辟的空间也不一样）。这时，这些空间就归这个变量所有了。一般在编程语言的实现中，这些空间会默认对我们声明的数据类型赋值，比如整型值是 0，布尔值是 false，等等。<br />
<br />
所以有以下几种情况。<br />
1) 只声明了指定长度的空间，没有初始化值（以整型为例，所有值都会默认为 0，如图 2 所示）。
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/180922/1-1P922133515D0.jpg" /><br />
	图 2 在未初始化值时会默认初始化为 0</div>
<br />
2) 声明了指定长度的空间，初始化了部分值（以整型为例，未初始化的值都会默认为 0，如图 3 所示）。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/180922/1-1P92213353C62.jpg" /><br />
	图 3 只初始化了前三个值，其余值自动初始化为 0</div>
<br />
3) 声明了指定长度的空间，初始化了全部的值，如图 4 所示。
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/180922/1-1P92213360CQ.jpg" /><br />
	图 4 初始化了全部的值</div>
<h2>
	数组在编程语言中的初始化及操作</h2>
在多数语言中，数组的声明都是非常简单的，一般有下面几种声明方式（以 Java 语言、整型为例，其他语言、数据类型差异不大）。<br />
<pre class="cpp">
int [] num1 = new int[10];
int [] num2 = {1,2,5};
num3[0]=1;
num3[1]=2;
num3[2]=5;</pre>
数组指定位置的元素的值，是通过下标获取的，下标在大部分语言中是从 0 开始的。<br />
<pre class="cpp">
int [] num= {1,2,5};
int a = num[0];//a 的值为 1
int b = num[1];//b 的值为 2</pre>
为数组赋值，和获取元素的值类似，可以直接赋值。<br />
<pre class="cpp">
int [] num = {1,2,5};
num[1] = 10;//现在 num 的数组元素分别为 1,10,5</pre>
数组常用的另一种方式是按顺序访问每一个值，一般通过编程语言中的循环语句实现（比如 for 循环）。<br />
<pre class="cpp">
int [] num = {1,2,5};
for(int i = 0; i&lt;num.length;i++){
    system.out.println(num[i]);
}</pre>
上面展示了循环打印数组的值的代码，其中 num.length 可以获取数组的长度。细心的同学可以发现这个 length 后面没有括号，是的，这个 length 是数组的内置属性（以 Java 为例，有些语言会同时提供两种或更多的获取数组长度的方式）。<br />
<br />
下面我们看下二维数组的存储结构，如图 5 所示。
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/180922/1-1P922133G4G9.jpg" /><br />
	图 5 二维数组的存储结构</div>
<br />
二维数组的初始化方式实际上和一维数组没有太大的区别，只不过我们需要提前确定第 1 维和第 2 维的长度。<br />
<br />
在图 5 中，第 1 维的长度为3，每维的元素又是一个长度为 6 的数组。<br />
<h2>
	多维数组在编程语言中的初始化及操作</h2>
由于多维数组与一维数组的初始化及访问区别不大，下面集中进行列举。
<pre class="cpp">
int [][] num = new int[3][3];
int [][] num2 = {{1,2,3},{4,5,6},{7,8,9}};
int a = num2[1][0];//a 的值为 4
int b = num2[1].length;//b 的值为3，即第二维的长度</pre>
二维数组的访问方式其实和一维数组和多维数组的访问方式没什么区别，我们只需要理解为数组的元素也是个数组。<br />
<h2>
	数组的特点</h2>
因为本身存储的方式，数组有如下特点。<br />
<h4>
	1) 定长</h4>
数组的长度是固定的，这是数组最重要的一个特点。<br />
<br />
只要我们在声明时确定了数组的长度，在赋值时就算没有给数组的所有元素赋值，未赋值的元素也是有初始默认值的；而如果我们在赋值时发现数组的长度不够用，这时也没有什么好办法，因为数组的长度无法改变。要是想继续存放数据，就只能重新声明一个数组了。<br />
<h4>
	2) 按顺序访问</h4>
我们在访问一个数组中的某个元素时，必须从第 1 个元素开始按顺序访问，直到访问到指定位置的元素。<br />
<br />
这里想说明一点，虽然我们在开发时可以直接通过下标访问指定位置的元素，但是实际上计算机在处理时也是按顺序访问的。<br />
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 106;
window.arcId = "876aehGqXvKiMrHLnL9pS/zWB48V0zhVGok5evYdz4TcbfB35cmIeigSrA";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>