<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>二叉树先序遍历（递归与非递归）及C语言实现</title>
<meta name="keywords" content="二叉,树先,序,遍历,递归,与,非,算法,语言," />
<meta name="description" content="二叉树先序遍历的实现思想是： 访问根节点； 访问当前节点的左子树； 若当前节点无左子树，则访问当前节点的右子树； 以图 1 为例，采用先序遍历的思想遍历该二叉树的过程为：" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>二叉树先序遍历（递归与非递归）及C语言实现</h1>
			<div id="arc-body"><u><a href='/view/326.html' target='_blank'>二叉树</a></u>先序遍历的实现思想是：
<ol>
	<li>
		访问根节点；</li>
	<li>
		访问当前节点的左子<u><a href='/view/325.html' target='_blank'>树</a></u>；</li>
	<li>
		若当前节点无左子树，则访问当前节点的右子树；</li>
</ol>
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS01325394F.png" style="text-align: center; width: 274px; height: 186px;" /><br />
	图 1 二叉树<br />
	&nbsp;</div>
以图&nbsp; 1 为例，采用先序遍历的思想遍历该二叉树的过程为：
<ol>
	<li>
		访问该二叉树的根节点，找到 1；</li>
	<li>
		访问节点 1 的左子树，找到节点 2；</li>
	<li>
		访问节点 2 的左子树，找到节点 4；</li>
	<li>
		由于访问节点 4 左子树失败，且也没有右子树，因此以节点 4 为根节点的子树遍历完成。但节点 2 还没有遍历其右子树，因此现在开始遍历，即访问节点 5；</li>
	<li>
		由于节点 5 无左右子树，因此节点 5 遍历完成，并且由此以节点 2 为根节点的子树也遍历完成。现在回到节点 1 ，并开始遍历该节点的右子树，即访问节点 3；</li>
	<li>
		访问节点 3 左子树，找到节点 6；</li>
	<li>
		由于节点 6 无左右子树，因此节点 6 遍历完成，回到节点 3 并遍历其右子树，找到节点 7；</li>
	<li>
		节点 7 无左右子树，因此以节点 3 为根节点的子树遍历完成，同时回归节点 1。由于节点 1 的左右子树全部遍历完成，因此整个二叉树遍历完成；</li>
</ol>
<br />
因此，图 1 中二叉树采用先序遍历得到的序列为：
<p class="info-box">
	1 2 4 5 3 6 7</p>
<h2>
	递归实现</h2>
二叉树的先序遍历采用的是递归的思想，因此可以递归实现，其 C 语言实现代码为：<br />
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;
#define TElemType int
//构造结点的结构体
typedef struct BiTNode{
    TElemType data;//数据域
    struct BiTNode *lchild,*rchild;//左右孩子指针
}BiTNode,*BiTree;
//初始化树的函数
void CreateBiTree(BiTree *T){
    *T=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;data=1;
    (*T)-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
  
    (*T)-&gt;lchild-&gt;data=2;
    (*T)-&gt;lchild-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;rchild-&gt;data=5;
    (*T)-&gt;lchild-&gt;rchild-&gt;lchild=NULL;
    (*T)-&gt;lchild-&gt;rchild-&gt;rchild=NULL;
    (*T)-&gt;rchild-&gt;data=3;
    (*T)-&gt;rchild-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild-&gt;lchild-&gt;data=6;
    (*T)-&gt;rchild-&gt;lchild-&gt;lchild=NULL;
    (*T)-&gt;rchild-&gt;lchild-&gt;rchild=NULL;
    (*T)-&gt;rchild-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild-&gt;rchild-&gt;data=7;
    (*T)-&gt;rchild-&gt;rchild-&gt;lchild=NULL;
    (*T)-&gt;rchild-&gt;rchild-&gt;rchild=NULL;
    (*T)-&gt;lchild-&gt;lchild-&gt;data=4;
    (*T)-&gt;lchild-&gt;lchild-&gt;lchild=NULL;
    (*T)-&gt;lchild-&gt;lchild-&gt;rchild=NULL;
}

//模拟操作结点元素的函数，输出结点本身的数值
void displayElem(BiTNode* elem){
    printf(&quot;%d &quot;,elem-&gt;data);
}
//先序遍历
void PreOrderTraverse(BiTree T){
    if (T) {
        displayElem(T);//调用操作结点数据的函数方法
        PreOrderTraverse(T-&gt;lchild);//访问该结点的左孩子
        PreOrderTraverse(T-&gt;rchild);//访问该结点的右孩子
    }
    //如果结点为空，返回上一层
    return;
}
int main() {
    BiTree Tree;
    CreateBiTree(&amp;Tree);
    printf(&quot;先序遍历: \n&quot;);
}</pre>
运行结果：
<div class="info-box">
	先序遍历:<br />
	1 2 4 5 3 6 7</div>
<h2>
	非递归实现</h2>
而递归的底层实现依靠的是<u><a href='/view/300.html' target='_blank'>栈</a></u>存储结构，因此，二叉树的先序遍历既可以直接采用递归思想实现，也可以使用栈的存储结构模拟递归的思想实现，其 C 语言实现代码为：<br />
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;
#define TElemType int
int top=-1;//top变量时刻表示栈顶元素所在位置
//构造结点的结构体
typedef struct BiTNode{
    TElemType data;//数据域
    struct BiTNode *lchild,*rchild;//左右孩子指针
}BiTNode,*BiTree;
//初始化树的函数
void CreateBiTree(BiTree *T){
    *T=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;data=1;
    (*T)-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;data=2;
    (*T)-&gt;lchild-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;rchild-&gt;data=5;
    (*T)-&gt;lchild-&gt;rchild-&gt;lchild=NULL;
    (*T)-&gt;lchild-&gt;rchild-&gt;rchild=NULL;
    (*T)-&gt;rchild-&gt;data=3;
    (*T)-&gt;rchild-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild-&gt;lchild-&gt;data=6;
    (*T)-&gt;rchild-&gt;lchild-&gt;lchild=NULL;
    (*T)-&gt;rchild-&gt;lchild-&gt;rchild=NULL;
    (*T)-&gt;rchild-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild-&gt;rchild-&gt;data=7;
    (*T)-&gt;rchild-&gt;rchild-&gt;lchild=NULL;
    (*T)-&gt;rchild-&gt;rchild-&gt;rchild=NULL;
    (*T)-&gt;lchild-&gt;lchild-&gt;data=4;
    (*T)-&gt;lchild-&gt;lchild-&gt;lchild=NULL;
    (*T)-&gt;lchild-&gt;lchild-&gt;rchild=NULL;
}
//前序遍历使用的进栈函数
void push(BiTNode** a,BiTNode* elem){
    a[++top]=elem;
}
//弹栈函数
void pop( ){
    if (top==-1) {
        return ;
    }
    top--;
}
//模拟操作结点元素的函数，输出结点本身的数值
void displayElem(BiTNode* elem){
    printf(&quot;%d &quot;,elem-&gt;data);
}
//拿到栈顶元素
BiTNode* getTop(BiTNode**a){
    return a[top];
}
//先序遍历非递归算法
void PreOrderTraverse(BiTree Tree){
    BiTNode* a[20];//定义一个<u><a href='/view/301.html' target='_blank'>顺序栈</a></u>
    BiTNode * p;//临时指针
    push(a, Tree);//根结点进栈
    while (top!=-1) {
        p=getTop(a);//取栈顶元素
        pop();//弹栈
        while (p) {
            displayElem(p);//调用结点的操作函数
            //如果该结点有右孩子，右孩子进栈
            if (p-&gt;rchild) {
                push(a,p-&gt;rchild);
            }
            p=p-&gt;lchild;//一直指向根结点最后一个左孩子
        }
    }
}
int main(){
    BiTree Tree;
    CreateBiTree(&amp;Tree);
    printf(&quot;先序遍历: \n&quot;);
    PreOrderTraverse(Tree);
}</pre>
运行结果
<div class="info-box">
	先序遍历:<br />
	1 2 4 5 3 6 7</div>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 143;
window.arcId = "7b41LdJJXXxORq4vGPR5DIarTazn7TvpjDiBdnVwEv+fHl+LBG9iG8L0lQ";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>