<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>顺序表（顺序存储结构）及初始化过程详解</title>
<meta name="keywords" content="顺序,表,及,初始化,过程,详解,顺序,表,及," />
<meta name="description" content="顺序表 ，全名 顺序存储结构 ，是线性表的一种。我们知道，线性表用于存储逻辑关系为一对一的数据，顺序表也不例外。 不仅如此，顺序表对数据的物理存储结构也有要求。 顺序表" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>顺序表（顺序存储结构）及初始化过程详解</h1>
			<div id="arc-body"><span style="color:#008000;"><u><a href='/view/288.html' target='_blank'>顺序表</a></u></span>，全名<span style="color:#008000;">顺序存储结构</span>，是<u><a href='/view/287.html' target='_blank'>线性表</a></u>的一种。通过《<a href="/view/157.html" target="_blank">线性表</a>》一节的学习我们知道，线性表用于存储逻辑关系为&ldquo;一对一&rdquo;的数据，顺序表自然也不例外。<br />
<br />
不仅如此，顺序表对数据的物理存储结构也有要求。<span style="color:#b22222;">顺序表存储数据时，会提前申请一整块足够大小的物理空间，然后将数据依次存储起来，存储时做到数据元素之间不留一丝缝隙。</span><br />
<br />
例如，使用顺序表存储集合 <code>{1,2,3,4,5}</code>，数据最终的存储状态如图 1 所示：
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/181121/2-1Q121202555F0.gif" /><br />
	图 1 顺序存储结构示意图</div>
<br />
由此我们可以得出，将&ldquo;具有 &#39;一对一&#39; 逻辑关系的数据按照次序连续存储到一整块物理空间上&rdquo;的存储结构就是顺序存储结构。<br />
<br />
通过观察图 1 中数据的存储状态，我们可以发现，顺序表存储数据同数组非常接近。其实，顺序表存储数据使用的就是数组。<br />
<h2>
	顺序表的初始化</h2>
使用顺序表存储数据之前，除了要申请足够大小的物理空间之外，为了方便后期使用表中的数据，顺序表还需要实时记录以下 2 项数据：
<ol>
	<li>
		顺序表申请的存储容量；</li>
	<li>
		顺序表的长度，也就是表中存储数据元素的个数；</li>
</ol>
<p class="info-box">
	<span style="color:#b22222;">提示：</span>正常状态下，顺序表申请的存储容量要大于顺序表的长度。</p>
因此，我们需要自定义顺序表，C 语言实现代码如下：<br />
<pre class="cpp">
typedef struct Table{
    int * head;//声明了一个名为head的长度不确定的数组，也叫&ldquo;动态数组&rdquo;
    int length;//记录当前顺序表的长度
    int size;//记录顺序表分配的存储容量
}table;</pre>
注意，head 是我们声明的一个未初始化的动态数组，不要只把它看做是普通的指针。<br />
<br />
接下来开始学习顺序表的初始化，也就是初步建立一个顺序表。建立顺序表需要做如下工作：
<ul>
	<li>
		给 head 动态数据申请足够大小的物理空间；</li>
	<li>
		给 size 和 length 赋初值；</li>
</ul>
<br />
因此，C 语言实现代码如下：
<pre class="cpp">
#define Size 5 //对Size进行宏定义，表示顺序表申请空间的大小
table initTable(){
    table t;
    t.head = (int*)malloc(Size * sizeof(int));//构造一个空的顺序表，动态申请存储空间
    if (!t.head) //如果申请失败，作出提示并直接退出程序
    {
        printf(&quot;初始化失败&quot;);
        exit(0);
    }
    t.length = 0;//空表的长度初始化为0
    t.size = Size;//空表的初始存储空间为Size
    return t;
}</pre>
我们看到，整个顺序表初始化的过程被封装到了一个函数中，此函数返回值是一个已经初始化完成的顺序表。这样做的好处是增加了代码的可用性，也更加美观。与此同时，顺序表初始化过程中，要注意对物理空间的申请进行判断，对申请失败的情况进行处理，这里只进行了&ldquo;输出提示信息和强制退出&rdquo;的操作，可以根据你自己的需要对代码中的 if 语句进行改进。<br />
<br />
通过在主函数中调用 initTable 语句，就可以成功创建一个空的顺序表，与此同时我们还可以试着向顺序表中添加一些元素，C 语言实现代码如下：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;  //malloc()、exit()
#define Size 5
typedef struct Table {
    int * head;
    int length;
    int size;
}table;
table initTable() {
    table t;
    t.head = (int*)malloc(Size * sizeof(int));
    if (!t.head)
    {
        printf(&quot;初始化失败&quot;);
        exit(0);
    }
    t.length = 0;
    t.size = Size;
    return t;
}
//输出顺序表中元素的函数
void displayTable(table t) {
    int i;
    for (i = 0; i &lt; t.length; i++) {
        printf(&quot;%d &quot;, t.head[i]);
    }
    printf(&quot;\n&quot;);
}
int main() {
    int i;
    table t = initTable();
    //向顺序表中添加元素
    for (i = 1; i &lt;= Size; i++) {
        t.head[i - 1] = i;
        t.length++;
    }
    printf(&quot;顺序表中存储的元素分别是：\n&quot;);
    displayTable(t);
    return 0;
}</pre>
程序运行结果如下：
<p class="info-box">
	顺序表中存储的元素分别是：<br />
	1 2 3 4 5</p>
可以看到，顺序表初始化成功。</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 158;
window.arcId = "08bftoUIb5Xb6enXdGOF2OXmg0Kzr8Cuoah7uO02nkomTjhZsaUDQa1Tqw";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>