<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>链表（链式存储结构）及创建（C语言详解版）</title>
<meta name="keywords" content="链表,链式,存储,结构,及,创建,语言,详解,前面," />
<meta name="description" content="前面章节详细地介绍顺序表，本节给大家介绍另外一种线性存储结构 链表 。 链表，别名 链式存储结构 或 单链表 ，用于存储逻辑关系为 一对一 的数据。 与顺序表不同，链表不限制数" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>链表（链式存储结构）及创建（C语言详解版）</h1>
			<div id="arc-body">前面详细地介绍了<a href="/view/158.html" target="_blank">顺序表</a>，本节给大家介绍另外一种线性存储结构&mdash;&mdash;<span style="color:#008000;"><u><a href='/view/290.html' target='_blank'>链表</a></u></span>。<br />
<br />
链表，别名<span style="color:#008000;">链式存储结构</span>或<span style="color:#008000;">单链表</span>，用于存储逻辑关系为 &quot;一对一&quot; 的数据。<span style="color:#b22222;">与<u><a href='/view/288.html' target='_blank'>顺序表</a></u>不同，链表不限制数据的物理存储状态，换句话说，使用链表存储的数据元素，其物理存储位置是随机的。</span><br />
<br />
例如，使用链表存储 <code>{1,2,3}</code>，数据的物理存储状态如图 1 所示：
<div style="text-align: center;">
	<br />
	<img alt="链表随机存储数据" src="/uploads/allimg/181123/2-1Q12321231CA.gif" /><br />
	图 1 链表随机存储数据</div>
<br />
我们看到，图 1 根本无法体现出各数据之间的逻辑关系。对此，链表的解决方案是，每个数据元素在存储时都配备一个指针，用于指向自己的直接后继元素。如图 2 所示：
<div style="text-align: center;">
	<br />
	<img alt="各数据元素配备指针" src="/uploads/allimg/181123/2-1Q12321243O36.gif" /><br />
	图 2 各数据元素配备指针</div>
<br />
像图 2 这样，<span style="color:#b22222;">数据元素随机存储，并通过指针表示数据之间逻辑关系的存储结构就是</span><span style="color:#008000;">链式存储结构</span>。<br />
<h2>
	链表的节点</h2>
从图 2 可以看到，链表中每个数据的存储都由以下两部分组成：
<ol>
	<li>
		数据元素本身，其所在的区域称为<span style="color:#008000;">数据域</span>；</li>
	<li>
		指向直接后继元素的指针，所在的区域称为<span style="color:#008000;">指针域</span>；</li>
</ol>
<br />
即链表中存储各数据元素的结构如图 3 所示：
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/181123/2-1Q1232126112G.gif" /><br />
	图 3 节点结构</div>
<br />
图 3 所示的结构在链表中称为<span style="color:#008000;">节点</span>。也就是说，链表实际存储的是一个一个的节点，真正的数据元素包含在这些节点中，如图 4 所示：
<div style="text-align: center;">
	<br />
	<img alt="链表中的节点" src="/uploads/allimg/181123/2-1Q123212Q3337.gif" /><br />
	图 4 链表中的节点</div>
<br />
因此，链表中每个节点的具体实现，需要使用 C 语言中的结构体，具体实现代码为：<br />
<pre class="cpp">
typedef struct Link{
    char elem; //代表数据域
    struct Link * next; //代表指针域，指向直接后继元素
}link; //link为节点名，每个节点都是一个 link 结构体</pre>
提示，由于指针域中的指针要指向的也是一个节点，因此要声明为 Link 类型（这里要写成 <code>struct Link*</code> 的形式）。<br />
<h2>
	头节点，头指针和首元节点</h2>
其实，图 4 所示的链表结构并不完整。一个完整的链表需要由以下几部分构成：
<ol>
	<li>
		<span style="color:#008000;">头指针</span>：一个普通的指针，它的特点是永远指向链表第一个节点的位置。很明显，头指针用于指明链表的位置，便于后期找到链表并使用表中的数据；</li>
	<li>
		<span style="color:#008000;">节点</span>：链表中的节点又细分为<span style="color:#008000;">头节点</span>、<span style="color:#008000;">首元节点</span>和其他节点：
		<ul>
			<li>
				<span style="color:#008000;">头节点</span>：其实就是一个不存任何数据的空节点，通常作为链表的第一个节点。对于链表来说，头节点不是必须的，它的作用只是为了方便解决某些实际问题；</li>
			<li>
				<span style="color:#008000;">首元节点</span>：由于头节点（也就是空节点）的缘故，链表中称第一个存有数据的节点为首元节点。首元节点只是对链表中第一个存有数据节点的一个称谓，没有实际意义；</li>
			<li>
				其他节点：链表中其他的节点；</li>
		</ul>
	</li>
</ol>
<br />
因此，一个存储 <code>{1,2,3}</code> 的完整链表结构如图 5 所示：
<div style="text-align: center;">
	<br />
	<img alt="完整的链表示意图" src="/uploads/allimg/181123/2-1Q123213124343.gif" /><br />
	图 5 完整的链表示意图</div>
<p class="info-box">
	<span style="color:#b22222;">注意</span>：链表中有头节点时，头指针指向头节点；反之，若链表中没有头节点，则头指针指向首元节点。</p>
明白了链表的基本结构，下面我们来学习如何创建一个链表。<br />
<h2>
	链表的创建（初始化）</h2>
创建一个链表需要做如下工作：
<ol>
	<li>
		声明一个头指针（如果有必要，可以声明一个头节点）；</li>
	<li>
		创建多个存储数据的节点，在创建的过程中，要随时与其前驱节点建立逻辑关系；</li>
</ol>
<br />
例如，创建一个存储 <code>{1,2,3,4}</code> 且无头节点的链表，C 语言实现代码如下：
<pre class="cpp">
link * initLink() {
    int i;
    link * p = NULL;//创建头指针
    link * temp = (link*)malloc(sizeof(link));//创建首元节点
    //首元节点先初始化
    temp-&gt;elem = 1;
    temp-&gt;next = NULL;
    p = temp;//头指针指向首元节点
    //从第二个节点开始创建
    for (i = 2; i &lt; 5; i++) {
        //创建一个新节点并初始化
        link *a = (link*)malloc(sizeof(link));
        a-&gt;elem = i;
        a-&gt;next = NULL;
        //将temp节点与新建立的a节点建立逻辑关系
        temp-&gt;next = a;
        //指针temp每次都指向新链表的最后一个节点，其实就是 a节点，这里写temp=a也对
        temp = temp-&gt;next;
    }
    //返回建立的节点，只返回头指针 p即可，通过头指针即可找到整个链表
    return p;
}</pre>
如果想创建一个存储 <code>{1,2,3,4}</code> 且含头节点的链表，则 C 语言实现代码为：
<pre class="cpp">
link * initLink(){
    int i;
    link * p=(link*)malloc(sizeof(link));//创建一个头结点
    link * temp=p;//声明一个指针指向头结点，
    //生成链表
    for (i=1; i&lt;5; i++) {
        link *a=(link*)malloc(sizeof(link));
        a-&gt;elem=i;
        a-&gt;next=NULL;
        temp-&gt;next=a;
        temp=temp-&gt;next;
    }
    return p;
}</pre>
<br />
我们只需在主函数中调用 initLink 函数，即可轻松创建一个存储 <code>{1,2,3,4}</code> 的链表，C 语言完整代码如下：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
//链表中节点的结构
typedef struct Link {
    int  elem;
    struct Link *next;
}link;
//初始化链表的函数
link * initLink();
//用于输出链表的函数
void display(link *p);

int main() {
    link*p = NULL;
    //初始化链表（1，2，3，4）
    printf(&quot;初始化链表为：\n&quot;);
    p = initLink();
    display(p);
    return 0;
}

link * initLink() {
    int i;
    link * p = NULL;//创建头指针
    link * temp = (link*)malloc(sizeof(link));//创建首元节点
    //首元节点先初始化
    temp-&gt;elem = 1;
    temp-&gt;next = NULL;
    p = temp;//头指针指向首元节点
    for (i = 2; i &lt; 5; i++) {
        link *a = (link*)malloc(sizeof(link));
        a-&gt;elem = i;
        a-&gt;next = NULL;
        temp-&gt;next = a;
        temp = temp-&gt;next;
    }
    return p;
}
void display(link *p) {
    link* temp = p;//将temp指针重新指向头结点
    //只要temp指针指向的结点的next不是Null，就执行输出语句。
    while (temp) {
        printf(&quot;%d &quot;, temp-&gt;elem);
        temp = temp-&gt;next;
    }
    printf(&quot;\n&quot;);
}</pre>
程序运行结果为：
<p class="info-box">
	初始化链表为：<br />
	1 2 3 4</p>
<br />
注意，如果使用带有头节点创建链表的方式，则输出链表的 display 函数需要做适当地修改：
<pre class="cpp">
void display(link *p){
    link* temp=p;//将temp指针重新指向头结点
    //只要temp指针指向的结点的next不是Null，就执行输出语句。
    while (temp-&gt;next) {
        temp=temp-&gt;next;
        printf(&quot;%d&quot;,temp-&gt;elem);
    }
    printf(&quot;\n&quot;);
}</pre>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 160;
window.arcId = "5351GUISqT5D+wSoeFDqnlrXc1XfU87x5L6YMBqZZJnR6ukRUhHBz3BYbA";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>