<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>双向链表基本操作（C语言实现）详解</title>
<meta name="keywords" content="双向,链表,基本操作,语言,实现,详解,双向," />
<meta name="description" content="前面学习了如何创建一个双向链表，本节学习有关双向链表的一些基本操作，即如何在双向链表中添加、删除、查找或更改数据元素。 本节知识基于已熟练掌握双向链表创建过程的基础" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>双向链表基本操作（C语言实现）详解</h1>
			<div id="arc-body">前面学习了如何创建一个<u><a href='/view/294.html' target='_blank'>双向链表</a></u>，本节学习有关双向<u><a href='/view/290.html' target='_blank'>链表</a></u>的一些基本操作，即如何在双向链表中添加、删除、查找或更改数据元素。<br />
<br />
本节知识基于已熟练掌握双向链表创建过程的基础上，我们继续上节所创建的双向链表来学习本节内容，创建好的双向链表如图 1 所示：
<div style="text-align: center;">
	<br />
	<img alt="双向链表示意图" src="/uploads/allimg/181129/2-1Q12ZQIWK.gif" /><br />
	图 1 双向链表示意图</div>
<h2>
	双向链表添加节点</h2>
根据数据添加到双向链表中的位置不同，可细分为以下 3 种情况：<br />
<h4>
	1) 添加至表头</h4>
将新数据元素添加到表头，只需要将该元素与表头元素建立双层逻辑关系即可。<br />
<br />
换句话说，假设新元素节点为 temp，表头节点为 head，则需要做以下 2 步操作即可：
<ol>
	<li>
		temp-&gt;next=head; head-&gt;prior=temp;</li>
	<li>
		将 head 移至 temp，重新指向新的表头；</li>
</ol>
<br />
例如，将新元素 7 添加至双链表的表头，则实现过程如图 2 所示：
<div style="text-align: center;">
	<br />
	<img alt="添加元素至双向链表的表头" src="/uploads/allimg/181129/2-1Q12ZQT5263.gif" /><br />
	图 2 添加元素至双向链表的表头</div>
<h4>
	2) 添加至表的中间位置</h4>
同单链表添加数据类似，双向链表中间位置添加数据需要经过以下 2 个步骤，如图 3 所示：
<ol>
	<li>
		新节点先与其直接后继节点建立双层逻辑关系；</li>
	<li>
		新节点的直接前驱节点与之建立双层逻辑关系；</li>
</ol>
<div style="text-align: center;">
	<br />
	<img alt="双向链表中间位置添加数据元素" src="/uploads/allimg/181129/2-1Q12ZQ915562.gif" /><br />
	图 3 双向链表中间位置添加数据元素</div>
<h4>
	3) 添加至表尾</h4>
与添加到表头是一个道理，实现过程如下（如图 4 所示）：
<ol>
	<li>
		找到双链表中最后一个节点；</li>
	<li>
		让新节点与最后一个节点进行双层逻辑关系；</li>
</ol>
<div style="text-align: center;">
	<br />
	<img alt="双向链表尾部添加数据元素" src="/uploads/allimg/181129/2-1Q12ZR0305L.gif" /><br />
	图 4 双向链表尾部添加数据元素</div>
<br />
因此，我们可以试着编写双向链表添加数据的 C 语言代码，参考代码如下：
<pre class="cpp">
//data 为要添加的新数据，add 为添加到链表中的位置
line * insertLine(line * head, int data, int add) {
    //新建数据域为data的结点
    line * temp = (line*)malloc(sizeof(line));
    temp-&gt;data = data;
    temp-&gt;prior = NULL;
    temp-&gt;next = NULL;
    //插入到链表头，要特殊考虑
    if (add == 1) {
        temp-&gt;next = head;
        head-&gt;prior = temp;
        head = temp;
    }
    else {
        int i = 0;
        line * body = head;
        //找到要插入位置的前一个结点
        for (i = 1; i &lt; add - 1; i++) {
            body = body-&gt;next;
            if (body == NULL) {
                printf(&quot;插入位置有误\n&quot;);
                break;
            }
        }
        if (body) {
            //判断条件为真，说明插入位置为链表尾
            if (body-&gt;next == NULL) {
                body-&gt;next = temp;
                temp-&gt;prior = body;
            }
            else {
                body-&gt;next-&gt;prior = temp;
                temp-&gt;next = body-&gt;next;
                body-&gt;next = temp;
                temp-&gt;prior = body;
            }
        }
    }
    return head;
}</pre>
<h2>
	双向链表删除节点</h2>
双链表删除结点时，只需遍历链表找到要删除的结点，然后将该节点从表中摘除即可。<br />
<br />
例如，从图 1 基础上删除元素 2 的操作过程如图 5 所示：
<div style="text-align: center;">
	<br />
	<br />
	<img alt="双链表删除元素操作示意图" src="/uploads/allimg/181129/2-1Q12ZR10D13.gif" /><br />
	图 5 双链表删除元素操作示意图</div>
<br />
双向链表删除节点的 C 语言实现代码如下：
<pre class="cpp">
//删除结点的函数，data为要删除结点的数据域的值
line * delLine(line * head, int data) {
    line * temp = head;
    //遍历链表
    while (temp) {
        //判断当前结点中数据域和data是否相等，若相等，摘除该结点
        if (temp-&gt;data == data) {
            temp-&gt;prior-&gt;next = temp-&gt;next;
            temp-&gt;next-&gt;prior = temp-&gt;prior;
            free(temp);
            return head;
        }
        temp = temp-&gt;next;
    }
    printf(&quot;链表中无该数据元素\n&quot;);
    return head;
}</pre>
<h2>
	双向链表查找节点</h2>
通常，双向链表同单链表一样，都仅有一个头指针。因此，双链表查找指定元素的实现同单链表类似，都是从表头依次遍历表中元素。<br />
<br />
C 语言实现代码为：
<pre class="cpp">
//head为原双链表，elem表示被查找元素
int selectElem(line * head, int elem) {
    //新建一个指针t，初始化为头指针 head
    line * t = head;
    int i = 1;
    while (t) {
        if (t-&gt;data == elem) {
            return i;
        }
        i++;
        t = t-&gt;next;
    }
    //程序执行至此处，表示查找失败
    return -1;
}</pre>
<h2>
	双向链表更改节点</h2>
更改双链表中指定结点数据域的操作是在查找的基础上完成的。实现过程是：通过遍历找到存储有该数据元素的结点，直接更改其数据域即可。<br />
<br />
实现此操作的 C 语言实现代码如下：
<pre class="cpp">
//更新函数，其中，add 表示更改结点在双链表中的位置，newElem 为新数据的值
line *amendElem(line * p, int add, int newElem) {
    int i = 0;
    line * temp = p;
    //遍历到被删除结点
    for (i = 1; i &lt; add; i++) {
        temp = temp-&gt;next;
        if (temp == NULL) {
            printf(&quot;更改位置有误！\n&quot;);
            break;
        }
    }
    if (temp) {
        temp-&gt;data = newElem;
    }
    return p;
}</pre>
<h2>
	总结</h2>
这里给出双链表中对数据进行 &quot;增删查改&quot; 操作的完整实现代码：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
typedef struct line {
    struct line * prior;
    int data;
    struct line * next;
}line;
//双链表的创建
line* initLine(line * head);
//双链表插入元素，add表示插入位置
line * insertLine(line * head, int data, int add);
//双链表删除指定元素
line * delLine(line * head, int data);
//双链表中查找指定元素
int selectElem(line * head, int elem);
//双链表中更改指定位置节点中存储的数据，add表示更改位置
line *amendElem(line * p, int add, int newElem);
//输出双链表的实现函数
void display(line * head);
int main() {
    line * head = NULL;
    //创建双链表
    printf(&quot;初始链表为：\n&quot;);
    head = initLine(head);
    display(head);
    //在表中第 3 的位置插入元素 7
    printf(&quot;在表中第 3 的位置插入新元素 7：\n&quot;);
    head = insertLine(head, 7, 3);
    display(head);
    //表中删除元素 2
    printf(&quot;删除元素 2：\n&quot;);
    head = delLine(head, 2);
    display(head);

    printf(&quot;元素 3 的位置是：%d\n&quot;, selectElem(head, 3));
    //表中第 3 个节点中的数据改为存储 6
    printf(&quot;将第 3 个节点存储的数据改为 6：\n&quot;);
    head = amendElem(head, 3, 6);
    display(head);
    return 0;
}
line* initLine(line * head) {
    int i = 0;
    line * list = NULL;
    head = (line*)malloc(sizeof(line));
    head-&gt;prior = NULL;
    head-&gt;next = NULL;
    head-&gt;data = 1;
    list = head;
    for (i = 2; i &lt;= 3; i++) {
        line * body = (line*)malloc(sizeof(line));
        body-&gt;prior = NULL;
        body-&gt;next = NULL;
        body-&gt;data = i;

        list-&gt;next = body;
        body-&gt;prior = list;
        list = list-&gt;next;
    }
    return head;
}
line * insertLine(line * head, int data, int add) {
    //新建数据域为data的结点
    line * temp = (line*)malloc(sizeof(line));
    temp-&gt;data = data;
    temp-&gt;prior = NULL;
    temp-&gt;next = NULL;
    //插入到链表头，要特殊考虑
    if (add == 1) {
        temp-&gt;next = head;
        head-&gt;prior = temp;
        head = temp;
    }
    else {
        int i = 0;
        line * body = head;
        //找到要插入位置的前一个结点
        for (i = 1; i &lt; add - 1; i++) {
            body = body-&gt;next;
            if (body == NULL) {
                printf(&quot;插入位置有误\n&quot;);
                break;
            }
        }
        if (body) {
            //判断条件为真，说明插入位置为链表尾
            if (body-&gt;next == NULL) {
                body-&gt;next = temp;
                temp-&gt;prior = body;
            }
            else {
                body-&gt;next-&gt;prior = temp;
                temp-&gt;next = body-&gt;next;
                body-&gt;next = temp;
                temp-&gt;prior = body;
            }
        }
    }
    return head;
}
line * delLine(line * head, int data) {
    line * temp = head;
    //遍历链表
    while (temp) {
        //判断当前结点中数据域和data是否相等，若相等，摘除该结点
        if (temp-&gt;data == data) {
            temp-&gt;prior-&gt;next = temp-&gt;next;
            temp-&gt;next-&gt;prior = temp-&gt;prior;
            free(temp);
            return head;
        }
        temp = temp-&gt;next;
    }
    printf(&quot;链表中无该数据元素\n&quot;);
    return head;
}
//head为原双链表，elem表示被查找元素
int selectElem(line * head, int elem) {
    //新建一个指针t，初始化为头指针 head
    line * t = head;
    int i = 1;
    while (t) {
        if (t-&gt;data == elem) {
            return i;
        }
        i++;
        t = t-&gt;next;
    }
    //程序执行至此处，表示查找失败
    return -1;
}
//更新函数，其中，add 表示更改结点在双链表中的位置，newElem 为新数据的值
line *amendElem(line * p, int add, int newElem) {
    int i = 0;
    line * temp = p;
    //遍历到被删除结点
    for (i = 1; i &lt; add; i++) {
        temp = temp-&gt;next;
        if (temp == NULL) {
            printf(&quot;更改位置有误！\n&quot;);
            break;
        }
    }
    if (temp) {
        temp-&gt;data = newElem;
    }
    return p;
}
//输出链表的功能函数
void display(line * head) {
    line * temp = head;
    while (temp) {
        if (temp-&gt;next == NULL) {
            printf(&quot;%d\n&quot;, temp-&gt;data);
        }
        else {
            printf(&quot;%d-&gt;&quot;, temp-&gt;data);
        }
        temp = temp-&gt;next;
    }
}</pre>
程序执行结果为：
<p class="info-box">
	初始链表为：<br />
	1-&gt;2-&gt;3<br />
	在表中第 3 的位置插入新元素 7：<br />
	1-&gt;2-&gt;7-&gt;3<br />
	删除元素 2：<br />
	1-&gt;7-&gt;3<br />
	元素 3 的位置是：3<br />
	将第 3 个节点存储的数据改为 6：<br />
	1-&gt;7-&gt;6</p>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 167;
window.arcId = "395at7z7EuOFQwG1aIRaSd5yC+r7ukYKp/t2cr7/s0d6Q/9+1Q1XkG2A7g";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>