<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>顺序队列及其（C语言）实现详解</title>
<meta name="keywords" content="顺序,队列,及其,语言,实现,详解,顺序,队列,即," />
<meta name="description" content="顺序队列 ，即采用顺序表模拟实现的队列结构。 我们知道，队列具有以下两个特点： 数据从队列的一端进，另一端出； 数据的入队和出队遵循先进先出的原则； 因此，只要使用顺序" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>顺序队列及其（C语言）实现详解</h1>
			<div id="arc-body"><span style="color:#008000;"><u><a href='/view/306.html' target='_blank'>顺序队列</a></u></span><span style="color:#b22222;">，即采用<u><a href='/view/288.html' target='_blank'>顺序表</a></u>模拟实现的<u><a href='/view/305.html' target='_blank'>队列</a></u>结构。</span><br />
<br />
我们知道，队列具有以下两个特点：
<ol>
	<li>
		数据从队列的一端进，另一端出；</li>
	<li>
		数据的入队和出队遵循&quot;先进先出&quot;的原则；</li>
</ol>
<br />
因此，只要使用顺序表按以上两个要求操作数据，即可实现顺序队列。首先来学习一种最简单的实现方法。<br />
<h2>
	顺序队列简单实现</h2>
由于顺序队列的底层使用的是数组，因此需预先申请一块足够大的内存空间初始化顺序队列。除此之外，为了满足顺序队列中数据从队尾进，队头出且先进先出的要求，我们还需要定义两个指针（top 和 rear）分别用于指向顺序队列中的队头元素和队尾元素，如图 1 所示：
<div style="text-align: center;">
	<br />
	<img alt="顺序队列实现示意图" src="/uploads/allimg/181204/2-1Q204202R4539.gif" /><br />
	图 1 顺序队列实现示意图</div>
<br />
由于顺序队列初始状态没有存储任何元素，因此 top 指针和 rear 指针重合，且由于顺序队列底层实现靠的是数组，因此 top 和 rear 实际上是两个变量，它的值分别是队头元素和队尾元素所在数组位置的下标。<br />
<br />
在图 1 的基础上，当有数据元素进队列时，对应的实现操作是将其存储在指针 rear 指向的数组位置，然后 rear+1；当需要队头元素出队时，仅需做 top+1 操作。<br />
<br />
例如，在图 1 基础上将 <code>{1,2,3,4}</code> 用顺序队列存储的实现操作如图 2 所示：
<div style="text-align: center;">
	<br />
	<img alt="数据进顺序队列的过程实现示意图" src="/uploads/allimg/181204/2-1Q20420293O01.gif" /><br />
	图 2 数据进顺序队列的过程实现示意图</div>
<br />
在图 2 基础上，顺序队列中数据出队列的实现过程如图 3 所示：
<div style="text-align: center;">
	<br />
	<img alt="数据出顺序队列的过程示意图" src="/uploads/allimg/181204/2-1Q204202950120.gif" /><br />
	图 3 数据出顺序队列的过程示意图</div>
<br />
因此，使用顺序表实现顺序队列最简单方法的 C 语言实现代码为：
<pre class="cpp">
#include &lt;stdio.h&gt;
int enQueue(int *a,int rear,int data){
    a[rear]=data;
    rear++;
    return rear;
}
void deQueue(int *a,int front,int rear){
    //如果 front==rear，表示队列为空
    while (front!=rear) {
        printf(&quot;出队元素：%d\n&quot;,a[front]);
        front++;
    }
}
int main() {
    int a[100];
    int front,rear;
    //设置队头指针和队尾指针，当队列中没有元素时，队头和队尾指向同一块地址
    front=rear=0;
    //入队
    rear=enQueue(a, rear, 1);
    rear=enQueue(a, rear, 2);
    rear=enQueue(a, rear, 3);
    rear=enQueue(a, rear, 4);
    //出队
    deQueue(a, front, rear);
    return 0;
}</pre>
程序输出结果：
<p class="info-box">
	出队元素：1<br />
	出队元素：2<br />
	出队元素：3<br />
	出队元素：4</p>
<h4>
	此方法存在的问题</h4>
先来分析以下图 2b) 和图 3b)。图 2b) 是所有数据进队成功的示意图，而图 3b) 是所有数据全部出队后的示意图。通过对比两张图，你会发现，指针 top 和 rear 重合位置指向了&nbsp; a[4] 而不再是 a[0]。也就是说，整个顺序队列在数据不断地进队出队过程中，在顺序表中的位置不断后移。<br />
<br />
顺序队列整体后移造成的影响是：
<ul>
	<li>
		顺序队列之前的数组存储空间将无法再被使用，造成了空间浪费；</li>
	<li>
		如果顺序表申请的空间不足够大，则直接造成程序中数组 a 溢出，产生溢出错误；</li>
</ul>
<br />
为了避免以上两点，我建议初学者使用下面的方法实现顺序队列。<br />
<h2>
	顺序队列另一种实现方法</h2>
既然明白了上面这种方法的弊端，那么我们可以试着在它的基础上对其改良。<br />
<br />
为了解决以上两个问题，可以使用巧妙的方法将顺序表打造成一个环状表，如图 4 所示：
<div style="text-align: center;">
	<br />
	<img alt="环状顺序队列" src="/uploads/allimg/181204/2-1Q204203432215.gif" /><br />
	图 4 环状顺序队列</div>
<br />
图 4 只是一个想象图，在真正的实现时，没必要真创建这样一种结构，我们还是使用之前的顺序表，也还是使用之前的程序，只需要对其进行一点小小的改变：<br />
<pre class="cpp">
#include &lt;stdio.h&gt;
#define max 5//表示顺序表申请的空间大小
int enQueue(int *a,int front,int rear,int data){
    //添加判断语句，如果rear超过max，则直接将其从a[0]重新开始存储，如果rear+1和front重合，则表示数组已满
    if ((rear+1)%max==front) {
        printf(&quot;空间已满&quot;);
        return rear;
    }
    a[rear%max]=data;
    rear++;
    return rear;
}
int  deQueue(int *a,int front,int rear){
    //如果front==rear，表示队列为空
    if(front==rear%max) {
        printf(&quot;队列为空&quot;);
        return front;
    }
    printf(&quot;%d &quot;,a[front]);
    //front不再直接 +1，而是+1后同max进行比较，如果=max，则直接跳转到 a[0]
    front=(front+1)%max;
    return front;
}
int main() {
    int a[max];
    int front,rear;
    //设置队头指针和队尾指针，当队列中没有元素时，队头和队尾指向同一块地址
    front=rear=0;
    //入队
    rear=enQueue(a,front,rear, 1);
    rear=enQueue(a,front,rear, 2);
    rear=enQueue(a,front,rear, 3);
    rear=enQueue(a,front,rear, 4);
    //出队
    front=deQueue(a, front, rear);
    //再入队
    rear=enQueue(a,front,rear, 5);
    //再出队
    front=deQueue(a, front, rear);
    //再入队
    rear=enQueue(a,front,rear, 6);
    //再出队
    front=deQueue(a, front, rear);
    front=deQueue(a, front, rear);
    front=deQueue(a, front, rear);
    front=deQueue(a, front, rear);
    return 0;
}</pre>
程序运行结果：
<p class="info-box">
	1 2 3 4 5 6</p>
使用此方法需要注意的是，顺序队列在判断数组是否已满时，出现下面情况：
<ul>
	<li>
		当队列为空时，队列的头指针等于队列的尾指针；</li>
	<li>
		当数组满员时，队列的头指针等于队列的尾指针；</li>
</ul>
<br />
顺序队列的存储状态不同，但是判断条件相同。为了对其进行区分，最简单的解决办法是：牺牲掉数组中的一个存储空间，判断数组满员的条件是：尾指针的下一个位置和头指针相遇，就说明数组满了，即程序中第 5 行所示。</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 173;
window.arcId = "3796qBtyVtl5dHy/C8ec4xRvjPY/E9oGzuTZ+gyVlgxH3GzKaJb+djVk5Q";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>