<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>二叉树顺序存储和链式存储的C语言代码实现</title>
<meta name="keywords" content="二叉,树,满二叉,完全,及其,存储,方式,二叉,树," />
<meta name="description" content="通过前一节的学习，了解了什么是树。二叉树是在树的基础上对本身的结构做了更高的限制，和树的区别是： 二叉树本身是有序树。 二叉树中各结点的度最多是2，可以是0，1，2。 图" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>二叉树顺序存储和链式存储的C语言代码实现</h1>
			<div id="arc-body">通过前一节的学习，了解了<u><a href='/view/325.html' target='_blank'>树</a></u>的一些基本知识。<u><a href='/view/326.html' target='_blank'>二叉树</a></u>是在树的基础上对本身的结构做了更高的限制：
<ol>
	<li>
		二叉树本身是<span style="color:#b22222;">有序树</span>。</li>
	<li>
		二叉树中各结点的度最多是 2，可以是 0，1，2。</li>
</ol>
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS0103951Y1.png" style="width: 274px; height: 186px;" /><br />
	&nbsp;</div>
<div style="text-align: center;">
	图1 二叉树</div>
<h2>
	满二叉树和完全二叉树</h2>
<span style="color:#b22222;">如果二叉树中除了叶子结点，每个结点的度都为 2，那么此二叉树为</span><span style="color:#008000;">满二叉树</span>。例如图 1 就是一个满二叉树。<br />
<br />
<span style="color:#b22222;">如果二叉树除了最后一层外为满二叉树，最后一层的结点依次</span><span style="color: rgb(178, 34, 34);">从左到右</span><span style="color:#b22222;">分布，此二叉树为</span><span style="color:#008000;">完全二叉树</span>。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS0104150W3.png" style="width: 530px; height: 186px;" /></div>
<div style="text-align: center;">
	&nbsp; （A） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;（B）</div>
<div style="text-align: center;">
	图2 完全二叉树<br />
	&nbsp;</div>
图 2（A）和（B）都是二叉树，但图 2（A）是完全二叉树，（B）由于最后一层不符合从左往右依次分布的要求，所以不是完全二叉树，只是一个普通的二叉树。
<h2>
	二叉树的性质</h2>
二叉树有以下几个性质：
<ol>
	<li>
		二叉树中，第 i 层最多有<code>2i-1</code>个结点。</li>
	<li>
		如果二叉树的深度为 K，那么此二叉树最多有<code>2K-1</code>个结点。</li>
	<li>
		二叉树中，终端结点数（叶子结点数）为 n<sub>0</sub>，度为 2 的结点数为 n<sub>2</sub>，则<code>n<sub>0</sub> = n<sub>2</sub> + 1</code>。</li>
</ol>
<blockquote>
	<p>
		性质 3 的计算方法为：</p>
	<p>
		对于一个二叉树来说，除了度为 0 的叶子结点和度为 2 的结点，剩下的就是度为 1 的结点（设为 n<sub>1</sub>），那么总结点<code>n = n<sub>0</sub> + n<sub>1</sub> + n<sub>2</sub></code>。<br />
		同时，对于每一个结点来说都是由其父结点分支表示的，假设树中分枝数为 B，那么总结点数<code>n = B + 1</code>。而分枝数是可以通过 n<sub>1</sub> 和 n<sub>2</sub> 表示的:<code>B = n<sub>1</sub> + 2 * n<sub>2</sub></code>。<br />
		所以，n 用另外一种方式表示为:<code>n=n<sub>1</sub>+2*n<sub>2</sub>+1</code>。<br />
		两种方式得到的 n 值组成一个方程组，就可以得出<code>n<sub>0</sub> = n<sub>2</sub> + 1</code>。</p>
</blockquote>
<h2>
	完全二叉树特有的性质</h2>
n 个结点的完全二叉树的深度为<code>[log<sub>2</sub>n]+1</code>。
<blockquote>
	<p>
		[log<sub>2</sub>n]表示取小于log<sub>2</sub>n的最大整数。例如，[log<sub>2</sub>4] = 2,而 [log<sub>2</sub>5] 结果也是 2。</p>
</blockquote>
对于任意一个完全二叉树来说，将含有的结点按照层次从左到右依次标号（如图 2（A）），对于任意一个结点 i ，有以下几个结论：
<ul>
	<li>
		当 i &gt; 1时，父亲结点为结点 [i / 2] 。（ i = 1时，表示的是根结点，无父亲结点）</li>
	<li>
		如果 2*i &gt; n ，则结点 i 肯定没有左孩子（为叶子结点）；否则其左孩子是结点 2*i 。</li>
	<li>
		如果 2*i +1 &gt; n ，则结点 i 肯定没有右孩子；否则右孩子是结点 2*i +1 。</li>
</ul>
<div class="info-box">
	二叉树和完全二叉树的各自所特有的性质，需要熟记，在对其进行存储以及利用二叉树解决问题时，会经常用到。</div>
<h2>
	二叉树的存储结构</h2>
二叉树有两种存储结构：<span style="color:#008000;">顺序存储结构</span>和<span style="color:#008000;">链式存储结构</span>。<br />
<br />
<h3>
	顺序存储</h3>
<br />
借用数组将二叉树中的数据元素存储起来。此方式只适用于完全二叉树，如果想存储普通二叉树，需要将普通二叉树转化为完全二叉树。<br />
<br />
使用数组存储完全二叉树时，从数组的起始地址开始，按层次顺序从左往右依次存储完全二叉树中的结点。当提取时，根据完全二叉树的第 2 条性质，可以将二叉树进行还原。<br />
<br />
例如，存储图 2（A）时，数组中存储为：<br />
<br />
<img alt="" src="/uploads/allimg/170830/2-1FS0105529235.png" style="width: 233px; height: 54px;" /><br />
<br />
根据完全二叉树的第 2 条性质就可以根据数组中的数据重新搭建二叉树的结构。<br />
<br />
如果普通二叉树也采取顺序存储的方式，就需要将其转化成完全二叉树，然后再存储，例如：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS01056261L.png" style="width: 304px; height: 156px;" /><br />
	<br />
	&nbsp;转化前 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;转化后</div>
<div style="text-align: center;">
	图 3 普通二叉树转完全二叉树</div>
<br />
图 3 中，转化后的二叉树中，数据元素 0 表示此位置没有数据。将转化后的完全二叉树按照层次并从左到右的次序存储到数组中：<br />
<br />
<img alt="" src="/uploads/allimg/170830/2-1FS0105A9146.png" style="width: 248px; height: 54px;" /><br />
<br />
由此可见。深度为 K 且只有 K 个结点的单支树（树中不存在度为 2 的结点），需要 <code>2K-1</code> 的数组空间，浪费存储空间。所以，顺序存储方式更适用于完全二叉树。<br />
<br />
<h3>
	链式存储</h3>
<br />
采用链式存储结构存储二叉树，就非常容易理解了。根据每个结点的结构，至少需要 3 部分组成：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS0105JE64.png" style="width: 182px; height: 40px;" /><br />
	图5 二叉<u><a href='/view/290.html' target='_blank'>链表</a></u>结点构成</div>
<br />
图 5 中，<code>Lchild</code> 代表指向左孩子的指针域；<code>data</code> 为数据域；<code>Rchild</code> 代表指向右孩子的指针域。使用此种结点构建的二叉树称为<span style="color:#008000;">&ldquo;二叉链表&rdquo;</span>。<br />
<br />
结点结构代码表示：<br />
<pre class="cpp">
typedef struct BiTNode{
    TElemType data;//数据域
    struct BiTNode *lchild,*rchild;//左右孩子指针
}BiTNode,*BiTree;</pre>
如果程序中需要频繁地访问结点的父结点，就可以使用下面这种结点结构：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS0105U3C6.png" style="width: 243px; height: 40px;" /><br />
	图 6 三叉链表结点构成</div>
<br />
图 6 中，<code>Lchild</code> 指向左孩子；<code>Rchild</code> 指向右孩子；<code>data</code> 为数据域；<code>parent</code> 指向父结点。使用这种结构的结点创建的树称为<span style="color:#008000;">&ldquo;三叉链表&rdquo;</span>。<br />
<br />
结点结构代码表示：<br />
<pre class="cpp">
typedef struct BiTNode{
    TElemType data;//数据域
    struct BiTNode *lchild,*rchild;//左右孩子指针
    struct BiTNode *parent;
}BiTNode,*BiTree;</pre>
<div>
	例如，分别用两种结点创建图 3 中的单支树：<br />
	&nbsp;</div>
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS0105945M6.png" style="width: 540px; height: 215px;" /><br />
	<br />
	图7 单支树示意图</div>
<br />
实现代码（以二叉链表为例）
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#define TElemType int

typedef struct BiTNode{
    TElemType data;//数据域
    struct BiTNode *lchild,*rchild;//左右孩子指针
}BiTNode,*BiTree;

void CreateBiTree(BiTree *T){
    *T=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;data=1;
    (*T)-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild=NULL;
    (*T)-&gt;lchild-&gt;data=2;            
    (*T)-&gt;lchild-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;rchild=NULL;
    (*T)-&gt;lchild-&gt;lchild-&gt;data=3;
    (*T)-&gt;lchild-&gt;lchild-&gt;lchild=NULL;
    (*T)-&gt;lchild-&gt;lchild-&gt;rchild=NULL;
}
int main() {
    BiTree Tree;
    CreateBiTree(&amp;Tree);
    printf(&quot;%d&quot;,Tree-&gt;lchild-&gt;lchild-&gt;data);
    return 0;
}</pre>
运行结果：
<div class="info-box">
	3</div>
<h2>
	总结</h2>
对于二叉树和完全二叉树的性质，需要学员在理解的情况下进行记忆。有关二叉树存储结构的选择，以及结点结构的选择，要视情况而定，基本上遵循以下两个原则：<br />
<br />
<ol>
	<li>
		如果是普通二叉树，用链式存储结构；如果是完全二叉树，用顺序存储结构。</li>
	<li>
		如果问题中涉及到要访问某结点的父结点，就建立三叉链表；反之，使用二叉链表即可解决问题。</li>
</ol>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 24;
window.arcId = "29f8dOMGr6zfHXg5MSIIF4YvvzG4Dw66alEzc617FPXn8OTCKXyFS70n";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>