<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>怎样自学数据结构？</title>
<meta name="keywords" content="数据结构,如何,自学,自从,数据结构,教程," />
<meta name="description" content="自从数据结构教程发布以来，很多读者向我询问应该如何自学数据结构，或者怎么才能学好数据结构和算法？本节将结合我的个人经验，给读者介绍一些学习数据结构和算法的方法，帮" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>怎样自学数据结构？</h1>
			<div id="arc-body">自从数据结构教程发布以来，很多读者向我询问应该如何自学数据结构，或者怎么才能学好数据结构和算法？本节将结合我的个人经验，给读者介绍一些学习数据结构和算法的方法，帮大家规避一些学习数据结构和算法过程中可能会踩的坑。<br />
<br />
首先我认为，<span style="color:#b22222;">学习数据结构和算法有一个很重要的前提，就是至少熟练掌握一门编程语言。</span>学习数据结构和算法，实践是非常重要的，如果仅仅是空有理论而不实践，反复学多少遍都没用。<br />
<br />
本教程以 C 语言作为教学语言，当然读者也可以在掌握 C++、Java、Python 等语言的基础上学习数据结构和算法。因为无论是数据结构还是算法，它教会我们的是解决问题的思想，并不挂靠某一门具体的编程语言。换句话说，在掌握任何一门编程语言的基础上，都可以学习数据结构和算法。<br />
<br />
其次对于初学者来说，好的学习资源是非常重要的。要知道，学习数据结构需要读者有一定的空间想象能力，所以强烈建议读者在看文字资料的同时，再找一套相应的视频资料，两者结合来学习，往往会事半功倍。<br />
<br />
那么，有哪些不错的学习资源呢？我个人强烈推荐严蔚敏老师的《数据结构(C语言版)》以及她录制的一整套数据结构视频资料。如果读者刚刚接触数据结构和算法，可以跟随本教程学习，同时配以严蔚敏老师录制的视频资料。<br />
<blockquote>
	<p>
		本教程就是以严蔚敏老师的数据结构为原型进行编写的，可以理解为是这本书的翻译版。和后者相比，本教程的语言通俗易懂，同时配有完整的 C 语言代码，非常适合初学者入门使用。</p>
</blockquote>
另外，市面上还有很多不错的学习资料，例如《大话数据结构》、《数据结构与算法分析》等，同时慕课（mooc）上也有很多讲解数据结构和算法的视频资料，这里不再一一举例。<br />
<br />
除了熟练精通一门编程语言、有一套不错的学习资料之外，最重要的是找到一个好的学习方法。其实数据结构和算法并不难，之所以有读者认为它很难，是因为你的学习方法不对。<br />
<br />
<span style="color:#b22222;">在这里，我把自己的学习方法推荐给大家，可以总结为 6 个字：多动笔、多动手。</span><br />
<br />
所谓&ldquo;多动笔&rdquo;，在学习数据结构和算法的过程中，要边学习边画图。因为，对于数据结构中的存储结构来说，尤其是<u><a href='/view/325.html' target='_blank'>树</a></u>结构和图结构，存储结构确实比较复杂，仅靠空间想象难免会有披露，而通过亲手画图往往能避免很多&ldquo;坑&rdquo;。<br />
<br />
以学习<u><a href='/view/290.html' target='_blank'>链表</a></u>（后续章节会做详细讲解）为例，如果我们想象不到它是怎样存储数据，就应该尝试动手将它画出来，如图 1 所示：
<div style="text-align: center;">
	<br />
	<img alt="画链表" src="/uploads/allimg/200403/2-200403152643437.gif" /><br />
	图 1 画链表</div>
<blockquote>
	<p>
		上图是用画图工具制作的，读者在实际画图时，只需要做到心中有数即可。</p>
</blockquote>
由此，我们就画了一个存有 {1,2,3,4} 数据的链表。<br />
<br />
不仅如此，假设在图 1 的基础上想删除存储元素 3 的结点，也可以先通过画图来实现：
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/200403/2-200403152FE49.gif" /><br />
	图 2 删除某个结点</div>
<br />
如上图所示，整个画图的过程，也是我们思考如何通过程序实现删除指定节点的过程：
<ol>
	<li>
		为了删除存有元素 3 的结点，先要找到它的前驱结点，也就是结点 2，并用一个指针 p 来标记；</li>
	<li>
		借助指针 p，可以顺利找到结点 3，因为它最终要被摘除，考虑到该结点占用的空间要手动释放，因此还要用一个指针 q 来标记它；</li>
	<li>
		借助指针 p 和 q（也就是图中的第 3 步），就可以成功将目标结点摘下来；</li>
	<li>
		最后借助指针 q，可以释放被删除节点所占用的存储空间。</li>
</ol>
以上就是为了删除存储元素 3 的结点，整个画图的流程。<br />
<blockquote>
	<p>
		再次强调，画图的过程是思考如何用程序实现的过程，并不是随意勾画。</p>
</blockquote>
除此之外，在学习某些算法时，也可以借助画图来加深自己的理解。甚至在阅读它人实现的代码时，可以边阅读代码边画图，这样可以更快理清代码的实现逻辑。<br />
<br />
在通过&ldquo;多动手&rdquo;实现理解存储结构和实现逻辑的基础上，初学者还要&ldquo;多动手&rdquo;编写实现代码。注意，对于某一种存储结构或者算法，没有 3 遍以上自己独立的实现过程，是很难做到融会贯通的。<br />
<br />
另外，很多初学者都存在&ldquo;当时搞清楚了，过段时间又忘了&rdquo;的情况。其原因大致有 2 个，一个是当时学的时候就没有彻底搞懂，或者处于&ldquo;似懂非懂&rdquo;的状态；另一个原因就是长时间没有再接触过它，所以淡忘了。其中如果是第一种原因导致的，那只能从头再学；对于第二种情况，读者不需要过度懊恼，只要我们再回顾一遍，通常是可以快速回忆起来的。<br />
<br />
总之，数据结构确实是一门比较难理解的学科，而且学习过程没有任何捷径可走。这意味着，想要学好数据结构，除了找一套适合自己的学习资料和学习方法外，更要有一种&ldquo;死磕&rdquo;的精神，有句话说的很好，&ldquo;不逼自己一把，永远不知道自己有多大的潜力&rdquo;。</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 269;
window.arcId = "e877I29zt2DUPgK7NhX3h0ep5HuSvKsutiuJ/JpFM/Z42e+/YhK22EKtNA";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>