<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>二叉树层次遍历及其C语言实现</title>
<meta name="keywords" content="二叉,树,的,层次,遍历,及其,语言,实现,二叉," />
<meta name="description" content="前边介绍了二叉树的先序、中序和后序的遍历算法，运用了栈的数据结构，主要思想就是按照先左子树后右子树的顺序依次遍历树中各个结点。 本节采用的遍历方式是按照二叉树中的层" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>二叉树层次遍历及其C语言实现</h1>
			<div id="arc-body">前边介绍了<u><a href='/view/326.html' target='_blank'>二叉树</a></u>的先序、中序和后序的遍历算法，运用了<u><a href='/view/300.html' target='_blank'>栈</a></u>的数据结构，主要思想就是按照先左子<u><a href='/view/325.html' target='_blank'>树</a></u>后右子树的顺序依次遍历树中各个结点。<br />
<br />
本节介绍另外一种遍历方式：按照二叉树中的层次从左到右依次遍历每层中的结点。具体的实现思路是：通过使用<u><a href='/view/305.html' target='_blank'>队列</a></u>的数据结构，从树的根结点开始，依次将其左孩子和右孩子入队。而后每次队列中一个结点出队，都将其左孩子和右孩子入队，直到树中所有结点都出队，出队结点的先后顺序就是层次遍历的最终结果。
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170830/2-1FS0143134W9.png" style="width: 326px; height: 186px;" /><br />
	图1 二叉树</div>
<h2>
	层次遍历的实现过程</h2>
例如，层次遍历图 1 中的二叉树：
<ul>
	<li>
		首先，根结点 1 入队；</li>
	<li>
		根结点 1 出队，出队的同时，将左孩子 2 和右孩子 3 分别入队；</li>
	<li>
		队头结点 2 出队，出队的同时，将结点 2 的左孩子 4 和右孩子 5 依次入队；</li>
	<li>
		队头结点 3 出队，出队的同时，将结点 3 的左孩子 6 和右孩子 7 依次入队；</li>
	<li>
		不断地循环，直至队列内为空。</li>
</ul>
<h2>
	实现代码</h2>
<pre class="cpp">
#include &lt;stdio.h&gt;
#define TElemType int
//初始化队头和队尾指针开始时都为0
int front=0,rear=0;

typedef struct BiTNode{
    TElemType data;//数据域
    struct BiTNode *lchild,*rchild;//左右孩子指针
}BiTNode,*BiTree;
void CreateBiTree(BiTree *T){
    *T=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;data=1;
    (*T)-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
   
    (*T)-&gt;lchild-&gt;data=2;
    (*T)-&gt;lchild-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;lchild-&gt;rchild-&gt;data=5;
    (*T)-&gt;lchild-&gt;rchild-&gt;lchild=NULL;
    (*T)-&gt;lchild-&gt;rchild-&gt;rchild=NULL;
   
    (*T)-&gt;rchild-&gt;data=3;
    (*T)-&gt;rchild-&gt;lchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild-&gt;lchild-&gt;data=6;
    (*T)-&gt;rchild-&gt;lchild-&gt;lchild=NULL;
    (*T)-&gt;rchild-&gt;lchild-&gt;rchild=NULL;
   
    (*T)-&gt;rchild-&gt;rchild=(BiTNode*)malloc(sizeof(BiTNode));
    (*T)-&gt;rchild-&gt;rchild-&gt;data=7;
    (*T)-&gt;rchild-&gt;rchild-&gt;lchild=NULL;
    (*T)-&gt;rchild-&gt;rchild-&gt;rchild=NULL;
   
    (*T)-&gt;lchild-&gt;lchild-&gt;data=4;
    (*T)-&gt;lchild-&gt;lchild-&gt;lchild=NULL;
    (*T)-&gt;lchild-&gt;lchild-&gt;rchild=NULL;
}
//入队函数
void EnQueue(BiTree *a,BiTree node){
    a[rear++]=node;
}
//出队函数
BiTNode* DeQueue(BiTNode** a){
    return a[front++];
}
//输出函数
void displayNode(BiTree node){
    printf(&quot;%d &quot;,node-&gt;data);
}
int main() {
    BiTree tree;
    //初始化二叉树
    CreateBiTree(&amp;tree);
    BiTNode * p;
    //采用<u><a href='/view/306.html' target='_blank'>顺序队列</a></u>，初始化创建队列数组
    BiTree a[20];
    //根结点入队
    EnQueue(a, tree);
    //当队头和队尾相等时，表示队列为空
    while(front&lt;rear) {
        //队头结点出队
        p=DeQueue(a);
        displayNode(p);
        //将队头结点的左右孩子依次入队
        if (p-&gt;lchild!=NULL) {
            EnQueue(a, p-&gt;lchild);
        }
        if (p-&gt;rchild!=NULL) {
            EnQueue(a, p-&gt;rchild);
        }
    }
    return 0;
}</pre>
运行结果：
<div class="info-box">
	1 2 3 4 5 6 7</div>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 27;
window.arcId = "d5b82XJklJrfORPxma0QW1SUdUgSoQnJ+es5YT8hBOjHllPRZeflSxej";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>