<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>学习数据结构的好处有哪些？</title>
<meta name="keywords" content="学习,数据结构,的,好处,有,哪些,学习," />
<meta name="description" content="作为一门计算机专业的必修课，计算机专业考研的必考知识，以及众多 IT 公司笔、面试的重头戏，数据结构以其独特的魅力影响着每一个想从事 IT 行业的程序员。但尽管这样，很多学习" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构与算法教程Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">教程首页</a></li>
		<li><a href="/view/212.html">购买教程（带答疑）</a></li>
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>数据结构与算法视频教程</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>学习数据结构的好处有哪些？</h1>
			<div id="arc-body">通过前面的学习我们知道，数据结构并不是一门具体的编程语言，它教会我们的是一种思维方式，即如何以更优的方式存储数据。或者正是由于这个原因，很多读者感觉数据结构虚无缥缈，无法触及，不如学习 Python、Java 等这些编程语言可以随学随用、掷地有声，久而久之觉得学习数据结构没用。<br />
<br />
那么，数据结构真的无用吗？当然不是。作为计算机专业最重要的必修学科之一，计算机专业考研的必考知识，以及众多 IT 公司笔、面试的侧重考点，仅仅这些光环，就足以说明学习数据结构的重要性。<br />
<br />
毋庸置疑，数据结构不仅有用，更应该是每个程序员必须掌握的基本功。
<h2>
	提升程序员的逻辑思维</h2>
首先，通过学习数据结构，可以大大拓宽我们的思维模式。掌握了数据结构与算法，我们看待问题的深度、解决问题的角度会大有不同，对于个人逻辑思维的提升，也是质的飞跃。<br />
<br />
具体来讲，对于同一个问题，数据结构往往会教给我们不只一种解决思路。举个例子，假设我们需要从众多数据中查找出符合要求的元素，多数人就只能借助<u><a href='/view/181.html' target='_blank'>数组</a></u>这种简单的存储结构来实现，而通过学习数据结构我们会知道，解决此类问题既可以通过构建<u><a href='/view/58.html' target='_blank'>二叉排序树</a></u>、<u><a href='/view/59.html' target='_blank'>平衡二叉树</a></u>、甚至红黑<u><a href='/view/23.html' target='_blank'>树</a></u>、B+/B- 树来解决，还可以借助<u><a href='/view/63.html' target='_blank'>哈希表</a></u>解决。<br />
<br />
再举一个例子，几乎所有的编程语言中都提供有数组这种存储结构，但如果没学过数据结构，就绝不会想到，数组还能以<u><a href='/view/160.html' target='_blank'>链表</a></u>的形式使用（也就是<u><a href='/view/163.html' target='_blank'>静态链表</a></u>，后续章节会做详细讲解）。<br />
<br />
事实上，数据结构也有众多编程语言无法比肩的优势。无论是 Java、Python、C++、PHP 还是其他编程语言，无时无刻不在更新迭代，而数据结构却永远不会过时，其包含的存储数据的思想，已经近乎将所有可能的情况都囊括其中，能解决 99% 的实际场景中有关数据存储的问题。<br />
<h2>
	能力高低的分水岭</h2>
有很多读者（其中不乏在职的程序员）都会问一个问题，即为什么很多 IT 公司都特别注重对数据结构的考察？读者大可以这样认为：数据结构是众多 IT 公司评判面试人员能力高低的重要工具。<br />
<br />
同任何一门编程语言相比，数据结构确实是晦涩难懂的。举个简单的例子，众多学习数据结构的读者中，可能很多人都能快速学会链表、哈希表、<u><a href='/view/192.html' target='_blank'>二叉树</a></u>，还能熟练运用大部分的查找算法和排序算法，但能玩转路径规划、字符<u><a href='/view/175.html' target='_blank'>串</a></u>匹配、动态规则等复杂问题的人，却凤毛麟角。<br />
<br />
因此，要想学好数据结构，不仅要求学员具备良好的编程基础，还必须具有较强的逻辑分析能力和理解能力，甚至还需要具有一定的空间想象能力，可以这么说，能玩转数据结构的人，其综合实力往往都不差。很多大的互联网公司，更看重的往往不是你精通多少种编程语言，而是综合能力，更确切地说是解决问题的能力。<br />
<br />
有些读者可能会问，类似 C++ 可以使用 STL 标准库，Python 代码可以使用 Collections 模块等，很多编程语言都可以使用相应的集成数据结构的框架或者模块，直接拿来用不就可以了吗？<br />
<br />
事实上，很多在职程序员在开发过程中，都会套用现有的一些集成数据结构的模块或者框架。要知道，适当的使用是可取的，但不能完全依赖，否则知其然而不知其所以然，即便完成再多的项目，也无非是他人代码的搬运工，个人能力很快会进入瓶颈期，再无提升的空间。<br />
<h2>
	程序性能好坏的评判标准</h2>
对于如何评判一个人编程能力的强弱，不同的人有不同的标准，或许是看中他编写代码的可读性，扩展性、是否健壮等等。<br />
<br />
我认为，代码执行性能的好坏无疑能成为众多评判标准中的一个。而想编写出性能高的代码，前提是必须知道如何评判代码的性能，这就不得不使用数据结构中评判代码执行性能的时间复杂性和<u><a href='/view/2.html' target='_blank'>空间复杂度</a></u>。<br />
<br />
对于某些在职的程序员来说，如果觉得数据结构无用，更多可能是因为你接触的都是一些用户量很少、需要处理的数据量也很少的小项目，实际开发中更注重实现具体的功能，产品的性能要求并非那么苛刻。反之，如果你身处像 BAT 这样的大公司，所开发产品的用户量往往是千万级别甚至亿级别，需要处理的数据量也往往是 TB 甚至 PB 级别，这时产品的性能将是首要考虑的因素，而数据结构和算法的意义将会彻底凸显出来。<br />
<blockquote>
	<p>
		别忘了，数据结构也是很多大 IT 公司选拔人才的重要标准。</p>
</blockquote>
<h2>
	总结</h2>
和学习某一门编程语言不同，随学即用，常常会带给你学习的快感。有些知识并非学习了就能立竿见影，但学懂它会让你有整体的提升，数据结构就是这样的知识。<br />
</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 271;
window.arcId = "f8f4hGXaM1vstZd+bs32qrkPagQcMoc97oq6QtqPLbJEJg2vX74FSaroQA";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/view/267.html" target="_blank">联系方式</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
	</ul>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>