<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>n个结点构造多少种树</title>
<meta name="keywords" content="个,结点,构造,形态,不同,的,树,数量,个,结点," />
<meta name="description" content="本节要讨论的是当给定n（n=0）个结点时，可以构建多少种形态不同的树。 如果两棵树中各个结点的位置都一一对应，可以说这两棵树相似。如果两棵树不仅相似，而且对应结点上的数据" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>n个结点构造多少种树</h1>
			<div id="arc-body">本节要讨论的是当给定 n（n&gt;=0）个结点时，可以构建多少种形态不同的<u><a href='/view/325.html' target='_blank'>树</a></u>。<br />
<blockquote>
	<p>
		如果两棵树中各个结点的位置都一一对应，可以说这两棵树相似。如果两棵树不仅相似，而且对应结点上的数据也相同，就可以说这两棵树等价。本节中，形态不同的树指的是互不相似的树。</p>
</blockquote>
前面介绍过，对于任意一棵普通树，通过<u><a href='/view/198.html' target='_blank'>孩子兄弟表示法</a></u>的转化，都可以找到唯一的一棵<u><a href='/view/326.html' target='_blank'>二叉树</a></u>与之对应。所以本节研究的题目也可以转化成：n 个结点可以构建多少种形态不同的二叉树。<br />
<br />
每一棵普通树对应的都是一棵没有右子树的二叉树，所以对于 n 个结点的树来说，树的形态改变是因为除了根结点之外的其它结点改变形态得到的，所以，<span style="color:#b22222;">n 个结点构建的形态不同的树与之对应的是 n-1 个结点构建的形态不同的二叉树</span>。<br />
<br />
如果 t<sub>n</sub> 表示 n 个结点构建的形态不同的树的数量，b<sub>n</sub> 表示 n 个结点构建的形态不同的二叉树的数量，则两者之间有这样的关系：<code>t<sub>n</sub>=b<sub>n-1</sub></code>。<br />
<h2>
	方法一</h2>
最直接的一种方法就是推理。当 n=0 时，只能构建一棵空树；当 n=2 时，可以构建 2 棵形态不同的二叉树，如图 1（A）；当 n=3 时，可以构建 5 棵形态互不相同的二叉树，如图 1（B）。
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170905/2-1FZ5104043937.png" style="width: 671px; height: 245px;" /><br />
	图 1 不同形态的二叉树</div>
<br />
对于具有 n（ n&gt;1 ）个结点的二叉树来说，都可以看成是一个根结点、由 i 个结点组成的左子树和由 <code>n-i-1</code> 个结点组成的右子树。
<blockquote>
	<p>
		当 n=1 时，也适用，只不过只有一个根结点，没有左右孩子（i=0）。</p>
</blockquote>
可以得出一个递推公式：<br />
<img alt="" src="/uploads/allimg/170905/2-1FZ5104141558.png" style="width: 252px; height: 114px;" /><br />
通过对公式一步步的数学推算，最后得出，含有 n 个结点的不相似的二叉树的数量为：<br />
<img alt="" src="/uploads/allimg/170905/2-1FZ5104202Y5.png" style="width: 200px; height: 50px;" />
<h2>
	方法二</h2>
从遍历二叉树的角度进行分析，对于任意一棵二叉树来说，它的前序序列和中序序列以及后序序列都是唯一的。其实是这句话还可以倒过来说，只要确定了一棵二叉树的三种遍历序列中的两种，那么这棵二叉树也可以唯一确定。<br />
<br />
例如，给定了一个二叉树的前序序列和中序序列分别为：<br />
<div class="info-box">
	前序序列：A B C D E F G<br />
	中序序列：C B E D A F G</div>
可以唯一得到的二叉树如图 2（4）：
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170905/2-1FZ510424EF.png" style="width: 416px; height: 479px;" /><br />
	图 2 构造二叉树的过程示意图</div>
<br />
分析：通过前序序列得知，结点A为二叉树的根结点，结合中序序列，在结点 A 左侧的肯定为其左孩子中的所有结点，右边为右孩子的所有结点，如图 2（1）所示。<br />
<br />
再分析 A 结点的左孩子，在前序序列看到，结点 A 后紧跟的是结点 B，由此断定结点 A 的左孩子是 B，再看中序序列，结点 B 左侧只有一个结点 C ，为 B 的左孩子，结点 B 右侧的结点E 和 D 为右孩子，如图 2（2）。<br />
<br />
再分析结点 B 的右孩子，前序序列看到，结点 D 在 E 的前边，所有 D 为 B 的右孩子。在中序序列中，结点 E 在 D 前边，说明 E 是 D 的左孩子，如图 2（3）。<br />
<br />
最后分析结点 A 的右孩子，由前序序列看到， F 在 G 前边，说明F为根结点。在中序序列中也是如此，说明，G 是 F 的右孩子。如图 2（4）所示。<br />
<br />
如果要唯一确定一棵二叉树，必须知道至少两种遍历序列。如果只确定一种序列，无法准确判定二叉树的具体构造。
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170905/2-1FZ51044001J.png" style="width: 469px; height: 206px;" /><br />
	图 3 前序序列（1，2，3）的二叉树</div>
<br />
如图 3 所示为前序序列（1，2，3）构建的不同形态的二叉树，他们的中序序列各不相同。所以不同形态二叉树的数目恰好就是前序序列一定的情况下，所能得到的不同的中序序列的个数。<br />
<br />
中序序列是对二叉树进行中序遍历获得的，遍历的过程实质上就是结点数据进<u><a href='/view/300.html' target='_blank'>栈</a></u>出栈的过程。所以，中序序列的个数就是数列（1，2，3）按1-2-3的顺序进栈，<br />
各元素选择在不同的时间点出栈，所获的的不同的出栈顺序即为中序序列，而中序序列的数目，也就是不同形态的二叉树的个数。
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170905/2-1FZ510442J59.png" style="width: 600px; height: 343px;" /><br />
	图 4 中序遍历时进栈和出栈的过程</div>
<br />
根据数列中数据的个数 n，所得到的排列顺序的数目为：<br />
<img alt="" src="/uploads/allimg/170905/2-1FZ5104510936.png" style="width: 250px; height: 56px;" /><br />
通过以上两种方式，都可以知道n个结点能构建的不同形态的二叉树的数量，再结合 tn=bn-1，就可以计算出 n 个结点能构建的不同形态的树的个数。<br />
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 35;
window.arcId = "7d4bcbNbly/xsbGKCM8Fb8JLSTVV0RCmDxZ91LNN1K9+pnABjmAXwYeV";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>