<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>VS2019下载地址和安装教程（图解）</title>
<meta name="keywords" content="VS2019,下载,地址,和,安装,教程,图解,VS2019" />
<meta name="description" content="继 VS2015 和 VS2017 之后，微软于 2019 年 4 月 3 日发布了新版的集成开发环境VS2019。 和 VS2017 相比，VS2019（Visual Studio 2019）更加强大，不仅新增了一键清除代码、利用实时协作开发共享代码" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		<dd>
        	<span class="channel-num">1</span>
        	<a href="/view/382.html">什么是编译器？</a>
        </dd>
<dd>
        	<span class="channel-num">2</span>
        	<a href="/view/383.html">与编译器相关的几个知识点</a>
        </dd>
<dd>
        	<span class="channel-num">3</span>
        	<a href="/view/384.html">windows下的C语言编译器</a>
        </dd>
<dd>
        	<span class="channel-num">4</span>
        	<a href="/view/385.html">VS2022下载和安装教程（图解版）</a>
        </dd>
<dd>
        	<span class="channel-num">5</span>
        	<a href="/view/386.html">使用VS2022编写C语言程序</a>
        </dd>
<dd>
        	<span class="channel-num">6</span>
        	<a href="/view/387.html">VS2019下载地址和安装</a>
        </dd>
<dd>
        	<span class="channel-num">7</span>
        	<a href="/view/388.html">使用VS2019编写C语言程序</a>
        </dd>
<dd>
        	<span class="channel-num">8</span>
        	<a href="/view/389.html">VS2017下载地址和安装</a>
        </dd>
<dd>
        	<span class="channel-num">9</span>
        	<a href="/view/390.html">使用VS2017编写C语言程序</a>
        </dd>
<dd>
        	<span class="channel-num">10</span>
        	<a href="/view/391.html">VS2015下载地址和安装教程</a>
        </dd>
<dd>
        	<span class="channel-num">11</span>
        	<a href="/view/392.html">使用VS2015编写C语言程序</a>
        </dd>
<dd>
        	<span class="channel-num">12</span>
        	<a href="/view/393.html">Dev C++下载地址和安装教程</a>
        </dd>
<dd>
        	<span class="channel-num">13</span>
        	<a href="/view/394.html">使用Dev C++编写C语言程序</a>
        </dd>
<dd>
        	<span class="channel-num">14</span>
        	<a href="/view/395.html">VC6.0下载地址和安装教程</a>
        </dd>
<dd>
        	<span class="channel-num">15</span>
        	<a href="/view/403.html">使用VC6.0编写C语言程序</a>
        </dd>
<dd>
        	<span class="channel-num">16</span>
        	<a href="/view/396.html">Code::Blocks下载地址和安装教程</a>
        </dd>
<dd>
        	<span class="channel-num">17</span>
        	<a href="/view/397.html">Code::Blocks汉化教程</a>
        </dd>
<dd>
        	<span class="channel-num">18</span>
        	<a href="/view/398.html">使用Code::Blocks编写C语言程序</a>
        </dd>
<dd>
        	<span class="channel-num">19</span>
        	<a href="/view/402.html">Xcode简明教程</a>
        </dd>
<dd>
        	<span class="channel-num">20</span>
        	<a href="/view/401.html">Linux GCC简明教程</a>
        </dd>
<dd>
        	<span class="channel-num">21</span>
        	<a href="/view/399.html">VS安全函数问题问题</a>
        </dd>
<dd>
        	<span class="channel-num">22</span>
        	<a href="/view/400.html">VS“无法查找或打开PDB文件”问题</a>
        </dd>

	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<h1>VS2019下载地址和安装教程（图解）</h1>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/386.html">使用VS2022编写C语言程序</a></span>
                    <span class="next right"><a href="/view/388.html">使用VS2019编写C语言程序</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/386.html";window.nextPageURL = "/view/388.html";</script>
			<div id="arc-body">继 VS2015 和 VS2017 之后，微软于 2019 年 4 月 3 日发布了新版的集成开发环境&mdash;&mdash;VS2019。<br />
<br />
和 VS2017 相比，VS2019（Visual Studio 2019）更加强大，不仅新增了一键清除代码、利用实时协作开发共享代码等功能，还改进了 C++ 文件的 IntelliSense 性能、简化了解决方案资源管理器中的测试访问等。<br />
<br />
和先前的版本一样，VS2019 也分为以下 3 个版本：
<ul>
	<li>
		社区版（Community）：免费提供给单个开发人员，给予初学者及大部分程序员支持，可以无任何经济负担、合法地使用。</li>
	<li>
		企业版（Enterprise）：为正规企业量身定做，能够提供点对点的解决方案，充分满足企业的需求。企业版官方售价 250美元/月。</li>
	<li>
		专业版（Professional）：适用于专业用户或者小型团体。虽没有企业版全面的功能，但相比于免费的社区版，有更强大的功能。专业版官方售价 45美元/月。</li>
</ul>
<br />
对于大部分程序开发，免费的社区版足以满足需求，所以<span style="color:#b22222;">我推荐大家使用社区版</span>，既省去了破解的麻烦，也尊重微软的版权。<br />
<h2>
	下载VS2019</h2>
VS2019社区版下载地址：<br />
网盘：<a href="https://pan.quark.cn/s/473ee962f745" target="_blank">https://pan.quark.cn/s/473ee962f745</a>
<blockquote>
	<p>
		该文件仅 1.39 MB，是 VS 2019 Community 简体中文版的一个安装引导程序，启动后勾选需要的组建即可进行在线下载安装。</p>
</blockquote>
<h2>
	安装VS2019</h2>
下载 VS2019 会得到一个名为 &quot;vs2019_community&quot; 的可执行文件，双击打开它，会弹出如下界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240820/2-240R0092610H8.gif" /><br />
	图 1 启动安装前的配置界面</div>
<br />
点击&ldquo;继续&rdquo;，会进入如下界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240820/2-240R009261YE.gif" /><br />
	图 2 下载和安装必要的配置文件</div>
<br />
待两个进度条全部达到 100% 后，会自行弹出如下界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240820/2-240R0092625457.gif" /><br />
	图 3 安装配置界面</div>
<br />
VS 2019 除了支持 C/C++ 开发，还支持 C#、F#、Visual Basic 等开发语言，我们没有必要安装所有的组件，只需要安装 &ldquo;使用C++ 的桌面开发&rdquo; 即可。此外，您可以选择 VS 2019 的安装路径（例如笔者将其安装到 D 盘下的 VS2019 文件夹中），最终点击 &quot;安装&quot; 按钮，进入如图所示的界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240820/2-240R0092632144.gif" /><br />
	图 4 下载并安装 VS2019</div>
<br />
耐心等待两个进度条全部为 100%，可能会弹出下面的窗口，提示我们&ldquo;安装成功，需要重启计算机&rdquo;，重启即可。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240820/2-240R00926391N.gif" /><br />
	图 5 安装成功，重新启动提示界面</div>
<br />
重新启动后进入&ldquo;开始&rdquo;菜单，会看到已安装好的 VS2019：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240820/2-240R009264C47.gif" /><br />
	图 6 安装好的 VS 2019</div>
<br />
打开 VS 2019 会弹出如下界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240820/2-240R0092A41E.gif" /><br />
	图 7 打开 VS 2019</div>
<br />
由此，表明我们成功安装好了 VS2019。</div>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/386.html">使用VS2022编写C语言程序</a></span>
                    <span class="next right"><a href="/view/388.html">使用VS2019编写C语言程序</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/386.html";window.nextPageURL = "/view/388.html";</script>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 387;
window.arcId = "7c43O9PM2590DOY3ISBFlG0kAz7OnMlBZT5Sq3LceClQLOh8/up7Kv/4eQ";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>