<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>顺序表(线性表的顺序存储结构)及C语言实现</title>
<meta name="keywords" content="顺序,表,线性,的,存储,结构,顺序,表,线性,的," />
<meta name="description" content="数据之间不但逻辑结构上相邻，在物理结构上也相邻，这种存储结构称为 线性表的顺序存储 。 简单地理解，就是所有数据全部存储在一整块连续的内存空间中，数据之间相互紧挨着，" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>顺序表(线性表的顺序存储结构)及C语言实现</h1>
			<div id="arc-body"><span style="color:#b22222;">逻辑结构上呈线性分布的数据元素在实际的物理存储结构中也同样相互之间紧挨着，这种存储结构称为</span><span style="color:#008000;"><u><a href='/view/287.html' target='_blank'>线性表</a></u>的顺序存储结构</span><span style="color:#b22222;">。</span><br />
<blockquote>
	<p>
		也就是说，逻辑上具有线性关系的数据按照前后的次序全部存储在一整块连续的内存空间中，之间不存在空隙，这样的存储结构称为顺序存储结构。</p>
</blockquote>
使用顺序存储结构存储的数据，第一个元素所在的地址就是这块存储空间的首地址。通过首地址，可以轻松访问到存储的所有的数据，只要首地址不丢，数据永远都能找着（一根绳上的蚂蚱，要有就都有）。<br />
<br />
<span style="color:#b22222;">使用线性表的顺序存储结构生成的表，称为</span><span style="color:#008000;"><u><a href='/view/288.html' target='_blank'>顺序表</a></u></span><span style="color:#b22222;">。</span>
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170727/2-1FHG4324N34.png" /><br />
	图1 顺序表结构示意图</div>
<h2>
	顺序表的实现方法</h2>
顺序表中存放数据的特点和数组这种数据类型完全吻合，所以顺序表的实现使用的是数组。
<div class="info-box">
	数组实现顺序表的存储结构时，一定要注意预先申请足够大的内存空间，避免因存储空间不足，造成数据溢出，导致不必要的程序错误甚至崩溃。</div>
<h2>
	顺序表的存储结构</h2>
<p class="cpp">
	在建立顺序表时，除了预先申请内存空间，还需要实时记录顺序表的长度和顺序表本身申请的内存大小，便于后期对顺序表中的数据元素进行调取。<br />
	&nbsp;<br />
	所以，要自定义顺序表的结构：</p>
<pre class="cpp">
typedef struct Table{
    int * head;//声明了一个名为head的长度不确定的数组，也叫&ldquo;动态数组&rdquo;
    int length;//记录当前顺序表的长度
    int size;//记录顺序表分配的存储容量
}table;</pre>
<h2>
	顺序表的创建</h2>
<p class="cpp">
	顺序表的建立，也就是顺序表进行初始化，在预先申请内存空间的同时，给变量size和length赋初值：</p>
<pre class="cpp">
table initTable(){
    table t;
    t.head=(int*)malloc(Size*sizeof(int));//构造一个空的顺序表，动态申请存储空间
    if (!t.head) //如果申请失败，作出提示并直接退出程序
    {
        printf(&quot;初始化失败&quot;);
        exit(0);
    }
    t.length=0;//空表的长度初始化为0
    t.size=Size;//空表的初始存储空间为Size
    return t;
}</pre>
<h2>
	顺序表查找元素</h2>
<p>
	在数组中查找某个数据元素时，可以采取多种查找算法，例如<u><a href='/view/352.html' target='_blank'>二分查找</a></u>、插值查找、斐波那契查找算法等。</p>
<div class="info-box">
	具体的查找算法以及各自的<u><a href='/view/vip_284.html' target='_blank'>时间复杂度</a></u>后续章节会介绍。</div>
<p>
	根据顺序表中存储的数据的特点，选择合适的算法。这里，采用<u><a href='/view/351.html' target='_blank'>顺序查找</a></u>算法（普通的遍历算法）。</p>
<p>
	实现代码：</p>
<pre class="cpp">
//查找函数，其中，elem表示要查找的数据元素的值
int selectTable(table t,int elem){
    for (int i=0; i&lt;t.length; i++) {
        if (t.head[i]==elem) {
            return i+1;
        }
    }
    return -1;//如果查找失败，返回-1
}</pre>
<h2>
	顺序表中更改元素</h2>
顺序表中更改数据元素，最简单直接的方式就是：调用查找算法找到该数据元素的位置，直接在该位置上更改。<br />
<br />
实现代码：
<pre class="cpp">
//更改函数，其中，elem为要更改的元素，newElem为新的数据元素
table amendTable(table t,int elem,int newElem){
    int add=selectTable(t, elem);
    t.head[add-1]=newElem;//由于返回的是元素在顺序表中的位置，所以-1就是该元素在数组中的下标
    return t;
}</pre>
<h2>
	顺序表插入元素</h2>
插入数据元素，无非三种情况：<br />
<ol>
	<li>
		在表头插入</li>
	<li>
		在表的中间某个位置插入</li>
	<li>
		直接尾随顺序表，作为表的最后一个元素</li>
</ol>
<br />
无论在顺序表的什么位置插入数据元素，解决办法都是：找到要插入的位置，将后续数据元素整体向后移动一个位置，最后直接在腾出来的位置上插入数据元素。<br />
<br />
实现代码：
<pre class="cpp">
<span style="font-family: Arial, Verdana, sans-serif;">//插入函数，其中，elem为插入的元素，add为插入到顺序表的位置
</span>table addTable(table t,int elem,int add)
{
    //判断插入本身是否存在问题（如果插入元素位置比整张表的长度+1还大（如果相等，是尾随的情况），
    //或者插入的位置本身不存在，程序作为提示并自动退出）
    if (add&gt;t.length+1||add&lt;1) {
        printf(&quot;插入位置有问题&quot;);
        return t;
    }
    //做插入操作时，首先需要看顺序表是否有多余的存储空间提供给插入的元素，如果没有，需要申请
    if (t.length==t.size) {
        t.head=(int *)realloc(t.head, (t.size+1)*sizeof(int));
        if (!t.head) {
            printf(&quot;存储分配失败&quot;);
            return t;
        }
        t.size+=1;
    }  
    //插入操作，需要将从插入位置开始的后续元素，逐个后移
    for (int i=t.length-1; i&gt;=add-1; i--) {
        t.head[i+1]=t.head[i];
    }
    //后移完成后，直接将所需插入元素，添加到顺序表的相应位置
    t.head[add-1]=elem;
    //由于添加了元素，所以长度+1
    t.length++;
    return t;
}</pre>
<blockquote>
	<p>
		<span style="color:#b22222;">注意：</span>在此程序中，当数组存储空间不足时，使用realloc函数每次额外多申请 1 个int型的存储空间，这么做还不是最优。最好的办法就是每次发现空间不够时，多申请几个内存空间，这么做的好处是：在后续做插入操作过程中不需要每次都运行realloc函数，提高了程序的运行效率。</p>
</blockquote>
<h2>
	顺序表删除元素</h2>
在数组中删除元素时，只需将该元素所在位置后的所有数据元素整体前移 1 个位置即可。<br />
<div class="info-box">
	前移的过程中被删除元素被后一个元素覆盖掉，间接实现了删除操作。</div>
实现代码：
<pre class="cpp">
table delTable(table t,int add){
    if (add&gt;t.length || add&lt;1) {
        printf(&quot;被删除元素的位置有误&quot;);
        exit(0);
    }
    //删除操作
    for (int i=add; i&lt;t.length; i++) {
        t.head[i-1]=t.head[i];
    }
    t.length--;
    return t;
}</pre>
<h2>
	完整的程序</h2>
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#define Size 4
typedef struct Table{
    int * head;
    int length;
    int size;
}table;

table initTable(){
    table t;
    t.head=(int*)malloc(Size*sizeof(int));
    if (!t.head)
    {
        printf(&quot;初始化失败&quot;);
        exit(0);
    }
    t.length=0;
    t.size=Size;
    return t;
}

table addTable(table t,int elem,int add)
{
    if (add&gt;t.length+1||add&lt;1) {
        printf(&quot;插入位置有问题&quot;);
        return t;
    }
    if (t.length&gt;=t.size) {
        t.head=(int *)realloc(t.head, (t.size+1)*sizeof(int));
        if (!t.head) {
            printf(&quot;存储分配失败&quot;);
        }
        t.size+=1;
    }
    for (int i=t.length-1; i&gt;=add-1; i--) {
        t.head[i+1]=t.head[i];
    }
    t.head[add-1]=elem;
    t.length++;
    return t;
}
table delTable(table t,int add){
    if (add&gt;t.length || add&lt;1) {
        printf(&quot;被删除元素的位置有误&quot;);
        exit(0);
    }
    for (int i=add; i&lt;t.length; i++) {
        t.head[i-1]=t.head[i];
    }
    t.length--;
    return t;
}
int selectTable(table t,int elem){
    for (int i=0; i&lt;t.length; i++) {
        if (t.head[i]==elem) {
            return i+1;
        }
    }
    return -1;
}
table amendTable(table t,int elem,int newElem){
    int add=selectTable(t, elem);
    t.head[add-1]=newElem;
    return t;
}
void displayTable(table t){
    for (int i=0;i&lt;t.length;i++) {
        printf(&quot;%d&quot;,t.head[i]);
    }
    printf(&quot;\n&quot;);
}
int main(){
    table t1=initTable();
    for (int i=1; i&lt;=Size; i++) {
        t1.head[i-1]=i;
        t1.length++;
    }
    printf(&quot;原顺序表：\n&quot;);
    displayTable(t1);
   
    printf(&quot;删除元素1:\n&quot;);
    t1=delTable(t1, 1);
    displayTable(t1);
   
    printf(&quot;在第2的位置插入元素5:\n&quot;);
    t1=addTable(t1, 5, 2);
    displayTable(t1);
   
    printf(&quot;查找元素3的位置:\n&quot;);
    int add=selectTable(t1, 3);
    printf(&quot;%d\n&quot;,add);
   
    printf(&quot;将元素3改为6:\n&quot;);
    t1=amendTable(t1, 3, 6);
    displayTable(t1);
    return 0;
}</pre>
输出结果：<br />
<pre class="info-box">
原顺序表：
1234
删除元素1:
234
在第2的位置插入元素5:
2534
查找元素3的位置:
3
将元素3改为6:
2564</pre>
<h2>
	顺序表的优缺点</h2>
顺序表实现的基础，完全借用了数组这一数据类型，优点是在对数据进行遍历时，数据在连续的物理空间中存放，查找的速度比较快。<br />
<br />
但是由于数组本身的限制，在向顺序表中新增或者删除数据元素时，如果被操作位置后续有很多数据元素，后续所有的数据元素都需要前移，最后虽然实现了功能，但是程序总体效率不高。<br />
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 4;
window.arcId = "0fc0e18jhsVYNcbnGJG4gXDsXJkq+hJ7S+Goid8I2qPaS6VYSuvvgoc";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>