<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>C语言模拟密码输入（显示星号）</title>
<meta name="keywords" content="语言,模拟,密码,输入,显示,星号,本节,涉,及到," />
<meta name="description" content="本节涉及到的部分知识在后续章节才会讲到，如果您是初学者，请阅读完入门教程再来回顾本节。 一个安全的程序在用户输入密码时不应该显示密码本身，而应该回显星号或者点号，例" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构与算法教程Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">教程首页</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/c/base/'>编程基础</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/c/begin/'>C语言初探</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/c/variable_datatype/'>变量和数据类型</a>
			</dd>
		<dd class="this"> <span class="channel-num">4</span> <a href="/c/io/">C语言输入输出</a> </dd><dl class="dl-sub"><dd>4.1 <a href="/view/436.html">数据输出大汇总以及轻量进阶</a></dd><dd>4.2 <a href="/view/437.html">在屏幕的任意位置输出字符，开发小游戏的第一步</a></dd><dd>4.3 <a href="/view/438.html">使用scanf读取从键盘输入的数据</a></dd><dd>4.4 <a href="/view/439.html">从键盘输入字符和字符串</a></dd><dd>4.5 <a href="/view/440.html">进入缓冲区的世界，破解一切与输入输出有关的疑难杂症</a></dd><dd>4.6 <a href="/view/441.html">结合缓冲区谈scanf函数，那些奇怪的行为其实都有章可循</a></dd><dd>4.7 <a href="/view/442.html">清空（刷新）缓冲区，从根本上消除那些奇怪的行为</a></dd><dd>4.8 <a href="/view/443.html">scanf的高级用法，原来scanf还有这么多新技能</a></dd><dd>4.9 <a href="/view/444.html">C语言模拟密码输入(显示星号)</a></dd><dd>4.10 <a href="/view/445.html">非阻塞式键盘监听，用户不输入数据程序也能继续执行</a></dd></dl>
			<dd>
				<span class="channel-num">5</span>
				<a href='/c/branch_loop/'>循环结构和选择结构</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/c/array/'>C语言数组</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/c/function/'>C语言函数</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/c/preprocess/'>预处理命令</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/c/pointer/'>指针</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/c/struct/'>结构体</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/c/file/'>文件操作</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/c/debug/'>C语言调试</a>
			</dd>
		
			<dd>
				<span class="channel-num">13</span>
				<a href='/c/memory/'>C语言内存精讲</a>
			</dd>
		
			<dd>
				<span class="channel-num">14</span>
				<a href='/c/module/'>多文件编程</a>
			</dd>
		
			<dd>
				<span class="channel-num">15</span>
				<a href='/c/practice/'>C语言项目实战案例</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<h1>C语言模拟密码输入（显示星号）</h1>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/443.html">scanf的高级用法，原来scanf还有这么多新技能</a></span>
                    <span class="next right"><a href="/view/445.html">非阻塞式键盘监听，用户不输入数据程序也能继续执行</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/443.html";window.nextPageURL = "/view/445.html";</script>
			<div id="arc-body"><blockquote>
	本节涉及到的部分知识在后续章节才会讲到，如果您是初学者，请阅读完入门教程再来回顾本节。</blockquote>
一个安全的程序在用户输入密码时不应该显示密码本身，而应该回显星号或者点号，例如<code>&middot;&middot;&middot;&middot;&middot;&middot;</code>或<code>******</code>，这在网页、PC软件、ATM机、POS机上经常看到。但是C语言没有提供类似的功能，控制台上只能原样显示用户输入的字符。<br />
<br />
我们完全可以模拟密码输入的效果，请先看下面的代码：
<pre class="c">
#include &lt;stdio.h&gt;
#include &lt;conio.h&gt;
#include &lt;ctype.h&gt;
#define PWDLEN 20

void getpwd(char *pwd, int pwdlen);

int main(){
    char pwd[PWDLEN+1];
    printf(&quot;Input password: &quot;);
    getpwd(pwd, PWDLEN);
    printf(&quot;The password is: %s\n&quot;, pwd);
    return 0;
}

/**
* 获取用户输入的密码
* @param  pwd     char*  保存密码的内存的首地址
* @param  pwdlen  int    密码的最大长度
**/
void getpwd(char *pwd, int pwdlen){
    char ch = 0;
    int i = 0;
    while(i&lt;pwdlen){
        ch = getch();

        if(ch == &#39;\r&#39;){  //回车结束输入
            printf(&quot;\n&quot;);
            break;
        }
       
        if(ch==&#39;\b&#39; &amp;&amp; i&gt;0){  //按下删除键
            i--;
            printf(&quot;\b \b&quot;);
        }else if(isprint(ch)){  //输入可打印字符
            pwd[i] = ch;
            printf(&quot;*&quot;);
            i++;
        }
    }
    pwd[i] = 0;
}</pre>
运行结果：<br />
Input password: *********<br />
The password is: 123456789<br />
<br />
代码中定义了一个函数 getpwd()，它有两个参数：pwd 为保存密码的内存的首地址，pwdlen 为密码的最大长度。<br />
<br />
函数通过 while 循环来不断读取用户输入的字符，并逐一对它们进行处理：
<ul>
	<li>
		如果用户按下回车键，表示输入结束了，getch() 将会读取到<code>\r</code>；</li>
	<li>
		如果用户按下删除键，表示删除前面的字符，getch() 将会读取到<code>\b</code>；</li>
	<li>
		如果用户输入可打印字符，那么就读取该字符并回显星号。</li>
</ul>
<br />
while 循环中之所以使用 getch() 来获取字符，是因为该函数既没有回显也没有缓存，可以立即读取到用户输入的字符，并且不会在屏幕上显示出来。<br />
<br />
从循环条件 i&lt;pwdlen 可以看出，当用户输入的密码超过最大长度时跳出循环，结束输入。
<blockquote>
	用户按下回车键时，getchar() 将读取到<code>\n</code>字符，而 getch() 将读取到<code>\r</code>字符。也就是说，对于不同的字符输入函数，回车键产生的字符不同，这个细节读者要引起注意。</blockquote>
<h4>
	删除密码的思路</h4>
密码保存在字符<u><a href='/view/181.html' target='_blank'>数组</a></u>中，当用户按下删除键时，不仅要删除前面的星号，还应该删除字符数组中前面的元素。<br />
<br />
需要注意的是，数组中的元素在内存中是连续分布的，无法直接删除。上面代码中，我们并没有对数组元素进行任何操作，而是将变量 i 减 1，跳过要删除的字符。这些本该被删除的字符依然留在数组中，它们会被后续输入的字符覆盖掉。<br />
<br />
第29行代码中，我们通过<code>printf(&quot;\b \b&quot;);</code>来删除前面的星号。<code>\b</code>表示退格，也就是光标向后移动一个位置。退格，输出空格，再退格就能删除前面的星号。例如我们输入了密码 123，它在屏幕上显示为：
<pre class="info-box">
***_</pre>
输出一个退格，光标向前移动一个字符的位置，变为：
<pre class="info-box">
**<ins>*</ins></pre>
此时再输出一个空格，星号就会被覆盖掉，变为：
<pre class="info-box">
** _</pre>
虽然星号被空格替换掉了，但是光标也同时向后移动了一个位置，这样光标和星号之间就有了一个字符的间隔，所以还需要再输出一个退格，消除间隔。再输出一个退格后变为：
<pre class="info-box">
**_</pre>
<br />
函数体最后一行代码也至关重要，它向字符数组中添加了字符<u><a href='/view/175.html' target='_blank'>串</a></u>结束符，决定者密码在何处结束。<br />
</div>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/443.html">scanf的高级用法，原来scanf还有这么多新技能</a></span>
                    <span class="next right"><a href="/view/445.html">非阻塞式键盘监听，用户不输入数据程序也能继续执行</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/443.html";window.nextPageURL = "/view/445.html";</script>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 444;
window.arcId = "65d7atidmowuG91dn8qHsAwCpl0+svkGj0UFiOjHWAIIXvr6IXpl0Z+Kbg";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/view/267.html" target="_blank">联系方式</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
	</ul>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>