<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>深度优先生成树和广度优先生成树</title>
<meta name="keywords" content="深度,优先,生成,树,和,广度,深度,优先,生成," />
<meta name="description" content="本章的第一节中，介绍了有关生成树和生成森林的有关知识，本节来解决对于给定的无向图，如何构建它们相对应的生成树或者生成森林。 其实在对无向图进行遍历的时候，遍历过程中" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>深度优先生成树和广度优先生成树</h1>
			<div id="arc-body">本章的第一节中，介绍了有关<u><a href='/view/202.html' target='_blank'>生成树</a></u>和生成森林的有关知识，本节来解决对于给定的无向图，如何构建它们相对应的生成<u><a href='/view/325.html' target='_blank'>树</a></u>或者生成森林。<br />
<br />
其实在对无向图进行遍历的时候，遍历过程中所经历过的图中的顶点和边的组合，就是图的生成树或者生成森林。
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170912/2-1F912163410958.png" style="width: 420px; height: 263px;" /><br />
	图 1 无向图<br />
	&nbsp;</div>
例如，图 1 中的无向图是由 V1～V7 的顶点和编号分别为 a～i 的边组成。当使用<u><a href='/view/342.html' target='_blank'>深度优先搜索</a></u>算法时，假设 V1 作为遍历的起始点，涉及到的顶点和边的遍历顺序为（不唯一）：<br />
<img alt="" src="/uploads/allimg/170912/2-1F912163444395.png" style="width: 418px; height: 34px;" /><br />
<br />
此种遍历顺序构建的生成树为：
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170912/2-1F912163502E8.png" style="width: 303px; height: 285px;" /><br />
	<br />
	图 2 <u><a href='/view/344.html' target='_blank'>深度优先生成树</a></u></div>
<br />
由深度优先搜索得到的树为<span style="color:#008000;">深度优先生成树</span>。同理，<u><a href='/view/343.html' target='_blank'>广度优先搜索</a></u>生成的树为<span style="color:#008000;"><u><a href='/view/345.html' target='_blank'>广度优先生成树</a></u></span>，图 1 无向图以顶点 V1 为起始点进行广度优先搜索遍历得到的树，如图 3 所示：
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170912/2-1F912163551311.png" style="width: 331px; height: 264px;" /><br />
	图 3 广度优先生成树</div>
<h2>
	非<u><a href='/view/201.html' target='_blank'>连通图</a></u>的生成森林</h2>
非连通图在进行遍历时，实则是对非连通图中每个连通分量分别进行遍历，在遍历过程经过的每个顶点和边，就构成了每个连通分量的生成树。<br />
<br />
非连通图中，多个连通分量构成的多个生成树为非连通图的生成森林。
<h2>
	深度优先生成森林</h2>
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170912/2-1F912163A4559.png" style="width: 600px; height: 250px;" /><br />
	图 4 深度优先生成森林</div>
<br />
例如，对图 4 中的非连通图 （a） 采用深度优先搜索算法遍历时，得到的深度优先生成森林（由 3 个深度优先生成树构成）如 （b） 所示（不唯一）。<br />
<blockquote>
	<p>
		非连通图在遍历生成森林时，可以采用<u><a href='/view/198.html' target='_blank'>孩子兄弟表示法</a></u>将森林转化为一整棵<u><a href='/view/326.html' target='_blank'>二叉树</a></u>进行存储。</p>
</blockquote>
<br />
具体实现的代码：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#define MAX_VERtEX_NUM 20                   //顶点的最大个数
#define VRType int                          //表示顶点之间的关系的变量类型
#define VertexType int                     //图中顶点的数据类型
typedef enum{false,true}bool;               //定义bool型常量
bool visited[MAX_VERtEX_NUM];               //设置全局数组，记录标记顶点是否被访问过

typedef struct {
    VRType adj;                             //对于无权图，用 1 或 0 表示是否相邻；对于带权图，直接为权值。
}ArcCell,AdjMatrix[MAX_VERtEX_NUM][MAX_VERtEX_NUM];

typedef struct {
    VertexType vexs[MAX_VERtEX_NUM];        //存储图中顶点数据
    AdjMatrix arcs;                         //二维数组，记录顶点之间的关系
    int vexnum,arcnum;                      //记录图的顶点数和弧（边）数
}MGraph;
//孩子兄弟表示法的<u><a href='/view/290.html' target='_blank'>链表</a></u>结点结构
typedef struct CSNode{
    VertexType data;
    struct CSNode * lchild;//孩子结点
    struct CSNode * nextsibling;//兄弟结点
}*CSTree,CSNode;
//根据顶点本身数据，判断出顶点在二维数组中的位置
int LocateVex(MGraph G,VertexType v){
    int i=0;
    //遍历一维数组，找到变量v
    for (; i&lt;G.vexnum; i++) {
        if (G.vexs[i]==v) {
            break;
        }
    }
    //如果找不到，输出提示语句，返回-1
    if (i&gt;G.vexnum) {
        printf(&quot;no such vertex.\n&quot;);
        return -1;
    }
    return i;
}
//构造无向图
void CreateDN(MGraph *G){
    scanf(&quot;%d,%d&quot;,&amp;(G-&gt;vexnum),&amp;(G-&gt;arcnum));
    getchar();
    for (int i=0; i&lt;G-&gt;vexnum; i++) {
        scanf(&quot;%d&quot;,&amp;(G-&gt;vexs[i]));
    }
    for (int i=0; i&lt;G-&gt;vexnum; i++) {
        for (int j=0; j&lt;G-&gt;vexnum; j++) {
            G-&gt;arcs[i][j].adj=0;
        }
    }
    for (int i=0; i&lt;G-&gt;arcnum; i++) {
        int v1,v2;
        scanf(&quot;%d,%d&quot;,&amp;v1,&amp;v2);
        int n=LocateVex(*G, v1);
        int m=LocateVex(*G, v2);
        if (m==-1 ||n==-1) {
            printf(&quot;no this vertex\n&quot;);
            return;
        }
        G-&gt;arcs[n][m].adj=1;
        G-&gt;arcs[m][n].adj=1;//无向图的二阶矩阵沿主对角线对称
    }
}
int FirstAdjVex(MGraph G,int v)
{
    //查找与数组下标为v的顶点之间有边的顶点，返回它在数组中的下标
    for(int i = 0; i&lt;G.vexnum; i++){
        if( G.arcs[v][i].adj ){
            return i;
        }
    }
    return -1;
}
int NextAdjVex(MGraph G,int v,int w)
{
    //从前一个访问位置w的下一个位置开始，查找之间有边的顶点
    for(int i = w+1; i&lt;G.vexnum; i++){
        if(G.arcs[v][i].adj){
            return i;
        }
    }
    return -1;
}
void <u><a href='/view/342.html' target='_blank'>DFS</a></u>Tree(MGraph G,int v,CSTree*T){
    //将正在访问的该顶点的标志位设为true
    visited[v]=true;
    bool first=true;
    CSTree q=NULL;
    //依次遍历该顶点的所有邻接点
    for (int w=FirstAdjVex(G, v); w&gt;=0; w=NextAdjVex(G, v, w)) {
        //如果该临界点标志位为false，说明还未访问
        if (!visited[w]) {
            //为该邻接点初始化为结点
            CSTree p=(CSTree)malloc(sizeof(CSNode));
            p-&gt;data=G.vexs[w];
            p-&gt;lchild=NULL;
            p-&gt;nextsibling=NULL;
            //该结点的第一个邻接点作为孩子结点，其它邻接点作为孩子结点的兄弟结点
            if (first) {
                (*T)-&gt;lchild=p;
                first=false;
            }
            //否则，为兄弟结点
            else{
                q-&gt;nextsibling=p;
            }
            q=p;
            //以当前访问的顶点为树根，继续访问其邻接点
            DFSTree(G, w, &amp;q);
        }
    }
}
//深度优先搜索生成森林并转化为二叉树
void DFSForest(MGraph G,CSTree *T){
    (*T)=NULL;
    //每个顶点的标记为初始化为false
    for (int v=0; v&lt;G.vexnum; v++) {
        visited[v]=false;
    }
    CSTree q=NULL;
    //遍历每个顶点作为初始点，建立深度优先生成树
    for (int v=0; v&lt;G.vexnum; v++) {
        //如果该顶点的标记位为false，证明未访问过
        if (!(visited[v])) {
            //新建一个结点，表示该顶点
            CSTree p=(CSTree)malloc(sizeof(CSNode));
            p-&gt;data=G.vexs[v];
            p-&gt;lchild=NULL;
            p-&gt;nextsibling=NULL;
            //如果树未空，则该顶点作为树的树根
            if (!(*T)) {
                (*T)=p;
           
            }
            //该顶点作为树根的兄弟结点
            else{
                q-&gt;nextsibling=p;
            }
            //每次都要把q指针指向新的结点，为下次添加结点做铺垫
            q=p;
            //以该结点为起始点，构建深度优先生成树
            DFSTree(G,v,&amp;p);
        }
    }
}
//前序遍历二叉树
void PreOrderTraverse(CSTree T){
    if (T) {
        printf(&quot;%d &quot;,T-&gt;data);
        PreOrderTraverse(T-&gt;lchild);
        PreOrderTraverse(T-&gt;nextsibling);
    }
    return;
}
int main() {
    MGraph G;//建立一个图的变量
    CreateDN(&amp;G);//初始化图
    CSTree T;
    DFSForest(G, &amp;T);
    PreOrderTraverse(T);
    return 0;
}</pre>
运行程序，拿图 4（a）中的非连通图为例，构建的深度优先生成森林，使用孩子兄弟表示法表示为：
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170912/2-1F912163P2F9.png" style="width: 552px; height: 301px;" /><br />
	图5 孩子兄弟表示法表示深度优先生成森林</div>
<blockquote>
	<p>
		图中，3 种颜色的树各代表一棵深度优先生成树，使用孩子兄弟表示法表示，也就是将三棵树的树根相连，第一棵树的树根作为整棵树的树根。</p>
</blockquote>
<br />
运行结果
<div class="info-box">
	13,13<br />
	1<br />
	2<br />
	3<br />
	4<br />
	5<br />
	6<br />
	7<br />
	8<br />
	9<br />
	10<br />
	11<br />
	12<br />
	13<br />
	1,2<br />
	1,3<br />
	1,6<br />
	1,12<br />
	2,13<br />
	4,5<br />
	7,8<br />
	7,10<br />
	7,9<br />
	8,10<br />
	11,12<br />
	11,13<br />
	12,13<br />
	1 2 13 11 12 3 6 4 5 7 8 10 9</div>
<h2>
	广度优先生成森林</h2>
非连通图采用广度优先搜索算法进行遍历时，经过的顶点以及边的集合为该图的广度优先生成森林。<br />
<br />
拿图 4（a）中的非连通图为例，通过广度优先搜索得到的广度优先生成森林用孩子兄弟表示法为：
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/170912/2-1F912163U9C6.png" style="width: 390px; height: 363px;" /><br />
	图6 广度优先生成森林（孩子兄弟表示法）</div>
<br />
实现代码为：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#define MAX_VERtEX_NUM 20                   //顶点的最大个数
#define VRType int                          //表示顶点之间的关系的变量类型
#define InfoType char                       //存储弧或者边额外信息的指针变量类型
#define VertexType int                      //图中顶点的数据类型
typedef enum{false,true}bool;               //定义bool型常量
bool visited[MAX_VERtEX_NUM];               //设置全局数组，记录标记顶点是否被访问过
typedef struct {
    VRType adj;                             //对于无权图，用 1 或 0 表示是否相邻；对于带权图，直接为权值。
    InfoType * info;                        //弧或边额外含有的信息指针
}ArcCell,AdjMatrix[MAX_VERtEX_NUM][MAX_VERtEX_NUM];

typedef struct {
    VertexType vexs[MAX_VERtEX_NUM];        //存储图中顶点数据
    AdjMatrix arcs;                         //二维数组，记录顶点之间的关系
    int vexnum,arcnum;                      //记录图的顶点数和弧（边）数
}MGraph;

typedef struct CSNode{
    VertexType data;
    struct CSNode * lchild;//孩子结点
    struct CSNode * nextsibling;//兄弟结点
}*CSTree,CSNode;

typedef struct Queue{
    CSTree data;//<u><a href='/view/305.html' target='_blank'>队列</a></u>中存放的为树结点
    struct Queue * next;
}Queue;

//根据顶点本身数据，判断出顶点在二维数组中的位置
int LocateVex(MGraph * G,VertexType v){
    int i=0;
    //遍历一维数组，找到变量v
    for (; i&lt;G-&gt;vexnum; i++) {
        if (G-&gt;vexs[i]==v) {
            break;
        }
    }
    //如果找不到，输出提示语句，返回-1
    if (i&gt;G-&gt;vexnum) {
        printf(&quot;no such vertex.\n&quot;);
        return -1;
    }
    return i;
}
//构造无向图
void CreateDN(MGraph *G){
    scanf(&quot;%d,%d&quot;,&amp;(G-&gt;vexnum),&amp;(G-&gt;arcnum));
    for (int i=0; i&lt;G-&gt;vexnum; i++) {
        scanf(&quot;%d&quot;,&amp;(G-&gt;vexs[i]));
    }
    for (int i=0; i&lt;G-&gt;vexnum; i++) {
        for (int j=0; j&lt;G-&gt;vexnum; j++) {
            G-&gt;arcs[i][j].adj=0;
            G-&gt;arcs[i][j].info=NULL;
        }
    }
    for (int i=0; i&lt;G-&gt;arcnum; i++) {
        int v1,v2;
        scanf(&quot;%d,%d&quot;,&amp;v1,&amp;v2);
        int n=LocateVex(G, v1);
        int m=LocateVex(G, v2);
        if (m==-1 ||n==-1) {
            printf(&quot;no this vertex\n&quot;);
            return;
        }
        G-&gt;arcs[n][m].adj=1;
        G-&gt;arcs[m][n].adj=1;//无向图的二阶矩阵沿主对角线对称
    }
}

int FirstAdjVex(MGraph G,int v)
{
    //查找与数组下标为v的顶点之间有边的顶点，返回它在数组中的下标
    for(int i = 0; i&lt;G.vexnum; i++){
        if( G.arcs[v][i].adj ){
            return i;
        }
    }
    return -1;
}
int NextAdjVex(MGraph G,int v,int w)
{
    //从前一个访问位置w的下一个位置开始，查找之间有边的顶点
    for(int i = w+1; i&lt;G.vexnum; i++){
        if(G.arcs[v][i].adj){
            return i;
        }
    }
    return -1;
}

//初始化队列
void InitQueue(Queue ** Q){
    (*Q)=(Queue*)malloc(sizeof(Queue));
    (*Q)-&gt;next=NULL;
}
//结点v进队列
void EnQueue(Queue **Q,CSTree T){
    Queue * element=(Queue*)malloc(sizeof(Queue));
    element-&gt;data=T;
    element-&gt;next=NULL;
   
    Queue * temp=(*Q);
    while (temp-&gt;next!=NULL) {
        temp=temp-&gt;next;
    }
    temp-&gt;next=element;
}
//队头元素出队列
void DeQueue(Queue **Q,CSTree *u){
    (*u)=(*Q)-&gt;next-&gt;data;
    (*Q)-&gt;next=(*Q)-&gt;next-&gt;next;
}
//判断队列是否为空
bool QueueEmpty(Queue *Q){
    if (Q-&gt;next==NULL) {
        return true;
    }
    return false;
}

void <u><a href='/view/343.html' target='_blank'>BFS</a></u>Tree(MGraph G,int v,CSTree*T){
    CSTree q=NULL;
    Queue * Q;
    InitQueue(&amp;Q);
    //根结点入队
    EnQueue(&amp;Q, (*T));
    //当队列为空时，证明遍历完成
    while (!QueueEmpty(Q)) {
        bool first=true;
        //队列首个结点出队
        DeQueue(&amp;Q,&amp;q);
        //判断结点中的数据在数组中的具体位置
        int v=LocateVex(&amp;G,q-&gt;data);
        //已经访问过的更改其标志位
        visited[v]=true;
        //遍历以出队结点为起始点的所有邻接点
        for (int w=FirstAdjVex(G,v); w&gt;=0; w=NextAdjVex(G,v, w)) {
            //标志位为false，证明未遍历过
            if (!visited[w]) {
                //新建一个结点 p，存放当前遍历的顶点
                CSTree p=(CSTree)malloc(sizeof(CSNode));
                p-&gt;data=G.vexs[w];
                p-&gt;lchild=NULL;
                p-&gt;nextsibling=NULL;
                //当前结点入队
                EnQueue(&amp;Q, p);
                //更改标志位
                visited[w]=true;
                //如果是出队顶点的第一个邻接点，设置p结点为其左孩子
                if (first) {
                    q-&gt;lchild=p;
                    first=false;
                }
                //否则设置其为兄弟结点
                else{
                    q-&gt;nextsibling=p;
                }
                q=p;
            }
        }
    }
}
//广度优先搜索生成森林并转化为二叉树
void BFSForest(MGraph G,CSTree *T){
    (*T)=NULL;
    //每个顶点的标记为初始化为false
    for (int v=0; v&lt;G.vexnum; v++) {
        visited[v]=false;
    }
    CSTree q=NULL;
    //遍历图中所有的顶点
    for (int v=0; v&lt;G.vexnum; v++) {
        //如果该顶点的标记位为false，证明未访问过
        if (!(visited[v])) {
            //新建一个结点，表示该顶点
            CSTree p=(CSTree)malloc(sizeof(CSNode));
            p-&gt;data=G.vexs[v];
            p-&gt;lchild=NULL;
            p-&gt;nextsibling=NULL;
            //如果树未空，则该顶点作为树的树根
            if (!(*T)) {
                (*T)=p;
            }
            //该顶点作为树根的兄弟结点
            else{
                q-&gt;nextsibling=p;
            }
            //每次都要把q指针指向新的结点，为下次添加结点做铺垫
            q=p;
            //以该结点为起始点，构建广度优先生成树
            BFSTree(G,v,&amp;p);
        }
    }
}
//前序遍历二叉树
void PreOrderTraverse(CSTree T){
    if (T) {
        printf(&quot;%d &quot;,T-&gt;data);
        PreOrderTraverse(T-&gt;lchild);
        PreOrderTraverse(T-&gt;nextsibling);
    }
    return;
}
int main() {
    MGraph G;//建立一个图的变量
    CreateDN(&amp;G);//初始化图
    CSTree T;
    BFSForest(G, &amp;T);
    PreOrderTraverse(T);
    return 0;
}</pre>
运行结果为：
<div class="info-box">
	13,13<br />
	1<br />
	2<br />
	3<br />
	4<br />
	5<br />
	6<br />
	7<br />
	8<br />
	9<br />
	10<br />
	11<br />
	12<br />
	13<br />
	1,2<br />
	1,3<br />
	1,6<br />
	1,12<br />
	2,13<br />
	4,5<br />
	7,8<br />
	7,10<br />
	7,9<br />
	8,10<br />
	11,12<br />
	11,13<br />
	12,13<br />
	1 2 13 3 6 12 11 4 5 7 8 9 10</div>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 45;
window.arcId = "c117ZSQPahjbeEHMytNuoxMyCTiV3DgIZ0E72XycSHrB8I2sWz7JtraI";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>