<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>C语言输出菱形</title>
<meta name="keywords" content="语言,输出,菱形,菱形,就是,如下,所示,的,图形," />
<meta name="description" content="菱形，就是如下所示的图形，总行数与总列数相等： 编写程序，要求根据用户输入的总行数，打印出菱形。 分析 这个题目主要是找出规律，考察读者的逻辑思维。 你可以从第一行开始" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/c/base/'>编程基础</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/c/begin/'>C语言初探</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/c/variable_datatype/'>变量和数据类型</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/c/io/'>C语言输入输出</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/c/branch_loop/'>循环结构和选择结构</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/c/array/'>C语言数组</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/c/function/'>C语言函数</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/c/preprocess/'>预处理命令</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/c/pointer/'>指针</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/c/struct/'>结构体</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/c/file/'>文件操作</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/c/debug/'>C语言调试</a>
			</dd>
		
			<dd>
				<span class="channel-num">13</span>
				<a href='/c/module/'>多文件编程</a>
			</dd>
		
			<dd>
				<span class="channel-num">14</span>
				<a href='/c/memory/'>C语言内存精讲</a>
			</dd>
		
			<dd>
				<span class="channel-num">15</span>
				<a href='/c/practice/'>C语言项目实战案例</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>C语言输出菱形</h1>
			<div id="arc-body">菱形，就是如下所示的图形，总行数与总列数相等：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240821/2-240R110305B18.gif" /></div>
<br />
编写程序，要求根据用户输入的总行数，打印出菱形。
<h2>
	分析</h2>
这个题目主要是找出规律，考察读者的逻辑思维。<br />
<br />
你可以从第一行开始，遍历所有的列，也可以从第一列开始，遍历所有的行。<br />
<br />
下面的程序从第一行开始，遍历所有的列。<br />
<br />
设菱形的总行数为 line，总列数为 column，当前行为 i，当前列为 j。上半部分与下半部分的规律不一样，应该分开讨论。<br />
<br />
我们着眼于星号（*），思考什么条件下输出星号，总结出如下的规律。<br />
<br />
1) 对于上半部分(包括中间一行)，当前行与当前列满足如下关系输出星号：<br />
<ul>
	<li>
		<span style="line-height:1.5;">j&gt;=(column+1)/2-(i-1) &nbsp; &nbsp; (column+1)/2-(i-1) 为第 i 行最左边的星号</span></li>
	<li>
		<span style="line-height:1.5;">j&lt;=(column+1)/2+(i-1) &nbsp; &nbsp;(column+1)/2+(i-1) 为第 i 行最右边的星号</span></li>
</ul>
<br />
2) 对于下半部分，当前行与当前列满足如下关系输出星号：<br />
<ul>
	<li>
		<span style="line-height:1.5;">j&gt;=(column+1)/2-(line-i) &nbsp; &nbsp; (column+1)/2-(line-i) 为第 i 行最左边的星号</span></li>
	<li>
		<span style="line-height:1.5;">j&lt;=(column+1)/2+(line-i) &nbsp; &nbsp;(column+1)/2+(line-i) 为第 i 行最右边的星号</span></li>
</ul>
<br />
不满足上述条件，则输出空格。<br />
<br />
于是写出如下的代码：
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main() {
    int line;  // 菱形总行数
    int column;  // 菱形总列数
    int i;  // 当前行
    int j;  // 当前列

    printf(&quot;请输入菱形的行数(奇数)：&quot;);
    scanf(&quot;%d&quot;, &amp;line);
    if (line % 2 == 0) {  // 判断是否是奇数
        printf(&quot;必须输入奇数！\n&quot;);
        exit(1);
    }
    column = line;  // 总行数和总列数相同

    for (i = 1; i &lt;= line; i++) {  // 遍历所有行
        if (i &lt; (line + 1) / 2 + 1) {  // 上半部分（包括中间一行）
            for (j = 1; j &lt;= column; j++) {  // 遍历上半部分的所有列
                if ((column + 1) / 2 - (i - 1) &lt;= j &amp;&amp; j &lt;= (column + 1) / 2 + (i - 1)) {
                    printf(&quot;*&quot;);
                }
                else {
                    printf(&quot; &quot;);
                }
            }
        }
        else {  // 下半部分
            for (j = 1; j &lt;= column; j++) {  // 遍历下半部分的所有列
                if ((column + 1) / 2 - (line - i) &lt;= j &amp;&amp; j &lt;= (column + 1) / 2 + (line - i)) {
                    printf(&quot;*&quot;);
                }
                else {
                    printf(&quot; &quot;);
                }
            }
        }
        printf(&quot;\n&quot;);
    }

    return 0;
}</pre>
运行结果：
<pre class="info-box">
请输入菱形的行数(奇数)：11
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *</pre>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 461;
window.arcId = "f959p9ODN3QXLwu2qlP2d16+jRpdIgYPjJUpDdhxjqyow2OF44VshNjZZg";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>