<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>到底什么是链接，它起到了什么作用？</title>
<meta name="keywords" content="到底,什么,是,链接,它起,到了,作用,几十年," />
<meta name="description" content="几十年以前，计算机刚刚诞生，人们编写程序时，将所有的代码都写在同一个源文件中，经过长期的积累，程序包含了数百万行的代码，以至于人们无法维护这个程序了。于是人们开始" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构与算法教程Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">教程首页</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/c/base/'>编程基础</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/c/begin/'>C语言初探</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/c/variable_datatype/'>变量和数据类型</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/c/io/'>C语言输入输出</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/c/branch_loop/'>循环结构和选择结构</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/c/array/'>C语言数组</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/c/function/'>C语言函数</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/c/preprocess/'>预处理命令</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/c/pointer/'>指针</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/c/struct/'>结构体</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/c/file/'>文件操作</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/c/debug/'>C语言调试</a>
			</dd>
		
			<dd>
				<span class="channel-num">13</span>
				<a href='/c/memory/'>C语言内存精讲</a>
			</dd>
		<dd class="this"> <span class="channel-num">14</span> <a href="/c/module/">多文件编程</a> </dd><dl class="dl-sub"><dd>14.1 <a href="/view/586.html">从extern关键字开始谈多文件编程</a></dd><dd>14.2 <a href="/view/587.html">那些被编译器隐藏了的过程</a></dd><dd>14.3 <a href="/view/588.html">目标文件和可执行文件里面都有什么？</a></dd><dd>14.4 <a href="/view/589.html">到底什么是链接，它起到了什么作用？</a></dd><dd>14.5 <a href="/view/590.html">符号——链接的粘合剂</a></dd><dd>14.6 <a href="/view/591.html">强符号和弱符号</a></dd><dd>14.7 <a href="/view/592.html">强引用和弱引用</a></dd><dd>14.8 <a href="/view/593.html">C语言模块化编程中的头文件</a></dd><dd>14.9 <a href="/view/594.html">C语言标准库以及标准头文件</a></dd><dd>14.10 <a href="/view/595.html">细说C语言头文件的路径</a></dd><dd>14.11 <a href="/view/596.html">防止C语言头文件被重复包含</a></dd><dd>14.12 <a href="/view/597.html">C语言static变量和函数</a></dd><dd>14.13 <a href="/view/598.html">一个比较规范的C语言多文件编程的例子</a></dd></dl>
			<dd>
				<span class="channel-num">15</span>
				<a href='/c/practice/'>C语言项目实战案例</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<h1>到底什么是链接，它起到了什么作用？</h1>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/588.html">目标文件和可执行文件里面都有什么？</a></span>
                    <span class="next right"><a href="/view/590.html">符号——链接的粘合剂</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/588.html";window.nextPageURL = "/view/590.html";</script>
			<div id="arc-body">几十年以前，计算机刚刚诞生，人们编写程序时，将所有的代码都写在同一个源文件中，经过长期的积累，程序包含了数百万行的代码，以至于人们无法维护这个程序了。于是人们开始寻找新的方法，迫切地希望将程序源代码分散到多个文件中，一个文件一个模块，以便更好地阅读和维护，这个时候，链接器就粉墨登场了。
<h2>
	一切都是地址</h2>
我们知道，数据是保存在内存中的，对于计算机硬件来说，必须知道它的地址才能使用。变量名、函数名等仅仅是地址的一种助记符，目的是在编程时更加方便地使用数据，当源文件被编译成可执行文件后，这些标识符都不存在了，它们被替换成了数据的地址。<br />
<br />
假设变量 a、b、c 的地址分别为 0X1000、0X1004、0X1008，加法运算的机器指令为 1010，赋值运算的机器指令为 1110，那么在C语言中实现加法运算的代码为：
<p class="info-box">
	c = a + b;</p>
生成可执行文件后的机器码为：
<p class="info-box">
	1010 &nbsp;0X1000 &nbsp;0X1004 &nbsp;//将两个数据相加的值保存在一个临时区域<br />
	1110 &nbsp;0X1008 &nbsp;//将临时区域中的数据复制到地址为0X1008的内存中</p>
<span style="color: #b22222">编译器和链接器的一项重要任务就是将助记符替换成地址。</span><br />
<h2>
	汇编语言的诞生</h2>
任何程序的执行，最终都要依靠计算机硬件来完成。现代计算机硬件都是大规模集成电路，它只认识高低两个电平（电压），高电平一般为 5V，用<code>1</code>表示，低电平一般为 0V，用<code>0</code>表示。也就是说，在计算机底层，没有文字、数字、图像、视频等丰富多彩的可视化元素，只有 0 和 1 两个二进制数字，这就是<span style="color: #008000">机器语言</span>。<br />
<br />
计算机刚刚诞生的时候没有编程语言，人们直接使用机器语言（二进制）编程。现在假设有一种跳转指令，它的二进制形式为 0001，如果需要执行地址为 1010 的代码，那么可以这样写：
<p class="info-box">
	0001 &nbsp;1010</p>
<blockquote>
	所谓跳转，就是在执行当前代码块时转而执行其他的代码块。从本质上讲，C语言中的函数就是一个代码块，当发生函数调用时，就会执行其他的代码块，这个过程就是通过跳转指令来完成的。</blockquote>
那么现在问题来了，程序并不是一写好就永远不变化的，它可能会经常被修改。比如我们在地址 1010 之前插入了其他指令，那么原来的代码就得往后移动，上面的跳转指令的跳转地址也得相应地调整。<br />
<br />
<span style="color: #b22222">在这个过程中，程序员需要人工重新计算每个子程序或者跳转的目标地址，这种重新计算各个目标地址的过程叫做</span><span style="color: #008000">重定位（Relocation）</span><span style="color: #b22222">。</span>每次程序修改时，这些位置都要重新计算，十分繁琐又耗时，并且很容易出错。<br />
<br />
如果程序包含了多个源文件，就很可能会有跨文件的跳转，这种人工重定位的方式在程序拥有多个模块时会导致更加严重的问题。<br />
<br />
没办法，这种黑暗的程序员生活是没办法容忍的，于是先驱们发明了<span style="color: #008000">汇编语言（Assembly）</span>，这相比机器语言来说是个很大的进步。<br />
<br />
汇编语言使用接近人类的各种符号和标记来帮助记忆，比如用<code>jmp</code>表示跳转指令，用<code>func</code>表示一个子程序（C语言中的函数就是一个子程序）的起始地址，这种符号的方法使得人们从具体的机器指令和二进制地址中解放出来。<br />
<br />
将上面的机器指令使用汇编代码来书写：
<p class="info-box">
	jmp func</p>
这样，不管在 func 之前增加或者减少了多少条指令导致 func 的地址发生了变化，汇编器在每次汇编程序的时候会重新计算 func 这个符号的地址，然后把所有使用到 func 的地方修正为新的地址，整个过程不需要人工参与。对于一个有成千上百个类似的符号的程序，人们终于摆脱了这种低级的繁琐的计算地址的工作，用一句政治口号来说就是&ldquo;极大地解放了生产力&rdquo;。<br />
<br />
<span style="color: #008000">符号（Symbol）</span>这个概念随着汇编语言的普及被广泛接受，它用来表示一个地址，这个地址可能是一段子程序（后来发展为函数）的起始地址，也可以是一个变量的地址。
<h2>
	C语言的诞生</h2>
汇编语言的主要作用是为机器指令提供了助记符，大部分汇编代码和机器指令是一一对应的，这在汇编被发明的初期确实令程序员非常欣喜。<br />
<br />
后来随着软件规模的日渐庞大，代码量开始疯长，汇编语言的缺点逐渐暴露出来。汇编虽然提供了多种符号，但它依然非常接近计算机硬件，程序员要考虑很多细节问题和边界问题，并且不利于模块化开发，所以后来人们发明了C语言。<br />
<br />
C语言是比汇编更加高级的编程语言，极大地提高了开发效率，以加法为例，C语言只需要一条语句，汇编却需要四五条。
<h2>
	模块化开发</h2>
现代软件的规模往往都很大，动辄数百万行代码，程序员需要把它们分散到成百上千个模块中。这些模块之间相互依赖又相互独立，原则上每个模块都可以单独开发、编译、测试，改变一个模块中的代码不需要编译整个程序。
<blockquote>
	在C语言中，一个模块可以认为是一个源文件（.c 文件）。</blockquote>
在程序被分隔成多个模块后，需要解决的一个重要问题是如何将这些模块组合成一个单一的可执行程序。在C语言中，模块之间的依赖关系主要有两种：一种是模块间的函数调用，另外一种是模块间的变量访问。<br />
<br />
函数调用需要知道函数的首地址，变量访问需要知道变量的地址，所以这两种方式可以归结为一种，那就是模块间的符号引用。<br />
<br />
模块间依靠符号来&ldquo;通信&rdquo;类似于拼图版，定义符号的模块多出一个区域，引用符号的模块刚好少了那一块区域，两者刚好完美组合。如下图所示：<br />
<br />
<div style="text-align: center">
	<img alt="" src="/uploads/allimg/240822/0930462141-0.jpg" style="height: 159px; width: 160px" /></div>
<br />
<span style="color: #b22222">这种通过符号将多个模块拼接为一个独立的程序的过程就叫做</span><span style="color: #008000">链接（Linking）</span><span style="color: #b22222">。</span><br />
</div>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/588.html">目标文件和可执行文件里面都有什么？</a></span>
                    <span class="next right"><a href="/view/590.html">符号——链接的粘合剂</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/588.html";window.nextPageURL = "/view/590.html";</script>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 589;
window.arcId = "e3d9p5pg5bS9cnak6Z28LMh/qcs+iRYbwSjsuhVtia5zDSuhhqM30o9Fdw";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/view/267.html" target="_blank">联系方式</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
	</ul>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>