<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>符号——链接的粘合剂</title>
<meta name="keywords" content="符号,—,链接,的,粘合剂,链接,Linking,就是," />
<meta name="description" content="链接（Linking） 就是通过符号将各个模块组合成一个独立的程序的过程。 链接的主要内容就是把各个模块之间的相互引用部分处理好，使得各个模块能够正确地衔接。链接器所做的主要" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构与算法教程Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">教程首页</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/c/base/'>编程基础</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/c/begin/'>C语言初探</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/c/variable_datatype/'>变量和数据类型</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/c/io/'>C语言输入输出</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/c/branch_loop/'>循环结构和选择结构</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/c/array/'>C语言数组</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/c/function/'>C语言函数</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/c/preprocess/'>预处理命令</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/c/pointer/'>指针</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/c/struct/'>结构体</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/c/file/'>文件操作</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/c/debug/'>C语言调试</a>
			</dd>
		
			<dd>
				<span class="channel-num">13</span>
				<a href='/c/memory/'>C语言内存精讲</a>
			</dd>
		<dd class="this"> <span class="channel-num">14</span> <a href="/c/module/">多文件编程</a> </dd><dl class="dl-sub"><dd>14.1 <a href="/view/586.html">从extern关键字开始谈多文件编程</a></dd><dd>14.2 <a href="/view/587.html">那些被编译器隐藏了的过程</a></dd><dd>14.3 <a href="/view/588.html">目标文件和可执行文件里面都有什么？</a></dd><dd>14.4 <a href="/view/589.html">到底什么是链接，它起到了什么作用？</a></dd><dd>14.5 <a href="/view/590.html">符号——链接的粘合剂</a></dd><dd>14.6 <a href="/view/591.html">强符号和弱符号</a></dd><dd>14.7 <a href="/view/592.html">强引用和弱引用</a></dd><dd>14.8 <a href="/view/593.html">C语言模块化编程中的头文件</a></dd><dd>14.9 <a href="/view/594.html">C语言标准库以及标准头文件</a></dd><dd>14.10 <a href="/view/595.html">细说C语言头文件的路径</a></dd><dd>14.11 <a href="/view/596.html">防止C语言头文件被重复包含</a></dd><dd>14.12 <a href="/view/597.html">C语言static变量和函数</a></dd><dd>14.13 <a href="/view/598.html">一个比较规范的C语言多文件编程的例子</a></dd></dl>
			<dd>
				<span class="channel-num">15</span>
				<a href='/c/practice/'>C语言项目实战案例</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<h1>符号——链接的粘合剂</h1>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/589.html">到底什么是链接，它起到了什么作用？</a></span>
                    <span class="next right"><a href="/view/591.html">强符号和弱符号</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/589.html";window.nextPageURL = "/view/591.html";</script>
			<div id="arc-body"><span style="color: #008000">链接（Linking）</span>就是通过符号将各个模块组合成一个独立的程序的过程。<br />
<br />
链接的主要内容就是把各个模块之间的相互引用部分处理好，使得各个模块能够正确地衔接。链接器所做的主要工作跟前面提到的&ldquo;人工调整地址&rdquo;本质上没有什么两样，只不过现代的高级语言拥有诸多的特性，使得编译器和链接器更为复杂，功能更为强大，但从原理上来讲，无非是找到符号的地址，或者把指令中使用到的地址加以修正。这个过程称为<span style="color: #008000">符号决议（Symbol Resolution）</span>或者<span style="color: #008000">重定位（Relocation）</span>。<br />
<br />
对于简单的 C语言程序，链接过程如下图所示。每个模块的源文件（.c 和 .h）先被编译成目标文件，再和系统库一起链接成可执行文件。<span style="color: #008000">库（Library）</span>其实是一组目标文件的包，是将一些最常用的代码编译成目标文件后打包存放。<br />
<br />
<div style="text-align: center">
	<img alt="" src="/uploads/allimg/240822/09321Q5O-0.jpg" style="height: 324px; width: 411px" /></div>
<br />
系统库这个概念比较模糊，专业一点应该叫做<span style="color: #008000">运行时库（Runtime Library）</span>。&ldquo;运行时&rdquo;就是程序运行期间，&ldquo;运行时库&rdquo;包含了程序运行期间所需要的基本函数，是程序运行不可或缺的，例如输入输出函数 printf()、scanf()，内存管理函数 malloc()、free() 等。<br />
<br />
链接过程并没有想象中的复杂，它还是一个比较容易理解的概念。<br />
<br />
假设一个程序有两个模块 main.c 和 module.c，我们在 module.c 中定义了函数 func()，并在 main.c 中进行了多次调用，当所有模块被编译成一个可执行文件后，每一处对 func() 函数的调用都会被替换为一个绝对地址。但由于每个模块都是单独编译的，编译器在处理 main.c 时并不知道 func() 的地址，所以需要把这些调用 func() 的指令的目标地址搁置，等到最后链接的时候再由链接器将这些地址修正。<br />
<br />
如果没有链接器，我们必须手工修正 func() 的地址。当 module.c 被修改并重新编译时，func() 的地址极有可能改变，那么在 main.c 中所有使用到 func() 函数的地方，都要全部重新调整地址。这些繁琐的工作将成为程序员的噩梦。<br />
<br />
有了链接器，我们可以直接调用其他模块中的函数而无需知道它们的地址，因为在链接的时候，链接器会根据符号 func 自动去 module.c 模块查找 func 的地址，然后将 main.c 模块中所有使用到 func 的指令重新修正，让它们的目标地址成为真正的 func() 函数的地址。<br />
<br />
<span style="color: #b22222">这种在程序运行之前确定符号地址的过程叫做</span><span style="color: #008000">静态链接（Static Linking）</span><span style="color: #b22222">；如果需要等到程序运行期间再确定符号地址，就叫做</span><span style="color: #008000">动态链接（Dynamic Linking）</span><span style="color: #b22222">。</span><br />
<br />
Windows 下的 .dll 或者 Linux 下的 .so 必须要嵌入到可执行程序、作为可执行程序的一部分运行，它们所包含的符号的地址就是在程序运行期间确定的，所以称为<span style="color: #008000">动态链接库（Dynamic Linking Library）</span>。<br />
<br />
变量和函数一样，都是符号，都需要确定它的地址。例如在 a.c 中有一个 int 类型的全局变量 var，现在需要在 b.c 中对它赋值 42，对应的C语言代码是：
<p class="info-box">
	var = 100;</p>
对应的汇编代码为：
<p class="info-box">
	mov 0x2a, var</p>
mov 用来将一份数据移动到一个存储位置，这里表示将 0x2a 移动到 var 符号所代表的位置，也就是对 var 变量赋值。<br />
<br />
当被编译成目标文件后，得到如下的机器指令：
<p class="info-box">
	c705 &nbsp;00000000 &nbsp;0000002a</p>
由于在编译时不知道变量 var 的地址，编译器将这条 mov 指令的目标地址设置为 0，等到将目标文件 a.o 和 b.o 链接起来的时候，再由链接器对其进行修正。<br />
<br />
假设生成可执行文件后变量 var 的地址为 0x1100，那么上面的机器指令就变为：
<p class="info-box">
	c705 &nbsp;00001100 &nbsp;0000002a</p>
这种地址修正的过程就是前面提到的重定位，每个需要被修正的地方叫做一个<span style="color: #008000">重定位入口（Relocation Entry）</span>。重定位所做的工作就是给程序中每个这样的绝对地址引用的位置&ldquo;打补丁&rdquo;，使它们指向正确的地址。
<h2>
	符号的概念</h2>
函数和变量在本质上是一样的，都是地址的助记符，在链接过程中，它们被称为<span style="color: rgb(0,128,0)">符号（Symbol）</span>。链接器的一个重要任务就是找到符号的地址，并对每个重定位入口进行修正。<br />
<br />
我们可以将符号看做是链接中的粘合剂，整个链接过程正是基于符号才能正确完成。<br />
<br />
在《<a href="/view/588.html" target="_blank">目标文件里面有什么，它是如何组织的</a>》一节中讲到，目标文件被分成了多个部分，其中有一个叫做<span style="color: rgb(0,128,0)">符号表（Symbol Value）</span>，它的段名是<code>.symtab</code>。符号表记录了当前目标文件用到的所有符号，包括：
<ol>
	<li>
		全局符号，也就是函数和全局变量，它们可以被其他目标文件引用。</li>
	<li>
		<span style="color: rgb(0,128,0)">外部符号（External Symbol）</span>，也就是在当前文件中使用到、却没有在当前文件中定义的全局符号。</li>
	<li>
		局部符号，也就是局部变量。它们只在函数内部可见，对链接过程没有作用，所以链接器往往也忽略它们。</li>
	<li>
		段名，这种符号往往由编译器产生，它的值就是该段的起始地址，比如<code>.text</code>、<code>.data</code>等。</li>
</ol>
<br />
对链接来说，最值得关注的是全局符号，也就是上面的第一类和第二类，其它符号都是次要的。<br />
<br />
所有的符号都保存在符号表<code>.symtab</code>中，它一个结构体<u><a href='/view/181.html' target='_blank'>数组</a></u>，每个数组元素都包含了一个符号的信息，包括符号名、符号在段中的偏移、符号大小（符号所占用的字节数）、符号类型等。
<blockquote>
	确切地说，真正的符号名字是保存在字符<u><a href='/view/175.html' target='_blank'>串</a></u>表<code>.strtab</code>中的，符号表仅仅保存了当前符号在字符串表中的偏移。</blockquote>
<h2>
	符号决议（Symbol Resolution）</h2>
当要进行链接时，链接器首先扫描所有的目标文件，获得各个段的长度、属性、位置等信息，并将目标文件中的所有（符号表中的）符号收集起来，统一放到一个全局符号表。<br />
<br />
在这一步中，链接器会将目标文件中的各个段合并到可执行文件，并计算出合并后的各个段的长度、位置、虚拟地址等。<br />
<br />
在目标文件的符号表中，保存了各个符号在段内的偏移，生成可执行文件后，原来各个段（Section）起始位置的虚拟地址就确定了下来，这样，使用起始地址加上偏移量就能够得到符号的地址（在进程中的虚拟地址）。<br />
<br />
<span style="color: #b22222">这种计算符号地址的过程被称为</span><span style="color: #008000">符号决议（Symbol Resolution）</span><span style="color: #b22222">。</span><br />
<br />
重定位表<code>.rel.text</code>和<code>.rel.data</code>中保存了需要重定位的全局符号以及重定位入口，完成了符号决议，链接器会根据重定位表调整代码中的地址，使它指向正确的内存位置。<br />
<br />
至此，可执行文件就生成了，链接器完成了它的使命。<br />
<h2>
	全局变量和局部变量</h2>
在《<a href="/c/memory/" target="_blank">C语言内存精讲</a>》中的《<a href="/view/573.html" target="_blank">Linux下C语言程序的内存布局（内存模型）</a>》一节讲到，当程序被加载到内存后，全局变量要在数据区（全局数据区）分配内存，局部变量要在<u><a href='/view/169.html' target='_blank'>栈</a></u>上分配内存。<br />
<br />
数据区在程序运行期间一直存在，全局变量的位置不会改变，地址也是固定的，所以在链接时就能够计算出全局变量的地址。而栈区内存会随着函数的调用不断被分配和释放，局部变量的地址不能预先计算，必须等到发生函数调用时才能确定，所以链接过程会忽略局部变量。<br />
<br />
关于局部变量的定位，在《<a href="/view/577.html" target="_blank">一个函数在栈上到底是怎样的</a>》中已经进行了讲解，就是 ebp 加上偏移量，这在编译阶段就能给出计算公式（一条简单的语句），程序运行后，只要执行这条语句，就能够得到局部变量的地址。<br />
<br />
<span style="color: #b22222">总结起来，链接的一项重要任务就是确定函数和全局变量的地址，并对每一个重定位入口进行修正。</span></div>
			<div class="pre-next-page pre-next-detail clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="/view/589.html">到底什么是链接，它起到了什么作用？</a></span>
                    <span class="next right"><a href="/view/591.html">强符号和弱符号</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <div class="pre-next-page pre-next-brief clearfix">
                    <span class="pre left"><span class="glyphicon glyphicon-menu-left"></span> <a href="#">上一节</a></span>
                    <span class="next right"><a href="#">下一节</a> <span class="glyphicon glyphicon-menu-right"></span></span>
                </div>
                <script type="text/javascript">window.prePageURL = "/view/589.html";window.nextPageURL = "/view/591.html";</script>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 590;
window.arcId = "f05c7p7b/B4GMkhrRzA8lymDTeeWpQJTXrxHwLpogmDSocMxwyJlLoKHwA";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/view/267.html" target="_blank">联系方式</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
	</ul>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>