<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>C语言学习小册（轻量级C语言入门教程） - 玩转C语言和数据结构</title>
<meta name="keywords" content="语言学习,小册,这本,「,语言学习,小册,」,由," />
<meta name="description" content="这本「C语言学习小册」由站长亲自创作，并长期保持更新。 这不是传统的教科书，而是你枕边的故事书，所以它阅读起来非常轻松，一点也不沉重。这也不是百科全书，而是简明教程，" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/c/base/'>编程基础</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/c/begin/'>C语言初探</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/c/variable_datatype/'>变量和数据类型</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/c/io/'>C语言输入输出</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/c/branch_loop/'>循环结构和选择结构</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/c/array/'>C语言数组</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/c/function/'>C语言函数</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/c/preprocess/'>预处理命令</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/c/pointer/'>指针</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/c/struct/'>结构体</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/c/file/'>文件操作</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/c/debug/'>C语言调试</a>
			</dd>
		
			<dd>
				<span class="channel-num">13</span>
				<a href='/c/module/'>多文件编程</a>
			</dd>
		
			<dd>
				<span class="channel-num">14</span>
				<a href='/c/memory/'>C语言内存精讲</a>
			</dd>
		
			<dd>
				<span class="channel-num">15</span>
				<a href='/c/practice/'>C语言项目实战案例</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>C语言学习小册（轻量级C语言入门教程）</h1>
			<div id="arc-body">这本「C语言学习小册」由站长亲自创作，共计 1.7W 字，并长期保持更新。<br />
<br />
这不是传统的教科书，而是你枕边的故事书，所以它阅读起来非常轻松，一点也不沉重。这也不是百科全书，而是简明教程，所以它懂得取舍，只对重要知识进行讲解，避免又臭又长。
<blockquote>
	<p>
		想系统学习 C 语言，请转战阅读《<a href="/c/">C语言入门教程（非常详细）</a>》教程。</p>
</blockquote>
读书，还是小册好；小就是轻，轻就是爽。<br />
<br />
相信我，这本小册将帮你踹开编程的大门，让你对 C 语言本身，以及 C 语言的周边都有一个整体上的认知。<br />
<h2>
	教程目录</h2>
<table>
	<tbody>
		<tr>
			<th>
				序号</th>
			<th>
				章节标题</th>
			<th>
				主要内容</th>
		</tr>
		<tr>
			<td>
				01</td>
			<td>
				C语言到底是什么玩意？</td>
			<td>
				我给C语言贴了 3 个标签，分别是中级语言、通用语言和高效语言，并分别对它们做了详尽的解释。</td>
		</tr>
		<tr>
			<td>
				02</td>
			<td>
				C语言到底能干什么？我列举了8种经典案例</td>
			<td>
				很多初学者觉得 C 语言什么也干不了，学了没用。在这篇文章中，我列举了 8 个 C 语言的开发方向，颠覆大家的认知。</td>
		</tr>
		<tr>
			<td>
				03</td>
			<td>
				学编程难吗？多久能学会？</td>
			<td>
				以过来人的身份，客观的回答&ldquo;学编程难吗？&rdquo;、&ldquo;多久能学会编程&rdquo;这两个问题。</td>
		</tr>
		<tr>
			<td>
				04</td>
			<td>
				程序员必须要学习C语言吗？</td>
			<td>
				C语言是一个老古董了，初学者即使学了，一时半会也用不上，看起来有点鸡肋。然而，几乎所有大学的计算机/软件专业都将C语言作为必修课，这又是为什么呢？难道真的是因为大学教育落后吗？当然不是，这篇文章中我将给足反驳的理由。</td>
		</tr>
		<tr>
			<td>
				05</td>
			<td>
				C语言和C++到底有什么关系？</td>
			<td>
				这篇文章中，首先阐述 C 语言和 C++ 的关系，文章末尾我还给出 C语言和 C++ 的学习顺序。</td>
		</tr>
		<tr>
			<td>
				06</td>
			<td>
				不要这样学习C语言，这是一个坑！</td>
			<td>
				对于大部分初学者来说，学习C语言的目的是希望做一名合格的程序员，开发出靠谱的软件来。但是大家学了C语言的基本语法后，发现只能开发&ldquo;黑底白字&rdquo;的 DOS 程序，完全没有漂亮的界面和生动的交互。于是学数据结构，学算法，学操作系统，越陷越深，越来越难，最后迷茫了，不知道学C语言能做什么，认为学习编程很难，开始怀疑自己，甚至想放弃。<br />
				<br />
				其实，这是很多初学者都会踩到的一个坑！</td>
		</tr>
		<tr>
			<td>
				07</td>
			<td>
				程序运行在内存中，而不是硬盘中</td>
			<td>
				这篇文章中，将给读者讲述&ldquo;虚拟内存&rdquo;的概念。</td>
		</tr>
		<tr>
			<td>
				08</td>
			<td>
				学习C语言，一定要学习内存</td>
			<td>
				程序是在内存中运行的，一名合格的程序员必须了解内存，学习C语言是了解内存布局的最简单、最直接、最有效的途径，C语言简直是为内存而生的，它比任何一门编程语言都贴近内存。</td>
		</tr>
		<tr>
			<td>
				09</td>
			<td>
				主流C语言编译器汇总（包含所有平台）</td>
			<td>
				C语言的历史比较久，而且早期没有规范，整个计算机产业也都处于拓荒的年代，所以就涌现了很多款C语言编译器，它们各有特点，适用于不同的平台，本文就来给大家科普一下。</td>
		</tr>
		<tr>
			<td>
				10</td>
			<td>
				主流C语言开发环境汇总（15款IDE推荐）</td>
			<td>
				这篇文章我给大家汇总了 15 款C语言 IDE，它们有的比较主流，有的比较小众，所以最后我还给出了使用建议。</td>
		</tr>
	</tbody>
</table>
<h2>
	领取C语言学习小册</h2>
添加站长微信，回复&ldquo;C语言学习小册&rdquo;，可免费领取：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/240115/2-240115210631414.png" style="width: 300px; height: 299px;" /><br />
	站长微信（ID：xiexuewu333）</div>
<br/>声明：当前文章为本站“玩转C语言和数据结构”官方原创，由国家机构和地方版权局所签发的<a href="/uploads/allimg/240303/2-24030319530H13.gif" target="_blank">权威证书</a>所保护。</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip"><a href="/view/635.html" target="_blank" style="color: #55ab55; cursor: pointer;">加站长微信免费领<br>C语言学习小册</a></span>
			<span class="wap-tip"><a href="/view/635.html" target="_blank" style="color: #55ab55; cursor: pointer;">加站长微信免费领C语言学习小册</a><br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 635;
window.arcId = "fad7ht+d/mucIQZIGZeDjXFr7rHICV9EpIfkffztfEk2sg+zUs0o84skqw";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p style="
    margin-top: 6px;
    font-size: 13px;
    color: #666;
    line-height: 1.6em;
">Copyright ©2024 解学武. All rights reserved.</p >
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b2de4372415b89b41cef56560ba39728";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "oxaqcuz255");
</script>
</body>
</html>