<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>VSCode下载安装和使用教程（附安装包，适合新手）</title>
<meta name="keywords" content="VSCode,下载,安装,和,使用,教程,附,包,适合," />
<meta name="description" content="VSCode安装包下载地址： VSCode安装包 Visual Studio Code（简称 VSCode）是微软开发的一款免费、开源的跨平台代码编辑器。 图：VSCode Logo 作为源代码编辑器而非传统 IDE，VSCode 核心定位轻量高" />
</head>
<body>

<div id="header" class="clearfix">
	<a id="logo" class="left" href="https://xiecoding.cn/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="https://xiecoding.cn/">首页</a></li>
		<li><a href="https://xiecoding.cn/ds/">数据结构教程</a></li>
		<li><a href="https://xiecoding.cn/c/">C语言教程</a></li>
		<li><a href="https://xiecoding.cn/buy/">购买教程</a></li>
		<li><a href="https://xiecoding.cn/sitemap/">更多>></a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<a href="https://xiecoding.cn/user/login.php" class="user-info glyphicon glyphicon-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main-no-course" class="clearfix">
	<div id="arc-info" class="clearfix">
    <!-- 左侧：面包屑导航 -->
    <div class="breadcrumb-wrap left">
        <span class="glyphicon glyphicon-home"></span>
        <span class="breadcrumb-path">
            <a href='https://xiexuewu.github.io/'>主页</a> > <a href='/soft/'>软件下载</a> 
        </span>
    </div>
</div>

<!-- 清除浮动，确保不影响下方标题 -->
<div class="clearfix"></div>
			<h1>VSCode下载安装和使用教程（附安装包，适合新手）</h1>
			<div id="arc-body"><blockquote>
	<p>
		VSCode安装包下载地址：<a href="https://xiecoding.cn/drive.php?id=61" target="_blank">VSCode安装包</a></p>
</blockquote>
Visual Studio Code（简称 VSCode）是微软开发的一款免费、开源的跨平台代码编辑器。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-2511101U000W5.gif" /><br />
	图：VSCode Logo</div>
<br />
作为源代码编辑器而非传统 IDE，VSCode 核心定位轻量高效，但通过插件系统可扩展出媲美大型 IDE 的功能。VSCode 官方市场提供了超过数万款的插件，支持 Python、Java、C++、Go、JavaScript 等 50 余种编程语言。<br />
<br />
与同领域软件相比，VSCode 优势突出：
<ul>
	<li>
		JetBrains 系列如 WebStorm、PyCharm 功能全面但体积庞大、启动缓慢且需付费订阅；</li>
	<li>
		Sublime Text 虽轻量快速，但插件生态较弱且长期未完全开源。</li>
</ul>
<br />
VSCode 在保持轻量的同时提供免费的企业级功能，且微软官方维护更新频繁，每月发布稳定版本。内存管理和渲染性能优于已停止维护的 Atom，学习曲线又比 Vim/Emacs 平缓，图形界面直观易用，对新手更友好。<br />
<br />
从学生到企业团队，从 Web 开发到数据科学，VSCode 凭借免费、开源、高性能的特性，已成为全球开发者首选工具，社区活跃度持续领先，问题解决和教程资源丰富，大幅降低入门门槛。<br />
<h2>
	下载VSCode</h2>
这里为大家准备好了 VSCode 最新版的安装包，适用于 Windows、Linux 和 Mac OS 平台：
<blockquote>
	<p>
		下载地址：<a href="https://xiecoding.cn/drive.php?id=61" target="_blank">VSCode安装包</a></p>
</blockquote>
<h2>
	安装VSCode</h2>
笔者用的是 Windows 系统，下载名为 VSCodeUserSetup-x64-xxx.exe 的安装文件，双击打开，看到如下图所示的安装界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-2511101UQ2393.gif" /><br />
	图 1 VS Code安装界面</div>
<br />
勾选&ldquo;我接受协议&rdquo;，然后点击&ldquo;下一步&rdquo;，进入下图所示的界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-2511101U915506.gif" /><br />
	图 2 选择安装位置</div>
<br />
<br />
如图 2 所示，建议读者不要将 VS Code 安装到系统盘（通常系统盘是 C 盘），可以安装到其它磁盘中。选择好安装位置后，继续点击&ldquo;下一步&rdquo;，进入下图所示的界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-2511101Z006424.gif" /><br />
	图 3 选择开始菜单文件夹</div>
<br />
这里不需要改动，默认即可，直接点击&ldquo;下一步&rdquo;，进入下图所示的界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-2511101Z112939.gif" /><br />
	图 4&nbsp;选择其他任务</div>
<br />
读者可根据自己的操作习惯，勾选适合自己的选项即可，需要注意的是，&quot;添加到 PATH&quot;选项一定要勾选。选择完成后，点击&ldquo;下一步&rdquo;，进入下图所示的界面。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-2511101Z20NU.gif" /><br />
	图 5&nbsp;安装准备就绪</div>
<br />
如图 5 所示，显示的是前面选择对 VS Code 做的配置，确认无误后点击&ldquo;安装&rdquo;，即可正式安装 VS Code。安装成功后，会出现下图所示的界面，表示安装成功。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-2511101Z300P4.gif" /><br />
	图 6&nbsp;安装成功界面</div>
<br />
点击&ldquo;完成&rdquo;，即可启动 VS Code。
<h2>
	汉化VSCode</h2>
对于英文基础薄弱的读者，可以通过为 VS Code 安装一个 Chinese 插件，使其变为中文版的 VS Code。安装过程如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/241215/2-2412151Z0242V.gif" /><br />
	图 7 汉化 VSCode</div>
<br />
如图所示，依次选择 &quot;Run-&gt;Install Additional Debuggers...&quot;，通过手动输入&ldquo;chinese&rdquo;（或&ldquo;Chinese&rdquo;），点击&ldquo;Install&rdquo;安装第一个，重启 VS Code 即可。<br />
<h2>
	VSCode安装C语言扩展插件</h2>
VSCode 本身并不具备 C 编译器，因此在配置 VS Code 之前，我们必须先在当前系统中安装一个可用的 C 编译器：
<ul>
	<li>
		对于 Windows 系统而言，读者可阅读《<a href="/view/646.html" target="_blank">MinGW下载和安装教程</a>》一节，安装 MinGW（GCC 编译器的移植版）；</li>
	<li>
		对于 Linux 和 Mac OS X 来说，很多系统上都默认安装有 GCC 编译器，如果没有，读者需要自己动手安装。</li>
</ul>
<span style="color: rgb(68, 68, 68); font-family: &quot;Helvetica Neue&quot;, 微软雅黑, &quot;Microsoft Yahei&quot;, Helvetica, Arial, sans-serif; font-size: 14px;">安装好的 GCC 编译器必须支持 gcc 指令。读者可在命令行窗口中分别运行 gcc -v 指令，判断当前系统中是否已配置好了所需的编译环境（如下图所示）：</span><br />
<br />
<div style="text-align: center;">
	<span style="color: rgb(68, 68, 68); font-family: &quot;Helvetica Neue&quot;, 微软雅黑, &quot;Microsoft Yahei&quot;, Helvetica, Arial, sans-serif; font-size: 14px;"><img alt="" src="/uploads/allimg/241215/2-2412151U9452E.gif" /></span><br />
	<span style="color: rgb(68, 68, 68); font-family: &quot;Helvetica Neue&quot;, 微软雅黑, &quot;Microsoft Yahei&quot;, Helvetica, Arial, sans-serif; font-size: 14px;">图 8 验证是否已配置好所需的编译环境</span></div>
<br />
如上图所示，如果执行指令后，输出结果为相应编译器的有关信息，则表明编译器环境以配置成功；反之，如果提示我们&ldquo;指令无效&rdquo;，则表明编译环境尚未配置好。<br />
<br />
使 VS Code 编辑器具备执行 C 语言代码能力的配置方法很简单，只需要为其安装 2 个扩展插件即可，分别为 C/C++扩展插件和 Code&nbsp; Runner 插件。打开 VS Code，其初始界面如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/241215/2-2412151Z04KF.gif" /><br />
	图 9&nbsp;VS Code 的初始界面</div>
<br />
菜单栏中依次选择&quot;运行 -&gt; 安装附加调试器&quot;，会弹出左侧对话框，选择&ldquo;C/C++&rdquo;扩展组件并点击&ldquo;Install&rdquo;进行安装。整个过程如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/241215/2-2412151Z05UX.gif" /><br />
	图 10&nbsp;VS Code 安装&ldquo;C/C++&rdquo;插件</div>
<br />
同样，依次选择&ldquo;运行 -&gt; 安装附加调试器&rdquo;，在左侧对话框中输入&ldquo;Code Runner&rdquo;后按 Enter 回车键，然后选择 Code Runner 并点击 Install 下载。如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/241215/2-2412151Z116333.gif" /><br />
	图 11&nbsp;VS Code 安装 Code Runner 插件</div>
<br />
注意，在已安装 Code Runner 插件的基础上，需要重启 VS Code 后，按下图所示，确定该插件是否安装有&ldquo;Run In Terminal&rdquo;扩展：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/241215/2-2412151Z12A22.gif" /><br />
	图 12&nbsp;确定 Code Runner 插件是否安装有 Run In Terminal 扩展</div>
<br />
由此，VS Code 就可以执行 C 语言程序了。<br />
<br />
依次在菜单栏中选择&ldquo;文件 -&gt; 新建文件&rdquo;，如下为在 VS Code 中编写的一段 C 语言程序，并将其保存为 demo.c：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/241215/2-2412151Z15B49.gif" /><br />
	图 13 VS Code 编写 C 语言程序</div>
<br />
点击右上角的<code>▷</code>符号，即可执行 demo.c 中的程序，如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/241215/2-2412151Z205c8.gif" /><br />
	图 14&nbsp;VS Code 执行程序并输出执行结果</div>
<h2>
	VSCode安装Python扩展插件</h2>
刚刚安装成功的 VS Code 是没有 Python 扩展的，安装此插件的方法也很简单。按照下图所示，点击&ldquo;扩展&rdquo;按钮，并搜索 Python 扩展插件，找到合适的扩展（这里选择的是第一个，这是 Python 的调试工具），选择&ldquo;Install&rdquo;即可安装成功。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-251110192Z2195.gif" /><br />
	图 15 安装 Python 扩展插件</div>
<br />
由此，VS Code 就可以执行 Python 程序了。<br />
<br />
依次在菜单栏中选择&ldquo;文件 -&gt; 新建文件&rdquo;，如下为在 VS Code 中编写的一段 Python 程序，并将其保存为 demo.py：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-25111019361X59.gif" /><br />
	图 16 新建 Python 源文件</div>
<br />
向 demo.py 文件中编写如下代码：
<pre class="python">
print(&quot;Hello,World&quot;)</pre>
代码编写完成后，就可以运行了，具体步骤是，使用组合键&ldquo;Ctrl+F5&rdquo;，或者在菜单栏中选择&ldquo;Debug -&gt; Start Without Debugging&rdquo;，即可看到如下图所示的输出结果。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251110/2-251110193649305.gif" /><br />
	图 17 VSCode 运行 Python 程序</div>
</div>
</div>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/buy/" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p><span>Copyright ©2013-2025 xiecoding.cn</span><span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/icp.png" alt="网络备案"> ICP备案：<a class="grey" href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2025098420号</a></span>
		<span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/gongan.png" alt="公安部网络备案"> 公安部网络备案：<a class="grey" href="https://beian.mps.gov.cn/#/query/webSearch?code=13110202001476" target="_blank">冀公网安备13110202001476号</a></span></p >
	<!-- 回到顶部按钮 -->
	<div id="back-to-top" class="back-to-top" title="回到顶部">
	    <span class="glyphicon glyphicon-menu-up"></span>
	</div>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3Kk6sXrEnyLTeaqP",ck:"3Kk6sXrEnyLTeaqP"})</script>
</span>



</body>
</html>