<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>Eraser硬盘擦除工具下载、安装和使用教程（附安装包，非常详细）</title>
<meta name="keywords" content="Eraser,硬盘,擦除,工具下载,、,安装,和,使用," />
<meta name="description" content="Eraser 是一款开源、免费、专为 Windows 设计的永久数据删除工具。 Eraser 通过多次覆盖技术，把文件簇反复重写，再清空 MFT/目录索引，使数据恢复软件、电子取证设备甚至实验室级磁力显" />
</head>
<body>

<div id="header" class="clearfix">
	<a id="logo" class="left" href="https://xiecoding.cn/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="https://xiecoding.cn/">首页</a></li>
		<li><a href="https://xiecoding.cn/ds/">数据结构教程</a></li>
		<li><a href="https://xiecoding.cn/c/">C语言教程</a></li>
		<li><a href="https://xiecoding.cn/buy/">购买教程</a></li>
		<li><a href="https://xiecoding.cn/sitemap/">更多>></a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<a href="https://xiecoding.cn/user/login.php" class="user-info glyphicon glyphicon-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main-no-course" class="clearfix">
	<div id="arc-info" class="clearfix">
    <!-- 左侧：面包屑导航 -->
    <div class="breadcrumb-wrap left">
        <span class="glyphicon glyphicon-home"></span>
        <span class="breadcrumb-path">
            <a href='https://xiexuewu.github.io/'>主页</a> > <a href='/soft/'>软件下载</a> 
        </span>
    </div>
</div>

<!-- 清除浮动，确保不影响下方标题 -->
<div class="clearfix"></div>
			<h1>Eraser硬盘擦除工具下载、安装和使用教程（附安装包，非常详细）</h1>
			<div id="arc-body">Eraser 是一款开源、免费、专为 Windows 设计的&ldquo;永久数据删除&rdquo;工具。<br />
<br />
<div style="text-align: center;">
	<img alt="Eraser logo" src="/uploads/allimg/251119/2-251119192202532.jpg" style="height: 139px; width: 140px;" /></div>
<br />
Eraser 通过多次覆盖技术，把文件簇反复重写，再清空 MFT/目录索引，使数据恢复软件、电子取证设备甚至实验室级磁力显微镜都无法读回旧信息。<br />
<br />
和 Eraser 同赛道的软件有很多，主流的有 BleachBit、ASCOMP Secure Eraser、Blancco File Eraser 等。相比之下，Eraser 的优势在于：
<ul>
	<li>
		完全免费；</li>
	<li>
		资源占用低，运行时 CPU 占用小于 5%，老机器也可以流畅使用；</li>
	<li>
		资源管理器一键&ldquo;Eraser Secure Delete&rdquo;，学习成本几乎为零。</li>
</ul>
<h2>
	下载Eraser</h2>
借助到发文，Eraser 官方发布的最新版本是 Eraser 6.2.0.2996.exe：
<blockquote>
	<p>
		下载地址：<a href="https://pan.quark.cn/s/960e4edcd064" target="_blank">https://pan.quark.cn/s/960e4edcd064</a></p>
</blockquote>
下载后，能获得一个名为&ldquo;Eraser 6.2.0.2996.exe&rdquo;的安装文件。<br />
<h2>
	安装Eraser</h2>
1) 双击&ldquo;Eraser 6.2.0.2996.exe&rdquo; 启动安装，点击&ldquo;Next&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-251119192252M8.gif" /></div>
<br />
2) 勾选&ldquo;I accept ...&rdquo;，然后点击 &ldquo;Next&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-2511191923054a.gif" /></div>
<br />
3) 建议选择 &ldquo;Custom&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-251119192320258.gif" /></div>
<br />
4) Eraser 默认的安装路径是 C:\Program Files\Eraser\，这里建议安装到非系统盘，比如图中的 D 盘：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-251119192333925.gif" /></div>
<br />
5) 点击&ldquo;Install&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-251119192346407.gif" /></div>
<br />
6) 等待安装完成，出现下图窗口，表示安装完成。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-25111919235RB.gif" /></div>
<h2>
	使用Eraser</h2>
1) 启动 Eraser，主界面如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-251119192415634.gif" /></div>
<br />
2) 在 Eraser 的空白处右键，选择&ldquo;New Task&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-25111919242HP.gif" /></div>
<br />
3) 在弹出的窗口选择&ldquo;Run Immediately&rdquo;，然后点击&ldquo;Add Data&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-251119192441a0.gif" /></div>
<br />
4) 按照下图所示，选择要擦出的硬盘，然后点击&ldquo;Ok&rdquo;，即可开始工作。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251119/2-25111919245BE.gif" /></div>
<br />
等待擦出完成，硬盘中的内容就彻底抹除干净了。</div>
</div>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/buy/" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p><span>Copyright ©2013-2025 xiecoding.cn</span><span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/icp.png" alt="网络备案"> ICP备案：<a class="grey" href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2025098420号</a></span>
		<span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/gongan.png" alt="公安部网络备案"> 公安部网络备案：<a class="grey" href="https://beian.mps.gov.cn/#/query/webSearch?code=13110202001476" target="_blank">冀公网安备13110202001476号</a></span></p >
	<!-- 回到顶部按钮 -->
	<div id="back-to-top" class="back-to-top" title="回到顶部">
	    <span class="glyphicon glyphicon-menu-up"></span>
	</div>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3Kk6sXrEnyLTeaqP",ck:"3Kk6sXrEnyLTeaqP"})</script>
</span>



</body>
</html>