<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>MinGW64官网下载安装保姆级教程（附下载地址，非常详细）</title>
<meta name="keywords" content="MinGW64,官网,下载,安装,保姆,级,教程,附,地址," />
<meta name="description" content="着急下载MinGW的，直接提供下载地址： MinGW-w64安装包 MinGW-w64 是Minimalist GNU for Windows 64-bit的缩写，它把 Linux 下常见的 GCC、G++、GDB 等一整套 GNU 开发工具搬到 Windows，让你不用装虚拟机就" />
</head>
<body>

<div id="header" class="clearfix">
	<a id="logo" class="left" href="https://xiecoding.cn/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="https://xiecoding.cn/">首页</a></li>
		<li><a href="https://xiecoding.cn/ds/">数据结构教程</a></li>
		<li><a href="https://xiecoding.cn/c/">C语言教程</a></li>
		<li><a href="https://xiecoding.cn/buy/">购买教程</a></li>
		<li><a href="https://xiecoding.cn/sitemap/">更多>></a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<a href="https://xiecoding.cn/user/login.php" class="user-info glyphicon glyphicon-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main-no-course" class="clearfix">
	<div id="arc-info" class="clearfix">
    <!-- 左侧：面包屑导航 -->
    <div class="breadcrumb-wrap left">
        <span class="glyphicon glyphicon-home"></span>
        <span class="breadcrumb-path">
            <a href='https://xiexuewu.github.io/'>主页</a> > <a href='/soft/'>软件下载</a> 
        </span>
    </div>
</div>

<!-- 清除浮动，确保不影响下方标题 -->
<div class="clearfix"></div>
			<h1>MinGW64官网下载安装保姆级教程（附下载地址，非常详细）</h1>
			<div id="arc-body"><blockquote>
	<p>
		着急下载MinGW的，直接提供下载地址：<a href="https://pan.quark.cn/s/5453024fea17" target="_blank">MinGW-w64安装包</a></p>
</blockquote>
MinGW-w64 是&ldquo;Minimalist GNU for Windows 64-bit&rdquo;的缩写，它把 Linux 下常见的 GCC、G++、GDB 等一整套 GNU 开发工具搬到 Windows，让你不用装虚拟机就能在 Win 上直接编译 C/C++ 源码并生成 exe。<br />
<br />
MinGW-w64 只依赖微软自带的 C 运行库，编译出的程序体积小，拷到别的 Win 电脑就能跑，不用拖一堆额外 DLL，真正做到了绿色跨平台。<br />
<br />
与 Visual Studio、Clang、Intel C++ 这些同领域工具相比，MinGW-w64 的最大优势是&ldquo;零费用 + 零捆绑&rdquo;。VS 要注册微软账号，Clang 在 Windows 下还得先配 MSVC 平台头文件，Intel 编译器更是收费；而 MinGW-w64 解压后把 bin 目录加到 PATH 就能用，VSCode、CLion、Qt Creator 都内置检测模板，一分钟完成 IntelliSense 与调试配置。它生成的可执行文件默认静态链接 libgcc、libstdc++，部署时只要把 exe 拷给用户即可，省去了 VS 那一堆运行时再分发包，特别适合写算法小工具、刷题脚本或课堂作业。<br />
<br />
MinGW-w64 完全开源，代码托管在 GitHub 上，任何人都能免费下载。<br />
<h2>
	下载MinGW-w64</h2>
<blockquote>
	<p>
		GitHub 下载地址：<a href="https://github.com/niXman/mingw-builds-binaries/releases" target="_blank">https://github.com/niXman/mingw-builds-binaries/releases</a></p>
</blockquote>
国内用户可能存在无法访问、下载速度慢的问题，这里为大家提供了更简单粗暴的下载方式：<a href="https://pan.quark.cn/s/5453024fea17" target="_blank">https://pan.quark.cn/s/5453024fea17</a><br />
<ul>
	<li>
		x86_64-15.2.0-release-win32-seh-ucrt-rt_v13-rev0.7z：适合 Windows 10/11；</li>
	<li>
		x86_64-15.2.0-release-win32-seh-msvcrt-rt_v13-rev0.7z：适合 Win7 等旧版系统。</li>
</ul>
<h2>
	安装MinGW-w64</h2>
1) 我的电脑系统是 Windows 11 专业版，所以下载 x86_64-15.2.0-release-win32-seh-ucrt-rt_v13-rev0.7z 压缩包。<br />
<br />
2) 解压下载的压缩包，比如我将其解压后放到 D 盘的 Mingw64 文件夹里（路径是 D:\mingw64）：<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-2512161950032N.png" /><br />
	<img alt="" src="/uploads/allimg/251216/2-251216195013100.jpg" /><br />
	<img alt="" src="/uploads/allimg/251216/2-2512161950252N.jpg" /></div>
<br />
3) 配置环境变量。电脑桌面上右键&ldquo;此电脑&rdquo;，选择&ldquo;属性&rdquo;：<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-251216195035450.png" /></div>
<br />
找到&ldquo;高级系统设置&rdquo;：<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-25121619504O58.jpg" /></div>
<br />
弹出的窗口中点击&ldquo;环境变量&rdquo;：<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-25121619505T12.jpg" /></div>
<br />
在&quot;系统变量&quot;区域找到并双击&quot;Path&quot;（或者选中后点击&quot;编辑&quot;按钮）：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-251216195111346.jpg" /></div>
<br />
在 Path 变量编辑窗口中，点击&quot;新建&quot;，然后把 D:\mingw64\bin 路径添加进入（D:\mingw64 是之前压缩包解压的文件夹路径）：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-251216195124G7.jpg" /></div>
<br />
依次点击确定，环境变量就配置好了。<br />
<br />
接下来验证 MinGW-w64 是否安装成功。按组件键&ldquo;Win+R&rdquo;，弹出的对话框里输入 cmd：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-251216195136342.jpg" /></div>
<br />
然后回弹出命令行窗口，输入 gcc --version 命令，如果如下图所示输出了 gcc 的版本信息，表明 MinGW-w64 安装成功了。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/251216/2-251216195153615.jpg" /></div></div>
</div>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/buy/" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p><span>Copyright ©2013-2025 xiecoding.cn</span><span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/icp.png" alt="网络备案"> ICP备案：<a class="grey" href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2025098420号</a></span>
		<span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/gongan.png" alt="公安部网络备案"> 公安部网络备案：<a class="grey" href="https://beian.mps.gov.cn/#/query/webSearch?code=13110202001476" target="_blank">冀公网安备13110202001476号</a></span></p >
	<!-- 回到顶部按钮 -->
	<div id="back-to-top" class="back-to-top" title="回到顶部">
	    <span class="glyphicon glyphicon-menu-up"></span>
	</div>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3Kk6sXrEnyLTeaqP",ck:"3Kk6sXrEnyLTeaqP"})</script>
</span>



</body>
</html>