<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>FileZilla客户端下载和安装图文教程（附安装包，亲测有效）</title>
<meta name="keywords" content="FileZilla,客户端,下载和,安装,图文,教程,附,包" />
<meta name="description" content="着急下载 FileZilla 的，直接提供下载地址： FileZilla安装包 FileZilla 是一款开源、免费的 FTP 客户端，专门用于把文件从本地电脑传到远程服务器，或把服务器文件拉回本地。 FileZilla 支持" />
</head>
<body>

<div id="header" class="clearfix">
	<a id="logo" class="left" href="https://xiecoding.cn/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="https://xiecoding.cn/">首页</a></li>
		<li><a href="https://xiecoding.cn/ds/">数据结构教程</a></li>
		<li><a href="https://xiecoding.cn/c/">C语言教程</a></li>
		<li><a href="https://xiecoding.cn/buy/">购买教程</a></li>
		<li><a href="https://xiecoding.cn/sitemap/">更多>></a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<a href="https://xiecoding.cn/user/login.php" class="user-info glyphicon glyphicon-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main-no-course" class="clearfix">
	<div id="arc-info" class="clearfix">
    <!-- 左侧：面包屑导航 -->
    <div class="breadcrumb-wrap left">
        <span class="glyphicon glyphicon-home"></span>
        <span class="breadcrumb-path">
            <a href='https://xiecoding.cn/'>主页</a> > <a href='/soft/'>软件下载</a> 
        </span>
    </div>
</div>

<!-- 清除浮动，确保不影响下方标题 -->
<div class="clearfix"></div>
			<h1>FileZilla客户端下载和安装图文教程（附安装包，亲测有效）</h1>
			<div id="arc-body"><blockquote>
	<p>
		着急下载 FileZilla 的，直接提供下载地址：<a href="https://pan.quark.cn/s/d9f733b41623" target="_blank">FileZilla安装包</a></p>
</blockquote>
FileZilla 是一款开源、免费的 FTP 客户端，专门用于把文件从本地电脑传到远程服务器，或把服务器文件拉回本地。<br />
<br />
FileZilla 支持 Windows、macOS、Linux 三大桌面系统，界面语言自带简体中文，安装包仅四十兆左右，官网提供绿色版，双击即可运行，不需要额外驱动或运行库，对新手最友好。<br />
<br />
站点管理器是 FileZilla 的灵魂，填一次主机、端口、账号、密码就能永久保存，下次双击即可登录，支持分组、备注、颜色标记，站点多了也不乱。<br />
<br />
同领域常见工具还有 WinSCP、Xftp、FlashFXP、CuteFTP、Total Commander 的 FTP 插件：<br />
<ul>
	<li>
		WinSCP 专注 SFTP，界面偏技术；</li>
	<li>
		Xftp 仅限 Windows 且免费版限校园；</li>
	<li>
		FlashFXP 与 CuteFTP 已停更，需付费；</li>
	<li>
		Total Commander 要记快捷键。</li>
</ul>
<br />
相比之下，FileZilla 的优势在完全免费、跨平台、更新活跃、中文完善、社区教程多，而且官网提供独立服务端，可把自家电脑秒变 FTP 分享站，对外发文件不用借第三方网盘，局域网内也能匿名下载，部署成本几乎为零。<br />
<h2>
	下载FileZilla</h2>
<blockquote>
	<p>
		FileZilla最新版下载地址：<a href="https://pan.quark.cn/s/d9f733b41623" target="_blank">https://pan.quark.cn/s/d9f733b41623</a></p>
</blockquote>
<br />
这里给大家分享了多个 FileZilla 安装包，它们的区别如下表所示，大家对号入座：<br />
<br />
<table border="0">
	<thead>
		<tr>
			<th>
				安装包名称</th>
			<th>
				适用平台</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				FileZilla_3.39.0_win32.zip</td>
			<td>
				WindowsXP、Windows2003。</td>
		</tr>
		<tr>
			<td>
				FileZilla_3.68.1_win64.zip</td>
			<td>
				支持 64 位版本的Windows 8.1、10 和 11。</td>
		</tr>
		<tr>
			<td>
				FileZilla_3.68.1_win32.zip</td>
			<td>
				支持 32 位版本的Windows 8.1、10 和 11。</td>
		</tr>
		<tr>
			<td>
				FileZilla_3.68.1_win32-setup.exe</td>
			<td>
				支持 32 位版本的Windows 8.1、10 和 11。</td>
		</tr>
		<tr>
			<td>
				FileZilla_3.68.1_win64-setup.exe</td>
			<td>
				支持 64 位版本的Windows 8.1、10 和 11。</td>
		</tr>
		<tr>
			<td>
				FileZilla_3.68.1_macos-arm64.app.tar.bz2</td>
			<td>
				需要 macOS 10.13.2 或更新版本macOS (Apple Silicon)。</td>
		</tr>
		<tr>
			<td>
				FileZilla_3.68.1_macos-x86.app.tar.bz2</td>
			<td>
				需要 macOS 10.13.2 或更新版本 macOS (Intel)</td>
		</tr>
	</tbody>
</table>
<br />
其中，zip 格式的安装包被官方叫做绿色版，特点是下载即用，不需要安装；exe 格式的是安装包，可以自定义安装。<br />
<h2>
	安装FileZilla</h2>
接下来我将一边安装，一边将安装过程截图给大家看，手把手教大家安装 FileZilla。文章创作不易，如果大家安装成功了，麻烦给我的文章点个小赞赞，拜托大家。<br />
<br />
我使用的是 Windows x64 系统，可以下载 FileZilla_3.68.1_win64-setup.exe，也可以下载 FileZilla_3.68.1_win64.zip，下面分开给大家演示。<br />
<br />
1) 压缩包形式的，下载后解压就能直接用，下面是我解压后得到的文件夹：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201FH96.jpg" /></div>
<br />
双击图中箭头指的 filezilla.exe 文件，就可以启动 filezilla 了，看到的就是下图的 filezilla 主界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201GSN.jpg" /></div>
<br />
如果你下载的 zip 压缩包，可以直接跳到【使用 filezilla】的章节了。<br />
<br />
2) 下载 FileZilla_3.68.1_win64-setup.exe 之后，双击启动安装：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201I0R0.jpg" /></div>
<br />
如果弹出上图的窗口，直接点&ldquo;运行&rdquo;。下图中直接点&ldquo;I Agree&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201J1237.jpg" /></div>
<br />
下图中，默认勾选的是&ldquo;为当前计算机的所有用户安装&rdquo;，还可以改为&ldquo;只为当前用户安装&rdquo;，然后点击 Next：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201K4256.jpg" /></div>
<br />
下图中，Desktop Icon 默认是没有勾选的，建议勾选上，这样安装完成后会在桌面上看到 FileZilla 的图标。然后点击 Next：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201P63B.jpg" /></div>
<br />
下图中，建议将 FileZilla 的安装路径手动修改到非系统盘，我这里因为之前安装过 FileZilla，所以默认是 D 盘，如果你们默认是 C 盘，建议手动修改一下：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201QL45.jpg" /></div>
<br />
直接点击 Install 开始安装：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201S1325.jpg" /></div>
<br />
几乎瞬间都安装完成了，看到下图，点击 Finish 就安装成功了：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201T4641.jpg" /></div>
<br />
在桌面上可以看到，新增了一个 FileZilla 的图标：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201Z0532.jpg" /></div>
<h2>
	使用FileZilla</h2>
FileZilla 默认安装完成后会自动启动，它的主界面如下图所示：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201914Y1.jpg" /></div>
<br />
首先可以熟悉一下 FileZilla 的窗口布局：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-26011520192I26.gif" /></div>
<br />
刚开始看着有点乱，其实大家知道菜单栏在哪里，初期使用的时候主要用图中标识第 5 的服务器窗格多一些，简单了解就行，用的多了就熟悉了。<br />
<br />
接下来是最重要的，用 Filez 连接远程服务器。连接之前，我们必须知道服务器端的以下信息：<br />
<ol>
	<li>
		服务器地址；</li>
	<li>
		登录服务器的用户名和密码；</li>
	<li>
		协议类型（FTP/FTPS/SFTP）和对应的端口号，通常 FTP 的默认是 21，SFTP 的默认是 22；</li>
</ol>
<br />
三者缺一不可，否则是无法连接的。<br />
<br />
我自己租了一台服务器，接下来给大家演示连接的具体过程。连接方式有两种：<br />
<br />
1) 在快速连接栏里，在主机处输入服务器地址，接着输入登录服务器的用户名和密码，点击&ldquo;快速连接&rdquo;。在服务器信息输入无误的情况下，即可快速连接服务器。<br />
<br />
2) 在工具栏里找到下图箭头指向的按钮&ldquo;打开站点管理器&rdquo;，也可以依次在&ldquo;文件 -&gt; 站点管理器&rdquo; 打开它：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115201951A9.jpg" /></div>
<br />
主机处输入服务器的地址，用户处输入用户名，密码处输入用户密码，其他保持默认：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202002240.jpg" /></div>
<br />
然后点击&ldquo;连接&rdquo;，弹出下图的窗口，点击&ldquo;确定&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-2601152020141J.jpg" /></div>
<br />
由此，就连接成功了：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-26011520202Q95.jpg" /></div>
<br />
连接成功以后，我们将本地文件拖到上图的红框里，就可以上传到服务器上。在服务器指定文件处右键，选择&ldquo;下载&rdquo;，也可以将服务器上的文件下载到本地：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202040348.jpg" /></div>
<br />
由此，大家掌握了用 FileZilla 连接服务器，将本地文件上传到服务器，以及下载服务器上的资源，这就是 FileZilla 提供的全部核心功能了。<br />
<br />
最后给大家分享一些使用 FileZilla 过程中需要注意的点：<br />
<ol>
	<li>
		确保服务器的地址、端口号、用户名和密码等信息准确无误，否则是连接不上的。</li>
	<li>
		在传输敏感文件时，建议使用加密的 FTP 协议，如 FTPS 或 SFTP，以确保文件的安全性。</li>
	<li>
		定期更新 FileZilla 客户端，以修复已知的安全漏洞和提高性能。</li>
	<li>
		在传输大量文件时，注意监控网络带宽和服务器负载，以免对其他用户造成不必要的干扰。</li>
</ol></div>
</div>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/buy/" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p><span>Copyright ©2013-2025 xiecoding.cn</span><span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/icp.png" alt="网络备案"> ICP备案：<a class="grey" href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2025098420号</a></span>
		<span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/gongan.png" alt="公安部网络备案"> 公安部网络备案：<a class="grey" href="https://beian.mps.gov.cn/#/query/webSearch?code=13110202001476" target="_blank">冀公网安备13110202001476号</a></span></p >
	<!-- 回到顶部按钮 -->
	<div id="back-to-top" class="back-to-top" title="回到顶部">
	    <span class="glyphicon glyphicon-menu-up"></span>
	</div>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3Kix186Uh7mNIKLU",ck:"3Kix186Uh7mNIKLU"})</script>
</span>



</body>
</html>