<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>OBS Studio直播软件下载、安装和配置教程（附安装包，亲测有效）</title>
<meta name="keywords" content="OBS,Studio,直播,软件下载,、,安装,和,配置,教" />
<meta name="description" content="着急下载OBS Studio 的，直接提供下载地址： OBS Studio 安装包下载 OBS Studio 是一款免费的视频录制与直播软件，支持 Windows、macOS、Linux 三大系统，安装包约一百兆，无广告，无捆绑，无功" />
</head>
<body>

<div id="header" class="clearfix">
	<a id="logo" class="left" href="https://xiecoding.cn/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="https://xiecoding.cn/">首页</a></li>
		<li><a href="https://xiecoding.cn/ds/">数据结构教程</a></li>
		<li><a href="https://xiecoding.cn/c/">C语言教程</a></li>
		<li><a href="https://xiecoding.cn/buy/">购买教程</a></li>
		<li><a href="https://xiecoding.cn/sitemap/">更多>></a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<a href="https://xiecoding.cn/user/login.php" class="user-info glyphicon glyphicon-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main-no-course" class="clearfix">
	<div id="arc-info" class="clearfix">
    <!-- 左侧：面包屑导航 -->
    <div class="breadcrumb-wrap left">
        <span class="glyphicon glyphicon-home"></span>
        <span class="breadcrumb-path">
            <a href='https://xiexuewu.github.io/'>主页</a> > <a href='/soft/'>软件下载</a> 
        </span>
    </div>
</div>

<!-- 清除浮动，确保不影响下方标题 -->
<div class="clearfix"></div>
			<h1>OBS Studio直播软件下载、安装和配置教程（附安装包，亲测有效）</h1>
			<div id="arc-body"><blockquote>
	<p>
		着急下载&nbsp;OBS Studio 的，直接提供下载地址：<a href="https://pan.quark.cn/s/b4b8672fe61b" target="_blank">OBS Studio 安装包下载</a></p>
</blockquote>
OBS Studio 是一款免费的视频录制与直播软件，支持 Windows、macOS、Linux 三大系统，安装包约一百兆，无广告，无捆绑，无功能限制，任何人均可下载使用。<br />
<br />
OBS Studio 主界面看似复杂，其实只有&ldquo;场景&rdquo;、&ldquo;来源&rdquo;、&ldquo;混音器&rdquo;、&ldquo;转场&rdquo;四大块，把所有素材拖进&ldquo;来源&rdquo;就能叠加画面，把推流地址粘进&ldquo;设置&rdquo;就能一键开播，新手十分钟即可跑通&ldquo;录屏&rarr;保存&rdquo;或&ldquo;添加摄像头&rarr;推流&rdquo;的最短路径。<br />
<br />
同领域常见替代有 Bandicam、Camtasia、XSplit、Streamlabs、腾讯会议自带录屏、哔哩哔哩直播姬等：<br />
<ul>
	<li>
		Bandicam 和 Camtasia 是付费软件，功能侧重&ldquo;录完再剪&rdquo;，无推流模块；</li>
	<li>
		XSplit 免费版有水印，高级版按年收费；</li>
	<li>
		Streamlabs 基于 OBS 源码二次封装，资源占用高且部分插件需付费；</li>
	<li>
		平台官方工具虽上手快，却只能推自家流，画质参数受限。</li>
</ul>
<br />
相比之下，OBS 的优势是：零费用、无广告、全功能、参数最细、插件最多、跨平台、社区最大，还能同时把本地 4K 录制与多平台 1080p 直播一起跑，只要电脑有独立显卡，就能在专业与易用之间取得最平衡的方案。<br />
<h2>
	下载OBS Studio</h2>
<blockquote>
	<p>
		OBS Studio 安装包下载地址：<a href="https://pan.quark.cn/s/b4b8672fe61b" target="_blank">https://pan.quark.cn/s/b4b8672fe61b</a></p>
</blockquote>
<h2>
	安装OBS Studio</h2>
我用的是 Windows x64 平台，下载 OBS-Studio-32.0.2-Windows-x64-Installer.exe 安装包，双击启动安装，点击 Next：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202G6413.jpg" /></div>
<br />
再点击 Next：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202HY14.jpg" /></div>
<br />
默认安装到 C 盘，建议手动修改到其他系统盘，比如下图中的 D 盘，然后点击 Install：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202J14Q.jpg" /></div>
<br />
等待安装完成：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202K4X4.jpg" /></div>
<br />
出现下图，表示安装完成：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202P5A4.jpg" /></div>
<br />
安装完成后，会看到桌面上增加了 OBS Studio 的图标：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202QL26.jpg" /></div>
<br />
同时 OBS Studio 会自动启动。<br />
<h2>
	配置OBS Studio</h2>
1) 首次启动 OBS Studio，会弹出配置窗口：<br />
<ul>
	<li>
		如果是搞直播，建议勾选第 1 项&ldquo;优先优化直播，...&rdquo;；</li>
	<li>
		如果以录制为主，比如录网课、录视频等，勾选第 2 项 &ldquo;仅优化录制...&rdquo;；</li>
	<li>
		如果只使用虚拟摄像头，勾选第 3 项。</li>
</ul>
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202T4637.jpg" /></div>
<br />
2) 设置分辨率<br />
分辨率和帧率建议保持默认即可，不需要修改，高手随意。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-2601152029112M.jpg" /></div>
<br />
3) 完成配置，点击&ldquo;应用设置&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115202926457.jpg" /></div>
<h2>
	OBS Studio常见问题和解决方案</h2>
1) 无法启动、黑屏、白屏等问题
<ul>
	<li>
		Windows：若使用 NVIDIA 显卡笔记本，需在 NVIDIA 控制面板中为 OBS 指定&ldquo;集成显卡&rdquo;。</li>
	<li>
		macOS：检查系统权限（屏幕录制、麦克风权限）并更新系统至最新版本。</li>
	<li>
		缺少DLL文件：安装最新版 DirectX End-User Runtime（Windows）。</li>
	<li>
		游戏捕获失败：以管理员身份运行 OBS，或切换游戏至&ldquo;无边框窗口模式&rdquo;。</li>
</ul>
<br />
2) obs studio的工具选项里为何没有虚拟摄像头?<br />
将虚拟摄像机的插件安装在同一个目录下，然后重启 obs。即可使用虚拟摄像头。<br />
<br />
3) obs studio怎么设置画质才好?<br />
首先打开设置面板，切换左侧选项卡至视频，在此调节即可。建议：帧数 25，码率 1100-1500，品质 6 或者 7，其他不要动。视频压缩比 1280x720，开不开直播延迟都没关系。</div>
</div>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/buy/" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p><span>Copyright ©2013-2025 xiecoding.cn</span><span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/icp.png" alt="网络备案"> ICP备案：<a class="grey" href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2025098420号</a></span>
		<span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/gongan.png" alt="公安部网络备案"> 公安部网络备案：<a class="grey" href="https://beian.mps.gov.cn/#/query/webSearch?code=13110202001476" target="_blank">冀公网安备13110202001476号</a></span></p >
	<!-- 回到顶部按钮 -->
	<div id="back-to-top" class="back-to-top" title="回到顶部">
	    <span class="glyphicon glyphicon-menu-up"></span>
	</div>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3Kk6sXrEnyLTeaqP",ck:"3Kk6sXrEnyLTeaqP"})</script>
</span>



</body>
</html>