<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>Dreamweaver8免费版下载安装图文教程（附安装包，非常详细）</title>
<meta name="keywords" content="Dreamweaver8,免费版,下载,安装,图文,教程,附" />
<meta name="description" content="着急下载Dreamweaver 的，直接提供下载地址： Dreamweaver 8免费版安装包 Dreamweaver 8 是 2005 年 Macromedia 推出的网页三剑客之一，定位就是不用写代码也能做网页。 Dreamweaver 的核心功能就三块" />
</head>
<body>

<div id="header" class="clearfix">
	<a id="logo" class="left" href="https://xiecoding.cn/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="https://xiecoding.cn/">首页</a></li>
		<li><a href="https://xiecoding.cn/ds/">数据结构教程</a></li>
		<li><a href="https://xiecoding.cn/c/">C语言教程</a></li>
		<li><a href="https://xiecoding.cn/buy/">购买教程</a></li>
		<li><a href="https://xiecoding.cn/sitemap/">更多>></a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<a href="https://xiecoding.cn/user/login.php" class="user-info glyphicon glyphicon-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main-no-course" class="clearfix">
	<div id="arc-info" class="clearfix">
    <!-- 左侧：面包屑导航 -->
    <div class="breadcrumb-wrap left">
        <span class="glyphicon glyphicon-home"></span>
        <span class="breadcrumb-path">
            <a href='https://xiecoding.cn/'>主页</a> > <a href='/soft/'>软件下载</a> 
        </span>
    </div>
</div>

<!-- 清除浮动，确保不影响下方标题 -->
<div class="clearfix"></div>
			<h1>Dreamweaver8免费版下载安装图文教程（附安装包，非常详细）</h1>
			<div id="arc-body"><blockquote>
	<p>
		着急下载&nbsp;Dreamweaver 的，直接提供下载地址：<a href="https://pan.quark.cn/s/a1c71008e1ed" target="_blank">Dreamweaver 8免费版安装包</a></p>
</blockquote>
Dreamweaver 8 是 2005 年 Macromedia 推出的网页三剑客之一，定位就是&ldquo;不用写代码也能做网页&rdquo;。<br />
<br />
Dreamweaver 的核心功能就三块：可视化编辑、代码提示、站点管理。设计视图里，常用 HTML 元素被做成按钮，点一下插表格、插表单、插 Flash，属性面板直接改字体、改颜色，改完立即看到效果；代码视图支持 HTML、CSS、JavaScript、PHP 语法高亮，输入&ldquo;&lt;ta&rdquo;会自动补完&ldquo;&lt;table&gt;<br />
<br />
Dreamweaver 8 的安装包不到 100 MB，奔四老机器也能跑，对新手最友好的一点是：打开就能看见&ldquo;设计视图&rdquo;和&ldquo;代码视图&rdquo;左右并排，拖一张图片进去，代码自动生成，保存即成网页。<br />
<br />
跟 CS 系列相比：<br />
<ul>
	<li>
		Dreamweaver 8 的界面更简洁，左边只有插入、属性、文件三个浮动窗，没有后来层层叠叠的 20 多个面板，新手不会被选项淹没；</li>
	<li>
		启动速度也快，双击图标三秒就能新建文件。</li>
</ul>
<br />
正因为它&ldquo;老&rdquo;，反而成了教学机构最爱，课堂上一台 1G 内存的 XP 机器就能流畅演示，老师不用先花半节课讲插件安装 。<br />
<h2>
	下载Dreamweaver8</h2>
Dreamweaver 8免费版安装包下载地址：<a href="https://pan.quark.cn/s/a1c71008e1ed" target="_blank">https://pan.quark.cn/s/a1c71008e1ed</a><br />
<h2>
	安裝Dreamweaver8</h2>
1) 下载 Dreamweaver 8 的安装包，解压后得到下图的文件夹：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204649346.jpg" /></div>
<br />
2) 双击启动 Dreamweaver8-chs.exe：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204F4558.jpg" /></div>
<br />
可能我先前安装过，所以这里给出了提示，这里我选择全部覆盖。<br />
<br />
3) 点击下一步：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204G5230.jpg" /></div>
<br />
4) 勾选&ldquo;我接受&rdquo;，然后点击&ldquo;下一步&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204H5X4.jpg" /></div>
<br />
5) 默认安装到 C 盘，这里建议手动修改到其他盘（非系统盘），比如下图中我安装到了 D 盘。此外，大家可以根据需要自由勾选创建快捷方式：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204IH19.jpg" /></div>
<br />
6) 保持默认，直接点击&ldquo;下一步&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204QU24.jpg" /></div>
<br />
7) 点击&ldquo;安装&rdquo;，正式开始安装：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204S09E.jpg" /></div>
<br />
8) 等待安装完成：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204T3508.jpg" /></div>
<br />
9) 点击&ldquo;完成&rdquo;，Dreamweaver 8 就安装完成了。<br />
<h2>
	启动Dreamweaver8</h2>
首次启动 Dreamweaver 8，会弹出下图的窗口，主界面有 2 种布局，大家可以任选一种，我更喜欢右侧的布局：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204UI62.jpg" /></div>
<br />
点击&ldquo;确定&rdquo;之后，就成功进入了 Dreamweaver 8 的主界面：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115204912460.jpg" /></div>
<br />
注意，和网络上其他分享者的安装过程不同，可能是安装包的缘故，本文安装的 Dreamweaver 8 并没有弹出激活、填写注册码这样的界面。不过，也可能是我之前激活过，所以安装包还是给大家分享了一个注册码，不确定是否能用，因为我没用到。<br />
<br />
以上安装过程，本人亲测，创作不易，希望大家安装成功后给个好评。</div>
</div>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/buy/" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p><span>Copyright ©2013-2025 xiecoding.cn</span><span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/icp.png" alt="网络备案"> ICP备案：<a class="grey" href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2025098420号</a></span>
		<span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/gongan.png" alt="公安部网络备案"> 公安部网络备案：<a class="grey" href="https://beian.mps.gov.cn/#/query/webSearch?code=13110202001476" target="_blank">冀公网安备13110202001476号</a></span></p >
	<!-- 回到顶部按钮 -->
	<div id="back-to-top" class="back-to-top" title="回到顶部">
	    <span class="glyphicon glyphicon-menu-up"></span>
	</div>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3Kix186Uh7mNIKLU",ck:"3Kix186Uh7mNIKLU"})</script>
</span>



</body>
</html>