<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="/templets/default/style/common.css?v=1.2" rel="stylesheet" />
<title>Xshell8免费版下载保姆级安装教程（附安装包，超详细）</title>
<meta name="keywords" content="Xshell8,免费版,下载,保姆,级,安装,教程,附,包," />
<meta name="description" content="着急下载 XShell 的，直接提供下载地址： Xshell 8安装包下载 XShell 是一款 Windows 平台上的远程控制软件，专门用 SSH、Telnet、Serial 等协议把本地电脑和远程 Linux、Unix、网络设备连在一起。" />
</head>
<body>

<div id="header" class="clearfix">
	<a id="logo" class="left" href="https://xiecoding.cn/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="玩转C语言和数据结构Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="https://xiecoding.cn/">首页</a></li>
		<li><a href="https://xiecoding.cn/ds/">数据结构教程</a></li>
		<li><a href="https://xiecoding.cn/c/">C语言教程</a></li>
		<li><a href="https://xiecoding.cn/buy/">购买教程</a></li>
		<li><a href="https://xiecoding.cn/sitemap/">更多>></a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<a href="https://xiecoding.cn/user/login.php" class="user-info glyphicon glyphicon-user hover-none" target="_blank" rel="nofollow" title="用户中心"></a>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main-no-course" class="clearfix">
	<div id="arc-info" class="clearfix">
    <!-- 左侧：面包屑导航 -->
    <div class="breadcrumb-wrap left">
        <span class="glyphicon glyphicon-home"></span>
        <span class="breadcrumb-path">
            <a href='https://xiexuewu.github.io/'>主页</a> > <a href='/soft/'>软件下载</a> 
        </span>
    </div>
</div>

<!-- 清除浮动，确保不影响下方标题 -->
<div class="clearfix"></div>
			<h1>Xshell8免费版下载保姆级安装教程（附安装包，超详细）</h1>
			<div id="arc-body"><blockquote>
	<p>
		着急下载 XShell 的，直接提供下载地址：<a href="https://pan.quark.cn/s/eaf1cce77d75" target="_blank">Xshell 8安装包下载</a></p>
</blockquote>
XShell 是一款 Windows 平台上的远程控制软件，专门用 SSH、Telnet、Serial 等协议把本地电脑和远程 Linux、Unix、网络设备连在一起。<br />
<br />
XShell 支持 RLOGIN、SFTP、SERIAL、TELNET、SSH2 和 SSH1，可以非常方便的对 Linux 主机进行远程管理。XShell 还支持文件传输，不必另开软件，拖拽即传，断点自动续传。<br />
<br />
和先前的旧版本相比，Xshell 8 的最大亮点是&ldquo;多会话脚本&rdquo;，可一次性给 100 台服务器发命令，后台并行执行，结果汇总到一张表格，运维再也不用一台台点开。<br />
<br />
同类工具里：<br />
<ul>
	<li>
		PuTTY 体积最小，但无多标签、无会话保存、传文件还得靠 WinSCP；</li>
	<li>
		SecureCRT 功能全，界面老旧且售价高；</li>
	<li>
		FinalShell 国产免费，内置监控图表，可脚本功能弱；</li>
	<li>
		MobaXterm 集成度高，启动慢，偶尔广告弹窗。</li>
</ul>
<br />
相比之下，Xshell 8 的优势是&ldquo;快、稳、省&rdquo;，内存占用比 MobaXterm 低一半，大文件传输速度比 FinalShell 快 30%，界面又比 SecureCRT 现代。<br />
<h2>
	下载Xshell</h2>
Xshell 8安装包下载地址：<a href="https://pan.quark.cn/s/eaf1cce77d75" target="_blank">https://pan.quark.cn/s/eaf1cce77d75</a><br />
<h2>
	安装Xshell</h2>
1)&nbsp; 下载 Xshell 8 的安装包：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211042396.jpg" /></div>
<br />
2) 双击启动安装，点击&ldquo;下一步&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211052415.jpg" /></div>
<br />
3) 勾选&ldquo;我接受...&rdquo;，然后点击&ldquo;下一步&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211104396.jpg" /></div>
<br />
4) 默认安装到 C 盘，除非电脑中只有一个盘，否则强烈建议安装到其它盘（非系统盘），比如下图中我安装到了 D 盘，然后点击&ldquo;下一步&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211114548.jpg" /></div>
<br />
5) 直接点击&ldquo;安装&rdquo;：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211125532.jpg" /></div>
<br />
6) 等待安装完成，进度条到 100% 后，会弹出下图，表示完成安装：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211135154.jpg" /></div>
<h2>
	启动Xshell</h2>
首次启动 Xshell，会弹出下图，输入邮箱，然后点击提交，这里注册是免费的哈：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211149264.jpg" /></div>
<br />
Xshell 会给你的邮箱发送一个链接，进入邮箱点击这个链接，就注册成功了：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-2601152112001a.jpg" /></div>
<br />
重启 Xshell 8 之后，会发现成功打开了。<br />
<h2>
	使用Xshell连接Linux</h2>
启动 Xshell，第一次会自动打开会话窗口：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211213I8.jpg" /></div>
<br />
点击左上角的&ldquo;新建&rdquo;进入下图窗口：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-260115211224503.jpg" /></div>
<br />
当然，点击菜单栏中的文件-&gt;新建，也可以打开上图的窗口：<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-26011521123A58.jpg" /></div>
<br />
在&ldquo;主机&rdquo;栏输入 Linux 虚拟机的 IP 地址或主机名，&ldquo;端口&rdquo;栏默认为 22（除非你更改了SSH端口）。同时，我们还需要配置身份验证方式：<br />
<br />
1) 使用SSH密钥验证：选择&ldquo;身份验证&rdquo;选项卡，在&ldquo;私钥文件&rdquo;栏中，点击&ldquo;浏览&rdquo;按钮，选择您已准备好的SSH 私钥文件（如果是.pem文件，确保它已被转换为Xshell支持的格式，如.ppk）。<br />
<br />
2) 使用密码验证：选择&ldquo;身份验证&rdquo;选项卡，在&ldquo;密码&rdquo;栏中，输入服务器的用户名和登录密码。<br />
<br />
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/260115/2-26011521124M03.jpg" /></div>
<br />
最后点击&ldquo;连接&rdquo;，只要输入的信息全部正确，就可以连接成功。</div>
</div>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">编程笔记</a></li>
		<li><a href="/buy/" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/about_website.html" target="_blank">关于网站</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
	<p><span>Copyright ©2013-2025 xiecoding.cn</span><span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/icp.png" alt="网络备案"> ICP备案：<a class="grey" href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2025098420号</a></span>
		<span style="padding: 0px 5px;">&nbsp;</span>
		<span><img src="/templets/default/images/gongan.png" alt="公安部网络备案"> 公安部网络备案：<a class="grey" href="https://beian.mps.gov.cn/#/query/webSearch?code=13110202001476" target="_blank">冀公网安备13110202001476号</a></span></p >
	<!-- 回到顶部按钮 -->
	<div id="back-to-top" class="back-to-top" title="回到顶部">
	    <span class="glyphicon glyphicon-menu-up"></span>
	</div>
</div>

<script src="/templets/default/script/jquery1.12.4.min.js"></script>
<script src="/templets/default/script/jquery.snippet.js"></script>
<script src="/templets/default/script/common.js?v=1.2"></script>
<span style="display: none;">
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3Kk6sXrEnyLTeaqP",ck:"3Kk6sXrEnyLTeaqP"})</script>
</span>



</body>
</html>