<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="renderer" content="webkit" /> <!-- 让360支持高速渲染模式 -->
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store, must-revalidate" /> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" /> 
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" href="/favicon.ico?v=1.2" />
<link href="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/style/common.css" rel="stylesheet" />
<title>链表的创建，头插法创建单链表（带源码+解析）</title>
<meta name="keywords" content="链表,的,创建,头,插法,单链表,带,源码,解析," />
<meta name="description" content="头插法创建单链表 ，即通过不断地将新创建的结点添加到链表的第一个数据结点之前，作为链表新的首个数据结点的方法，创建单链表。 根据链表是否有头结点，头插法插入结点的位" />
</head>
<body>
<div id="header" class="clearfix">
	<a id="logo" class="left" href="/">
		<img height="26" src="/templets/default/images/logo_monkey.png" alt="数据结构和算法教程（C语言版）Logo" />
	</a>
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a href="/">首页</a></li>
		<li><a href="/ds/">数据结构教程</a></li>
		<li><a href="/c/">C语言教程</a></li>
		<li><a href="/view/212.html">购买教程</a></li>
		<!--<li><a href="/c/">辅导班</a></li>-->
	</ul>
	<span id="sidebar-toggle" class="toggle-btn" toggle-target="#sidebar">目录 <span class="glyphicon"></span></span>
</div>
<!--qq交流群
<div id="header" class="clearfix">
	<ul id="nav-main" class="hover-none left clearfix">
		<li><a style="padding-left:10px" href="/uploads/allimg/240128/2-24012R01153206.jpg" target="_blank">QQ交流群：937184979</a></li>
	</ul>
</div>-->
<div id="main" class="clearfix">
	<div id="sidebar" class="toggle-target">
	<div id="contents">
		<dt><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>教程目录</dt>
		
			<dd>
				<span class="channel-num">1</span>
				<a href='/intro/'>数据结构概述</a>
			</dd>
		
			<dd>
				<span class="channel-num">2</span>
				<a href='/linear_list/'>线性表</a>
			</dd>
		
			<dd>
				<span class="channel-num">3</span>
				<a href='/stack_queue/'>栈和队列</a>
			</dd>
		
			<dd>
				<span class="channel-num">4</span>
				<a href='/string/'>字符串</a>
			</dd>
		
			<dd>
				<span class="channel-num">5</span>
				<a href='/array_list/'>数组和广义表</a>
			</dd>
		
			<dd>
				<span class="channel-num">6</span>
				<a href='/tree/'>树</a>
			</dd>
		
			<dd>
				<span class="channel-num">7</span>
				<a href='/graph/'>图</a>
			</dd>
		
			<dd>
				<span class="channel-num">8</span>
				<a href='/search/'>查找算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">9</span>
				<a href='/sort/'>排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">10</span>
				<a href='/out_sort/'>外部排序算法</a>
			</dd>
		
			<dd>
				<span class="channel-num">11</span>
				<a href='/memory/'>动态内存管理</a>
			</dd>
		
			<dd>
				<span class="channel-num">12</span>
				<a href='/video/'>视频教程推荐</a>
			</dd>
		
	</div>
</div>
	<div id="article-wrap">
		<div id="article">
			<div id="arc-info">
	作者：解学武
</div>
			<h1>链表的创建，头插法创建单链表（带源码+解析）</h1>
			<div id="arc-body"><span style="color:#008000;">头插法创建单<u><a href='/view/290.html' target='_blank'>链表</a></u></span>，即通过不断地将新创建的结点添加到链表的第一个数据结点之前，作为链表新的首个数据结点的方法，创建单链表。<br />
<br />
<span style="color:#b22222;">根据链表是否有头结点，头插法插入结点的位置有所不同</span>：
<ul>
	<li>
		<span style="color:#008000;">若链表存在头结点，头插法需将新结点插入到头结点之后的位置。</span>例如，采用头插法，将数据 {1,2,3} 依次插入到具有头结点的链表中，其插入过程如下图所示：</li>
</ul>
<div style="text-align: center;">
	<img alt="" src="/uploads/allimg/180426/2-1P426130434I9.png" style="width: 400px; height: 295px;" /><br />
	&nbsp;</div>
<ul>
	<li>
		<span style="color:#008000;">若链表不存在头结点，头插法需将新结点插入到头指针指向的位置。</span>如下图所示：</li>
</ul>
<div style="text-align: center;">
	<br />
	<img alt="" src="/uploads/allimg/180426/2-1P426130505147.png" style="width: 300px; height: 274px;" /></div>
<h2>
	实现代码</h2>
<pre class="cpp">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;
typedef struct Link {
&nbsp;&nbsp;&nbsp; int&nbsp; elem;
&nbsp;&nbsp;&nbsp; struct Link *next;
}link;
//无头结点链表的头插法实现函数
link * creatLink(int * arc, int length) {
&nbsp;&nbsp;&nbsp; int i;
&nbsp;&nbsp;&nbsp; //最初状态下，头指针 H 没有任何结点，所以，插入第一个元素，就相当于是创建结点 H
&nbsp;&nbsp;&nbsp; link * H =(link*)malloc(sizeof(link));
&nbsp;&nbsp;&nbsp; H-&gt;elem = arc[0];
&nbsp;&nbsp;&nbsp; H-&gt;next = NULL;
&nbsp;&nbsp;&nbsp; //如果采用头插法插入超过 1 个元素，则可添加到第一个结点 H 之前
&nbsp;&nbsp;&nbsp; for (i = 1; i&lt;length; i++) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; link * a = (link*)malloc(sizeof(link));
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a-&gt;elem = arc[i];
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; //插入元素时，首先将插入位置后的链表链接到新结点上
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a-&gt;next = H;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; //然后再链接头指针 H
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H = a;
&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp; return H;
}
//有头结点链表的头插法实现函数
link * HcreatLink(int * arc, int length) {
&nbsp;&nbsp;&nbsp; int i;
&nbsp;&nbsp;&nbsp; //创建头结点 H，其链表的头指针也是 H
&nbsp;&nbsp;&nbsp; link * H = (link*)malloc(sizeof(link));
&nbsp;&nbsp;&nbsp; H-&gt;elem = 0;
&nbsp;&nbsp;&nbsp; H-&gt;next = NULL;
&nbsp;&nbsp;&nbsp; //采用头插法创建链表
&nbsp;&nbsp;&nbsp; for (i = 0; i&lt;length; i++) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; link * a = (link*)malloc(sizeof(link));
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a-&gt;elem = arc[i];
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; //首先将插入位置之后的链表链接到新结点 a 上
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a-&gt;next = H-&gt;next;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; //将新结点 a 插入到头结点之后的位置
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H-&gt;next = a;
&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp; return H;
}
//链表的输出函数
void display(link *p) {
&nbsp;&nbsp;&nbsp; while (p) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; printf(&quot;%d &quot;, p-&gt;elem);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; p = p-&gt;next;
&nbsp;&nbsp;&nbsp; }
&nbsp;&nbsp;&nbsp; printf(&quot;\n&quot;);
}
int main() {
&nbsp;&nbsp;&nbsp; int a[3] = { 1,2,3 };
&nbsp;&nbsp;&nbsp; //采用头插法创建无头结点链表
&nbsp;&nbsp;&nbsp; link * H = creatLink(a, 3);
&nbsp;&nbsp;&nbsp; display(H);
&nbsp;&nbsp;&nbsp; //采用头插法创建有头结点链表
&nbsp;&nbsp;&nbsp; link * head = HcreatLink(a, 3);
&nbsp;&nbsp;&nbsp; display(head);
&nbsp;&nbsp;&nbsp; //使用完毕后，释放即可
&nbsp;&nbsp;&nbsp; free(H);
&nbsp;&nbsp;&nbsp; free(head);
&nbsp;&nbsp;&nbsp; return 0;
}
</pre>
<span style="color:#008000;">运行结果：</span>
<div class="info-box">
	3 2 1<br />
	0 3 2 1</div>
<blockquote>
	<p>
		<span style="color:#b22222;">提示：</span>没有 0 的为无头结点的头插法输出结果，有 0 的为有头结点的头插法的输出结果</p>
</blockquote>
</div>
		</div>
		
	</div>
</div>
<div id="addweixin-widget" class="clearfix">
	<div class="box">
		<p>
			<a href="/uploads/allimg/240115/2-240115210631414.png" target="_blank"><img src="/uploads/allimg/240115/2-240115210631414.png" alt="添加微信咨询" title="点击查看大图"></a>
			<span class="pc-tip">添加管理员微信<br/>免费领视频教程</span>
			<span class="wap-tip">加管理员微信免费领视频教程<br>微信ID：xiexuewu333</span>
		</p>
		<span id="close-addweixin-widget" class="glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<script type="text/javascript">
// 当前文章ID
window.arcIdRaw = 'a_' + 93;
window.arcId = "0807c726zqRd1BvlGHnO+CK/4b04nAbtq4tp2L9bRX2/Zs0UO/C7jGV9";
window.siteId = 1;
window.cmsTempletsVer = "1.2";
</script>
<div id="footer">
	<ul id="nav-bottom" class="clearfix">
		<li><a href="/sitemap/" target="_blank">最近更新</a></li>
		<li><a href="/view/212.html" target="_blank">购买教程（带答疑）</a></li>
		<li><a href="/view/267.html" target="_blank">联系站长</a></li>
	</ul>
</div>

<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery1.12.4.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/jquery.snippet.min.js"></script>
<script src="https://testingcf.jsdelivr.net/gh/xiexuewu/xie_css_js@1.0.0/script/common.js"></script>

<span style="display:none;"><script src="https://s22.cnzz.com/z_stat.php?id=1273514649&web_id=1273514649" language="JavaScript"></script></span>
</body>
</html>